Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.18.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(backend): recover tracks stranded in New status
  apps/backend/src/application/use-cases/tracks/rescue-stuck-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/rescue-stuck-tracks.use-case.ts
  apps/backend/src/infrastructure/jobs/index.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): cover multi-status rescue loop
  apps/backend/src/application/use-cases/tracks/rescue-stuck-tracks.use-case.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): recover tracks stranded in New status (#175)
  apps/backend/src/application/use-cases/tracks/rescue-stuck-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/rescue-stuck-tracks.use-case.ts
  apps/backend/src/infrastructure/jobs/index.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(track-repo): add failing tests for lastActivityAt-keyed findStuckTracks (R1)
  apps/backend/src/infrastructure/database/prisma-track.repository.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(track-repo): add lastActivityAt BigInt column + stamp on every write + rekey findStuckTracks
  apps/backend/prisma/migrations/20260616111929_add_track_last_activity_at/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/infrastructure/database/prisma-track.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): rename findStuckTracks param to activeBefore + fix test typing
  apps/backend/src/application/services/track.service.ts
  apps/backend/src/application/use-cases/tracks/get-tracks.use-case.ts
  apps/backend/src/domain/repositories/track.repository.ts
  apps/backend/src/infrastructure/database/prisma-track.repository.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): re-key stuck-track detection on last activity (recovery redesign 1/5) (#176)
  apps/backend/prisma/migrations/20260616111929_add_track_last_activity_at/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/services/track.service.ts
  apps/backend/src/application/use-cases/tracks/get-tracks.use-case.ts
  apps/backend/src/domain/repositories/track.repository.ts
  apps/backend/src/infrastructure/database/prisma-track.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-track.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): prevent duplicate downloads and lost terminal writes (recovery redesign 2/5)
  apps/backend/src/application/use-cases/tracks/download-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/download-track.use-case.ts
  apps/backend/src/domain/repositories/track.repository.ts
  apps/backend/src/infrastructure/database/prisma-track.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-track.repository.ts
  apps/backend/src/infrastructure/messaging/bullmq-track-queue.service.ts
  apps/backend/src/infrastructure/workers/track-search.worker.test.ts
  apps/backend/src/infrastructure/workers/track-search.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): address CAS review — guard history on terminal write, drop failed jobs
  apps/backend/src/application/use-cases/tracks/download-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/download-track.use-case.ts
  apps/backend/src/infrastructure/messaging/bullmq-track-queue.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): idempotent terminal writes + download dedup (recovery redesign 2/5) (#177)
  apps/backend/src/application/use-cases/tracks/download-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/download-track.use-case.ts
  apps/backend/src/domain/repositories/track.repository.ts
  apps/backend/src/infrastructure/database/prisma-track.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-track.repository.ts
  apps/backend/src/infrastructure/messaging/bullmq-track-queue.service.ts
  apps/backend/src/infrastructure/workers/track-search.worker.test.ts
  apps/backend/src/infrastructure/workers/track-search.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(schema): add searchAttempts Int column to Track (recovery redesign 3/5)
  apps/backend/prisma/migrations/20260616160000_add_track_search_attempts/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

feat(domain): add TERMINAL_TRACK_ERROR_CODES + isTerminalError() + searchAttempts to Track entity
  apps/backend/src/domain/entities/track.entity.test.ts
  apps/backend/src/domain/entities/track.entity.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(tracks): wire attempt cap + searchAttempts increment/reset in search path (recovery redesign 3/5)
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
  apps/backend/src/infrastructure/database/prisma-track.repository.ts
  apps/backend/src/infrastructure/workers/track-search.worker.test.ts
  apps/backend/src/infrastructure/workers/track-search.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): wire isTerminalError into the search cap guard
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): bounded search attempts + terminal-error classification (recovery redesign 3/5) (#178)
  apps/backend/prisma/migrations/20260616160000_add_track_search_attempts/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
  apps/backend/src/domain/entities/track.entity.test.ts
  apps/backend/src/domain/entities/track.entity.ts
  apps/backend/src/infrastructure/database/prisma-track.repository.ts
  apps/backend/src/infrastructure/workers/track-search.worker.test.ts
  apps/backend/src/infrastructure/workers/track-search.worker.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

test(track-recovery): add TDD tests for global error drainer + regression guard (slice 4/5)
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/recover-errored-tracks.use-case.test.ts
  apps/backend/src/infrastructure/jobs/recover-errored-tracks.job.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(track-recovery): global Error drainer + remove sync Error-redrive block (slice 4/5)
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
  apps/backend/src/application/use-cases/tracks/recover-errored-tracks.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/jobs/index.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): pin global-drain contract + document recovery interval
  apps/backend/src/application/use-cases/tracks/recover-errored-tracks.use-case.test.ts
  apps/backend/src/infrastructure/jobs/index.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): global Error drainer for all playlist origins (recovery redesign 4/5) (#179)
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
  apps/backend/src/application/use-cases/tracks/recover-errored-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/recover-errored-tracks.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/jobs/index.ts
  apps/backend/src/infrastructure/jobs/recover-errored-tracks.job.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(scan-library): add TDD tests for Completed file reconciliation (slice 5/5)
  apps/backend/src/application/use-cases/library/scan-library.use-case.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(scan-library): extend with Completed file reconciliation pass (slice 5/5)
  apps/backend/src/application/use-cases/library/scan-library.use-case.ts
  apps/backend/src/container.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): reconcile Completed files for playlist/AI tracks too
  apps/backend/src/application/use-cases/library/scan-library.use-case.test.ts
  apps/backend/src/application/use-cases/library/scan-library.use-case.ts
  apps/backend/src/container.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): reconcile via direct file existence, not the scan tree
  apps/backend/src/application/ports/file-system.port.ts
  apps/backend/src/application/use-cases/library/scan-library.use-case.test.ts
  apps/backend/src/application/use-cases/library/scan-library.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): reconcile Completed tracks with missing files (recovery redesign 5/5) (#180)
  apps/backend/src/application/ports/file-system.port.ts
  apps/backend/src/application/use-cases/library/scan-library.use-case.test.ts
  apps/backend/src/application/use-cases/library/scan-library.use-case.ts
  apps/backend/src/container.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): register SEARCH_MAX_ATTEMPTS and RECOVERY_JOB_INTERVAL_MINUTES settings
  apps/backend/src/application/services/settings.service.test.ts
  apps/backend/src/constants/settings-metadata.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): register SEARCH_MAX_ATTEMPTS and RECOVERY_JOB_INTERVAL_MINUTES settings (#181)
  apps/backend/src/application/services/settings.service.test.ts
  apps/backend/src/constants/settings-metadata.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): stuck-tracks killer uses CAS to avoid clobbering progressed tracks
  apps/backend/src/application/services/track.service.ts
  apps/backend/src/application/use-cases/tracks/update-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/update-track.use-case.ts
  apps/backend/src/infrastructure/jobs/index.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): stuck-tracks killer uses CAS to avoid clobbering progressed tracks (#182)
  apps/backend/src/application/services/track.service.ts
  apps/backend/src/application/use-cases/tracks/update-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/update-track.use-case.ts
  apps/backend/src/infrastructure/jobs/index.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): integration coverage for recovery use-cases with real SettingsService
  apps/backend/src/application/use-cases/tracks/recovery-settings.integration.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): integration coverage for recovery use-cases with real settings (#183)
  apps/backend/src/application/use-cases/tracks/recovery-settings.integration.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): translate the recovery settings (search attempts, recovery interval)
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(frontend): translate the recovery settings (search attempts, recovery interval) (#184)
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): add unit tests for 9 service modules
  apps/frontend/src/services/artist.service.test.ts
  apps/frontend/src/services/artworkBackfill.service.test.ts
  apps/frontend/src/services/external-url.service.test.ts
  apps/frontend/src/services/history.service.test.ts
  apps/frontend/src/services/library.service.test.ts
  apps/frontend/src/services/playlist.service.test.ts
  apps/frontend/src/services/search.service.test.ts
  apps/frontend/src/services/settings.service.test.ts
  apps/frontend/src/services/track.service.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): add unit tests for 11 mutation hooks
  apps/frontend/src/hooks/mutations/useCreatePlaylistMutation.test.tsx
  apps/frontend/src/hooks/mutations/useDeletePlaylistMutation.test.tsx
  apps/frontend/src/hooks/mutations/useRecreatePlaylistMutation.test.tsx
  apps/frontend/src/hooks/mutations/useResolveExternalUrl.test.tsx
  apps/frontend/src/hooks/mutations/useRetryFailedTracksMutation.test.tsx
  apps/frontend/src/hooks/mutations/useRetryTrackMutation.test.tsx
  apps/frontend/src/hooks/mutations/useScanLibraryMutation.test.tsx
  apps/frontend/src/hooks/mutations/useSpotifyLogoutMutation.test.tsx
  apps/frontend/src/hooks/mutations/useStartArtworkBackfillMutation.test.tsx
  apps/frontend/src/hooks/mutations/useUpdatePlaylistMutation.test.tsx
  apps/frontend/src/hooks/mutations/useUpdateSettingsMutation.test.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): add unit tests for controllers, queryKeys, preferences store, toast context
  apps/frontend/src/contexts/ToastContext.test.tsx
  apps/frontend/src/hooks/controllers/useAlbumDetailController.test.ts
  apps/frontend/src/hooks/controllers/useArtistDetailController.test.ts
  apps/frontend/src/hooks/controllers/useArtistDiscographyController.test.ts
  apps/frontend/src/hooks/controllers/useArtistsController.test.ts
  apps/frontend/src/hooks/controllers/useHeaderController.test.ts
  apps/frontend/src/hooks/controllers/useHistoryController.test.ts
  apps/frontend/src/hooks/controllers/useReleasesController.test.ts
  apps/frontend/src/hooks/controllers/useSpotifyAuthController.test.ts
  apps/frontend/src/hooks/queryKeys.test.ts
  apps/frontend/src/store/usePreferencesStore.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): add unit tests for query hooks, custom hooks, artworkBackfill util
  apps/frontend/src/hooks/queries/useAlbumTracksQuery.test.tsx
  apps/frontend/src/hooks/queries/useArtistAlbumsQuery.test.tsx
  apps/frontend/src/hooks/queries/useArtistDetailQuery.test.tsx
  apps/frontend/src/hooks/queries/useArtworkBackfillStatusQuery.test.tsx
  apps/frontend/src/hooks/queries/useDownloadHistoryQuery.test.tsx
  apps/frontend/src/hooks/queries/useDownloadStatusQuery.test.tsx
  apps/frontend/src/hooks/queries/useFollowedArtistsQuery.test.tsx
  apps/frontend/src/hooks/queries/useLibraryArtistQuery.test.tsx
  apps/frontend/src/hooks/queries/useLibraryArtistsQuery.test.tsx
  apps/frontend/src/hooks/queries/useLibraryStatsQuery.test.tsx
  apps/frontend/src/hooks/queries/useMyPlaylistsQuery.test.tsx
  apps/frontend/src/hooks/queries/usePlaylistPreviewQuery.test.tsx
  apps/frontend/src/hooks/queries/usePlaylistsQuery.test.tsx
  apps/frontend/src/hooks/queries/useReleasesQuery.test.tsx
  apps/frontend/src/hooks/queries/useSearchQuery.test.tsx
  apps/frontend/src/hooks/queries/useSettingsMetadataQuery.test.tsx
  apps/frontend/src/hooks/queries/useSettingsQuery.test.tsx
  apps/frontend/src/hooks/queries/useSpotifyAuthStatusQuery.test.tsx
  apps/frontend/src/hooks/queries/useSupportedFormatsQuery.test.tsx
  apps/frontend/src/hooks/queries/useTracksQuery.test.tsx
  apps/frontend/src/hooks/useAlbumListDownloadStates.test.ts
  apps/frontend/src/hooks/useAlbumPreviewNavigation.test.ts
  apps/frontend/src/hooks/useDebounce.test.ts
  apps/frontend/src/hooks/useGridColumns.test.ts
  apps/frontend/src/hooks/useLanguageSync.test.ts
  apps/frontend/src/hooks/useNavigationHelpers.test.ts
  apps/frontend/src/utils/artworkBackfill.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): add unit tests for atoms, errors, layouts, skeletons
  apps/frontend/src/components/atoms/Button.test.tsx
  apps/frontend/src/components/atoms/Image.test.tsx
  apps/frontend/src/components/atoms/Loading.test.tsx
  apps/frontend/src/components/atoms/Skeleton.test.tsx
  apps/frontend/src/components/errors/ErrorBoundary.test.tsx
  apps/frontend/src/components/errors/ErrorFallback.test.tsx
  apps/frontend/src/components/errors/GenericErrorState.test.tsx
  apps/frontend/src/components/errors/RouteErrorBoundary.test.tsx
  apps/frontend/src/components/layouts/AppFooter.test.tsx
  apps/frontend/src/components/layouts/AppHeader.test.tsx
  apps/frontend/src/components/layouts/AppLayout.test.tsx
  apps/frontend/src/components/layouts/BottomNavigation.test.tsx
  apps/frontend/src/components/layouts/Sidebar.test.tsx
  apps/frontend/src/components/skeletons/PlaylistSkeleton.test.tsx
  apps/frontend/src/components/skeletons/SpotifyAuthCardSkeleton.test.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): add unit tests for 23 molecule components
  apps/frontend/src/components/molecules/ApiErrorState.test.tsx
  apps/frontend/src/components/molecules/ArtistDiscographyFilters.test.tsx
  apps/frontend/src/components/molecules/ArtistHeader.test.tsx
  apps/frontend/src/components/molecules/ArtistLinks.test.tsx
  apps/frontend/src/components/molecules/ConnectSpotifyPrompt.test.tsx
  apps/frontend/src/components/molecules/EmptyState.test.tsx
  apps/frontend/src/components/molecules/PageHeader.test.tsx
  apps/frontend/src/components/molecules/PlaylistCard.test.tsx
  apps/frontend/src/components/molecules/PlaylistDescription.test.tsx
  apps/frontend/src/components/molecules/PlaylistHeader.test.tsx
  apps/frontend/src/components/molecules/PlaylistNotFound.test.tsx
  apps/frontend/src/components/molecules/PlaylistStatusBadge.test.tsx
  apps/frontend/src/components/molecules/PreviewError.test.tsx
  apps/frontend/src/components/molecules/RateLimitedMessage.test.tsx
  apps/frontend/src/components/molecules/SearchInput.test.tsx
  apps/frontend/src/components/molecules/SettingSelect.test.tsx
  apps/frontend/src/components/molecules/SettingTextarea.test.tsx
  apps/frontend/src/components/molecules/SettingToggle.test.tsx
  apps/frontend/src/components/molecules/SpotifyPlaylistCard.test.tsx
  apps/frontend/src/components/molecules/StatCard.test.tsx
  apps/frontend/src/components/molecules/Toast.test.tsx
  apps/frontend/src/components/molecules/VirtualGrid.test.tsx
  apps/frontend/src/components/molecules/VirtualList.test.tsx
Due: pnpm prettier --write --ignore-path .gitignore

Path conditions:
  pnpm --filter backend lint: any of: apps/backend/**/*.ts
  pnpm --filter frontend lint: any of: apps/frontend/**/*.ts
  pnpm --filter @spotiarr/shared lint: any of: packages/shared/**/*.ts
  pnpm prettier --write --ignore-path .gitignore: any of: **/*.{ts,tsx,css,json,md,yml,yaml}
