Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

test(backend): cover application use-case branches
  apps/backend/src/application/use-cases/artists/get-album-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/settings/update-setting.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/get-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/rescue-stuck-tracks.use-case.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): cover BullMQ worker processor branches
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.create.test.ts
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.test.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.create.test.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.create.test.ts
  apps/backend/src/infrastructure/workers/track-download.worker.test.ts
  apps/backend/src/infrastructure/workers/track-search.worker.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): cover entity transitions and remaining infra branches
  apps/backend/src/domain/entities/track.entity.test.ts
  apps/backend/src/infrastructure/database/artwork-backfill.repository.test.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.test.ts
  apps/backend/src/infrastructure/external/youtube-search.service.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(backend): exclude domain contract interfaces from coverage (#219)
  apps/backend/vitest.config.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): cover controller error and edge-case branches (#220)
  apps/backend/src/presentation/controllers/artist.controller.test.ts
  apps/backend/src/presentation/controllers/artwork-backfill.controller.test.ts
  apps/backend/src/presentation/controllers/auth.controller.test.ts
  apps/backend/src/presentation/controllers/events.controller.test.ts
  apps/backend/src/presentation/controllers/feed.controller.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): cover application use-case branches (#222)
  apps/backend/src/application/use-cases/artists/get-album-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/settings/update-setting.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/get-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/rescue-stuck-tracks.use-case.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): cover BullMQ worker processor branches (#223)
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.create.test.ts
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.test.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.create.test.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.create.test.ts
  apps/backend/src/infrastructure/workers/track-download.worker.test.ts
  apps/backend/src/infrastructure/workers/track-search.worker.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): cover entity transitions and remaining infra branches (#224)
  apps/backend/src/domain/entities/track.entity.test.ts
  apps/backend/src/infrastructure/database/artwork-backfill.repository.test.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.test.ts
  apps/backend/src/infrastructure/external/youtube-search.service.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): cover application service branches (#221)
  apps/backend/src/application/services/artwork.service.test.ts
  apps/backend/src/application/services/settings.service.test.ts
  apps/backend/src/application/services/spotify.service.test.ts
  apps/backend/src/application/services/track-post-processing.service.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(backend): ratchet coverage thresholds after wave-3 backfill
  apps/backend/vitest.config.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(backend): ratchet coverage thresholds after wave-3 backfill (#225)
  apps/backend/vitest.config.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(e2e): stabilize flaky player flow and harden mocked suite
  apps/frontend/playwright.config.ts
  apps/frontend/tests/e2e/mocked/ai-chat.spec.ts
  apps/frontend/tests/e2e/mocked/instance-auth.spec.ts
  apps/frontend/tests/e2e/mocked/player.spec.ts
  apps/frontend/tests/e2e/mocked/playlists.spec.ts
  apps/frontend/tests/helpers/api-mocks.ts
  apps/frontend/tests/runtime/api-mocks.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(e2e): stabilize flaky player flow and harden mocked suite (#227)
  apps/frontend/playwright.config.ts
  apps/frontend/tests/e2e/mocked/ai-chat.spec.ts
  apps/frontend/tests/e2e/mocked/instance-auth.spec.ts
  apps/frontend/tests/e2e/mocked/player.spec.ts
  apps/frontend/tests/e2e/mocked/playlists.spec.ts
  apps/frontend/tests/helpers/api-mocks.ts
  apps/frontend/tests/runtime/api-mocks.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): reorganize mobile navigation IA
  apps/frontend/src/components/layouts/AppHeader.test.tsx
  apps/frontend/src/components/layouts/AppHeader.tsx
  apps/frontend/src/components/layouts/BottomNavigation.test.tsx
  apps/frontend/src/config/navigation.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): prevent search placeholder clipping on mobile
  apps/frontend/src/components/layouts/AppHeader.test.tsx
  apps/frontend/src/components/layouts/AppHeader.tsx
Due: pnpm prettier --write --ignore-path .gitignore

chore(frontend): drop explanatory comments from mobile nav changes
  apps/frontend/src/components/layouts/AppHeader.tsx
  apps/frontend/src/config/navigation.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): reorganize mobile navigation IA (#228)
  apps/frontend/src/components/layouts/AppHeader.test.tsx
  apps/frontend/src/components/layouts/AppHeader.tsx
  apps/frontend/src/components/layouts/BottomNavigation.test.tsx
  apps/frontend/src/config/navigation.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): album search inside artist view
  apps/frontend/src/components/organisms/LibraryArtistProfile.test.tsx
  apps/frontend/src/components/organisms/LibraryArtistProfile.tsx
  apps/frontend/src/hooks/controllers/useLibraryArtistController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryArtistController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/LibraryArtist.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): album search inside artist view (#229)
  apps/frontend/src/components/organisms/LibraryArtistProfile.test.tsx
  apps/frontend/src/components/organisms/LibraryArtistProfile.tsx
  apps/frontend/src/hooks/controllers/useLibraryArtistController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryArtistController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/LibraryArtist.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): highlight active track in album and playlist lists
  apps/frontend/src/components/organisms/PlaylistTracksList.test.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.tsx
Due: pnpm prettier --write --ignore-path .gitignore

fix(frontend): highlight active track in album and playlist lists (#230)
  apps/frontend/src/components/organisms/PlaylistTracksList.test.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.tsx
Due: pnpm prettier --write --ignore-path .gitignore

fix(frontend): harden player reliability edge cases
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(e2e): expand mocked coverage for routes and SSE
  apps/frontend/tests/e2e/mocked/album-detail.spec.ts
  apps/frontend/tests/e2e/mocked/artist-detail.spec.ts
  apps/frontend/tests/e2e/mocked/journey.spec.ts
  apps/frontend/tests/e2e/mocked/playlist-detail.spec.ts
  apps/frontend/tests/e2e/mocked/releases.spec.ts
  apps/frontend/tests/e2e/mocked/sse.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(e2e): cover remaining SSE events and pagination
  apps/frontend/tests/e2e/mocked/sse-pagination.spec.ts
  apps/frontend/tests/e2e/mocked/sse.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(e2e): cover real-stack download enqueue contract
  apps/frontend/tests/e2e/real/download-enqueue.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): harden player reliability edge cases (#232)
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): auto-skip failed tracks instead of stalling the queue
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(e2e): cover secondary error paths and track interactions
  apps/frontend/tests/e2e/mocked/album-detail.spec.ts
  apps/frontend/tests/e2e/mocked/playlist-detail.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): show a buffering spinner while audio loads
  apps/frontend/src/components/molecules/TransportControls/TransportControls.test.tsx
  apps/frontend/src/components/molecules/TransportControls/TransportControls.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/components/organisms/NowPlayingFullscreen.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): player resilience — auto-skip failed tracks + buffering indicator (#235)
  apps/frontend/src/components/molecules/TransportControls/TransportControls.test.tsx
  apps/frontend/src/components/molecules/TransportControls/TransportControls.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/components/organisms/NowPlayingFullscreen.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): resume queue, track and position after reload
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): resume queue, track and position after reload (#236)
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): global keyboard shortcuts for the player
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/hooks/useGlobalPlayerShortcuts.test.ts
  apps/frontend/src/hooks/useGlobalPlayerShortcuts.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): global keyboard shortcuts for the player (#238)
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/hooks/useGlobalPlayerShortcuts.test.ts
  apps/frontend/src/hooks/useGlobalPlayerShortcuts.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): show working prev/next on iOS lock screen (#201)
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/hooks/useMediaSession.test.ts
  apps/frontend/src/hooks/useMediaSession.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): show working prev/next on iOS lock screen (#201) (#231)
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/hooks/useMediaSession.test.ts
  apps/frontend/src/hooks/useMediaSession.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): report MediaSession position state for lock-screen scrubber
  apps/frontend/src/hooks/useMediaSession.test.ts
  apps/frontend/src/hooks/useMediaSession.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): report MediaSession position state for lock-screen scrubber (#234)
  apps/frontend/src/hooks/useMediaSession.test.ts
  apps/frontend/src/hooks/useMediaSession.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): sync isPlaying from native audio play/pause events
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(e2e): expand mocked coverage for routes and SSE (#233)
  apps/frontend/tests/e2e/mocked/album-detail.spec.ts
  apps/frontend/tests/e2e/mocked/artist-detail.spec.ts
  apps/frontend/tests/e2e/mocked/journey.spec.ts
  apps/frontend/tests/e2e/mocked/playlist-detail.spec.ts
  apps/frontend/tests/e2e/mocked/releases.spec.ts
  apps/frontend/tests/e2e/mocked/sse-pagination.spec.ts
  apps/frontend/tests/e2e/mocked/sse.spec.ts
  apps/frontend/tests/e2e/real/download-enqueue.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

Path conditions:
  pnpm --filter backend lint: any of: apps/backend/**/*.ts
  pnpm --filter frontend lint: any of: apps/frontend/**/*.ts
  pnpm --filter @spotiarr/shared lint: any of: packages/shared/**/*.ts
  pnpm prettier --write --ignore-path .gitignore: any of: **/*.{ts,tsx,css,json,md,yml,yaml}
