Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format, pnpm prettier --write --ignore-path .gitignore

feat: introduce `AppFooter` component and integrate it into the Sidebar and Settings views.
  src/frontend/src/components/molecules/AppFooter.tsx
  src/frontend/src/components/organisms/Sidebar.tsx
  src/frontend/src/views/Settings.tsx
Due: pnpm --filter frontend format

docs: Update local development URL example in `.env.example` from `http://127.0.0.1:3000` to `http://localhost:5173`.
  .env.example
Due: none

style: adjust playlist action button sizes, text visibility, and description width for improved responsiveness
  src/frontend/src/components/atoms/SpotifyLinkButton.tsx
  src/frontend/src/components/molecules/PlaylistActions.tsx
  src/frontend/src/components/molecules/PlaylistDescription.tsx
Due: pnpm --filter frontend format

feat: conditionally display "Downloading..." text based on screen size in PlaylistCard.
  src/frontend/src/components/organisms/PlaylistCard.tsx
Due: pnpm --filter frontend format

feat: Enhance responsive layout for artist detail and discography sections with adjusted spacing, padding, and button text.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

refactor: Update SpotifyLinkButton to internally manage its display text and refactor AppLayout header positioning for responsiveness.
  src/frontend/src/components/atoms/SpotifyLinkButton.tsx
  src/frontend/src/components/molecules/PlaylistActions.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

feat: remove "Compilations" filter option from artist discography.
  src/frontend/src/components/molecules/ArtistDiscographyFilters.tsx
Due: pnpm --filter frontend format

feat: refine responsive layout and sizing for PlaylistSkeleton components.
  src/frontend/src/components/skeletons/PlaylistSkeleton.tsx
Due: pnpm --filter frontend format

style: Adjust sticky header top offset in Artists view.
  src/frontend/src/views/Artists.tsx
Due: pnpm --filter frontend format

chore: remove unused ReactNode import from SpotifyLinkButton
  src/frontend/src/components/atoms/SpotifyLinkButton.tsx
Due: pnpm --filter frontend format

feat: Add custom scrollbar styles and update ArtistCard hover background class.
  src/frontend/src/components/organisms/ArtistCard.tsx
  src/frontend/src/index.css
Due: pnpm --filter frontend format

feat: Add `fs` import, remove `upgrade-insecure-requests` from CSP, disable several security headers, and log frontend path existence.
  src/backend/src/app.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Refine and explicitly define Content Security Policy directives with `useDefaults: false`.
  src/backend/src/app.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

chore: Remove unused `fs` import and frontend path logging.
  src/backend/src/app.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

chore: Remove unnecessary comments from Helmet security policy configuration.
  src/backend/src/app.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

chore: Disable `crossOriginOpenerPolicy` and `originAgentCluster` in Helmet middleware.
  src/backend/src/app.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Add automatic self-signed SSL certificate generation and HTTPS server support.
  Dockerfile
  docker-entrypoint.sh
  src/backend/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: Improve Docker user and permissions management with `su-exec` and update server start log to use `BASE_URL`.
  Dockerfile
  docker-entrypoint.sh
  src/backend/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Standardize Docker entrypoint permissions and execution to UID/GID 1000, ensuring target directories exist.
  docker-entrypoint.sh
Due: none

fix: change `/downloads` permission setting to non-recursive and update related comments.
  docker-entrypoint.sh
Due: none

feat: configure Prisma database URL via environment variable and add example to .env.example
  .env.example
  src/backend/prisma/schema.prisma
Due: none

chore: Move DATABASE_URL default to Dockerfile and update .env.example comments.
  .env.example
  Dockerfile
Due: none

style: center and expand Spotify rate limited error state
  src/frontend/src/components/molecules/SpotifyErrorState.tsx
Due: pnpm --filter frontend format

feat: update playlist check interval default to 60 minutes and minimum to 30 minutes
  src/backend/src/constants/settings-metadata.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: hardcode backend port, refine HTTPS handling based on environment, and update example `BASE_URL` for local development.
  .env.example
  Dockerfile
  src/backend/src/index.ts
  src/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: replace `BASE_URL` with `PUBLIC_HOST` to dynamically construct full URLs and Spotify redirect URIs.
  .env.example
  Dockerfile
  src/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

docs: Clarify `PUBLIC_HOST` configuration, Spotify redirect URIs, and HTTPS setup in README and `.env.example` for local and production environments.
  .env.example
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: Simplify `.env.example` and `README.md` by removing internal environment variables and adding detailed documentation for them in `CONTRIBUTING.md`.
  .env.example
  CONTRIBUTING.md
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

refactor: encapsulate server creation logic into a dedicated function and use `env` for downloads path
  src/backend/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: make Redis host/port and downloads path configurable with default environment variables.
  Dockerfile
  src/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: dynamically determine BASE_URL protocol and port based on environment and host
  src/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

chore: suppress `chown /downloads` errors and log a warning for host mounts.
  docker-entrypoint.sh
Due: none

chore: Generalize user description in docker entrypoint script from 'node' to 'uid 1000'.
  docker-entrypoint.sh
Due: none

refactor: Centralize React Query keys and introduce application configuration.
  .gitignore
  src/frontend/src/config/app.ts
  src/frontend/src/hooks/mutations/useCreatePlaylistMutation.ts
  src/frontend/src/hooks/mutations/useDeleteCompletedPlaylistsMutation.ts
  src/frontend/src/hooks/mutations/useDeletePlaylistMutation.ts
  src/frontend/src/hooks/mutations/useDeleteTrackMutation.ts
  src/frontend/src/hooks/mutations/useRecreatePlaylistMutation.ts
  src/frontend/src/hooks/mutations/useRetryFailedTracksMutation.ts
  src/frontend/src/hooks/mutations/useRetryTrackMutation.ts
  src/frontend/src/hooks/mutations/useUpdatePlaylistMutation.ts
  src/frontend/src/hooks/mutations/useUpdateSettingsMutation.ts
  src/frontend/src/hooks/queries/useArtistAlbumsQuery.ts
  src/frontend/src/hooks/queries/useArtistDetailQuery.ts
  src/frontend/src/hooks/queries/useDownloadHistoryQuery.ts
  src/frontend/src/hooks/queries/useDownloadStatusQuery.ts
  src/frontend/src/hooks/queries/useFollowedArtistsQuery.ts
  src/frontend/src/hooks/queries/usePlaylistPreviewQuery.ts
  src/frontend/src/hooks/queries/usePlaylistsQuery.ts
  src/frontend/src/hooks/queries/useReleasesQuery.ts
  src/frontend/src/hooks/queries/useSettingsMetadataQuery.ts
  src/frontend/src/hooks/queries/useSettingsQuery.ts
  src/frontend/src/hooks/queries/useSupportedFormatsQuery.ts
  src/frontend/src/hooks/queries/useTracksQuery.ts
  src/frontend/src/hooks/queryKeys.ts
  src/frontend/src/hooks/useArtistDiscography.ts
  src/frontend/src/hooks/useGridColumns.ts
  src/frontend/src/hooks/useServerEvents.ts
  src/frontend/src/index.tsx
  src/frontend/src/utils/cache.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Implement full Spotify OAuth flow for user authentication and enhanced playlist access for restricted playlists.
  src/backend/src/domain/interfaces/settings.repository.ts
  src/backend/src/infrastructure/database/prisma-settings.repository.ts
  src/backend/src/infrastructure/external/spotify-api.service.ts
  src/backend/src/presentation/routes/auth.routes.ts
  src/frontend/src/components/molecules/SpotifyAuthCard.tsx
  src/frontend/src/hooks/useSpotifyAuth.ts
  src/frontend/src/views/Settings.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter backend format, pnpm --filter frontend format

feat: Invalidate relevant frontend queries and clear the backend Spotify API cache when settings are updated.
  src/frontend/src/hooks/mutations/useUpdateSettingsMutation.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Clear Spotify API cache when settings are updated.
  src/backend/src/constants/settings-metadata.ts
  src/backend/src/domain/settings/settings.use-cases.ts
  src/backend/src/infrastructure/external/spotify-api.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: extract Spotify authentication status query and logout mutation into dedicated hooks.
  src/frontend/src/hooks/mutations/useSpotifyLogoutMutation.ts
  src/frontend/src/hooks/queries/useSpotifyAuthStatusQuery.ts
  src/frontend/src/hooks/queryKeys.ts
  src/frontend/src/hooks/useSpotifyAuth.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: Remove verbose comments and explanations from various frontend files.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/components/organisms/HistoryList.tsx
  src/frontend/src/components/organisms/PlaylistList.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/components/organisms/ReleasesList.tsx
  src/frontend/src/components/organisms/TrackList.tsx
  src/frontend/src/contexts/DownloadStatusContext.tsx
  src/frontend/src/hooks/controllers/useArtistDetailController.ts
  src/frontend/src/hooks/controllers/useSettingsController.ts
  src/frontend/src/hooks/queries/useDownloadStatusQuery.ts
  src/frontend/src/hooks/useArtistDiscography.ts
  src/frontend/src/hooks/useServerEvents.ts
  src/frontend/src/routes/Routing.tsx
  src/frontend/src/services/httpClient.ts
  src/frontend/src/utils/spotify.ts
  src/frontend/vite.config.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: Introduce Track entity and refactor TrackService to use dedicated track use cases.
  src/backend/src/application/services/playlist.service.ts
  src/backend/src/application/services/track.service.ts
  src/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  src/backend/src/application/use-cases/settings/settings.use-cases.ts
  src/backend/src/application/use-cases/tracks/create-track.use-case.ts
  src/backend/src/application/use-cases/tracks/delete-track.use-case.ts
  src/backend/src/application/use-cases/tracks/download-track.use-case.ts
  src/backend/src/application/use-cases/tracks/get-tracks.use-case.ts
  src/backend/src/application/use-cases/tracks/retry-track-download.use-case.ts
  src/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
  src/backend/src/domain/entities/track.entity.ts
  src/backend/src/presentation/routes/settings.routes.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

Path conditions:
  pnpm --filter backend lint: any of: src/backend/**/*.ts
  pnpm --filter frontend lint: any of: src/frontend/**/*.ts
  pnpm --filter shared lint: any of: src/shared/**/*.ts
  pnpm --filter backend format: any of: src/backend/src/**/*.{ts,json}
  pnpm --filter frontend format: any of: src/frontend/src/**/*.{ts,tsx,css,json}
  pnpm --filter shared format: any of: src/shared/src/**/*.{ts,json}
  pnpm prettier --write --ignore-path .gitignore: any of: *.{json,md,yml,yaml}
