Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "apps/backend/**/*.ts": ["pnpm --filter backend lint"],
  "apps/frontend/**/*.ts": ["pnpm --filter frontend lint"],
  "packages/shared/**/*.ts": ["pnpm --filter @spotiarr/shared lint"],
  "**/*.{ts,tsx,css,json,md,yml,yaml}": [
    "pnpm prettier --write --ignore-path .gitignore"
  ]
}

refactor: clean post-SDD audit residue
  .gitignore
  apps/backend/AGENTS.md
  apps/backend/src/application/use-cases/playlists/get-playlist-preview-tracks-page.use-case.ts
  apps/backend/src/constants/settings-metadata.ts
  apps/backend/src/infrastructure/external/youtube-download.service.ts
  apps/backend/src/infrastructure/external/youtube-search.service.ts
  apps/backend/src/infrastructure/external/youtube.constants.ts
  apps/backend/src/infrastructure/jobs/catalog-sync.job.ts
  apps/backend/src/infrastructure/jobs/feed-sync.job.ts
  apps/backend/src/infrastructure/jobs/index.ts
  apps/backend/src/infrastructure/messaging/sse-event-bus.ts
  apps/backend/src/infrastructure/utils/error.utils.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
  apps/backend/src/presentation/controllers/settings.controller.ts
  apps/frontend/src/components/organisms/ArtistList.tsx
  apps/frontend/src/config/app.ts
  apps/frontend/src/config/navigation.ts
  apps/frontend/src/contexts/DownloadStatusContext.tsx
  apps/frontend/src/hooks/controllers/useArtistsController.ts
  apps/frontend/src/hooks/controllers/useHeaderController.ts
  apps/frontend/src/hooks/controllers/useSettingsController.ts
  apps/frontend/src/hooks/mutations/useDeleteTrackMutation.ts
  apps/frontend/src/hooks/queries/useArtistDetailQuery.ts
  apps/frontend/src/hooks/queries/useSearchQuery.ts
  apps/frontend/src/hooks/useAlbumListDownloadStates.ts
  apps/frontend/src/hooks/useNavigationHelpers.ts
  apps/frontend/src/services/artist.service.ts
  apps/frontend/src/services/httpClient.ts
  apps/frontend/src/services/playlist.service.ts
  apps/frontend/src/services/search.service.ts
  apps/frontend/src/store/useDownloadStatusStore.ts
  apps/frontend/src/utils/cache.ts
  packages/shared/src/index.ts
  skills/spotiarr-sse/SKILL.md
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

docs: update Zustand skill exports
  skills/spotiarr-zustand/SKILL.md
Due: pnpm prettier --write --ignore-path .gitignore

refactor: clean post-SDD audit residue (#24)
  .gitignore
  apps/backend/AGENTS.md
  apps/backend/src/application/use-cases/playlists/get-playlist-preview-tracks-page.use-case.ts
  apps/backend/src/constants/settings-metadata.ts
  apps/backend/src/infrastructure/external/youtube-download.service.ts
  apps/backend/src/infrastructure/external/youtube-search.service.ts
  apps/backend/src/infrastructure/external/youtube.constants.ts
  apps/backend/src/infrastructure/jobs/catalog-sync.job.ts
  apps/backend/src/infrastructure/jobs/feed-sync.job.ts
  apps/backend/src/infrastructure/jobs/index.ts
  apps/backend/src/infrastructure/messaging/sse-event-bus.ts
  apps/backend/src/infrastructure/utils/error.utils.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
  apps/backend/src/presentation/controllers/settings.controller.ts
  apps/frontend/src/components/organisms/ArtistList.tsx
  apps/frontend/src/config/app.ts
  apps/frontend/src/config/navigation.ts
  apps/frontend/src/contexts/DownloadStatusContext.tsx
  apps/frontend/src/hooks/controllers/useArtistsController.ts
  apps/frontend/src/hooks/controllers/useHeaderController.ts
  apps/frontend/src/hooks/controllers/useSettingsController.ts
  apps/frontend/src/hooks/mutations/useDeleteTrackMutation.ts
  apps/frontend/src/hooks/queries/useArtistDetailQuery.ts
  apps/frontend/src/hooks/queries/useSearchQuery.ts
  apps/frontend/src/hooks/useAlbumListDownloadStates.ts
  apps/frontend/src/hooks/useNavigationHelpers.ts
  apps/frontend/src/services/artist.service.ts
  apps/frontend/src/services/httpClient.ts
  apps/frontend/src/services/playlist.service.ts
  apps/frontend/src/services/search.service.ts
  apps/frontend/src/store/useDownloadStatusStore.ts
  apps/frontend/src/utils/cache.ts
  packages/shared/src/index.ts
  skills/spotiarr-sse/SKILL.md
  skills/spotiarr-zustand/SKILL.md
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): remove releases download
  apps/frontend/src/components/molecules/AlbumCard.tsx
  apps/frontend/src/components/organisms/ReleasesList.tsx
  apps/frontend/src/hooks/controllers/useReleasesController.ts
  apps/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(releases): support Deezer EP types
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
  apps/backend/src/infrastructure/setup/environment.test.ts
  apps/backend/src/infrastructure/setup/environment.ts
  apps/frontend/src/hooks/controllers/useArtistDiscographyController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  openspec/config.yaml
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): remove artist album actions
  apps/frontend/src/components/molecules/AlbumCard.tsx
  apps/frontend/src/components/organisms/ArtistDiscography.tsx
  apps/frontend/src/components/organisms/TracksModal.tsx
  apps/frontend/src/hooks/controllers/useArtistDetailController.ts
  apps/frontend/src/hooks/controllers/useArtistDiscographyController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): use release metadata for history
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore: remove local openspec config
  openspec/config.yaml
Due: pnpm prettier --write --ignore-path .gitignore

fix(releases): remove Spotify-dependent card actions (#26)
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
  apps/backend/src/infrastructure/setup/environment.test.ts
  apps/backend/src/infrastructure/setup/environment.ts
  apps/frontend/src/components/molecules/AlbumCard.tsx
  apps/frontend/src/components/organisms/ArtistDiscography.tsx
  apps/frontend/src/components/organisms/ReleasesList.tsx
  apps/frontend/src/components/organisms/TracksModal.tsx
  apps/frontend/src/hooks/controllers/useArtistDetailController.ts
  apps/frontend/src/hooks/controllers/useArtistDiscographyController.ts
  apps/frontend/src/hooks/controllers/useReleasesController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/ArtistDetail.tsx
  apps/frontend/src/views/Releases.tsx
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): filter accessible playlists
  .gitignore
  apps/backend/src/infrastructure/external/spotify-user-library.service.test.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
  apps/backend/src/presentation/controllers/auth.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.5.0
  CHANGELOG.md
  apps/backend/src/infrastructure/external/spotify-user-library.service.test.ts
  package.json
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): cache playlist access probes
  apps/backend/src/infrastructure/external/spotify-user-library.service.test.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.5.1
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

feat(backend): add LibraryImageService with path containment and extension whitelist
  apps/backend/src/infrastructure/services/library-image.service.test.ts
  apps/backend/src/infrastructure/services/library-image.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): add Zod schema for library image query
  apps/backend/src/presentation/routes/schemas/library.schema.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): delegate library image serving to LibraryImageService
  apps/backend/src/container.ts
  apps/backend/src/presentation/controllers/library.controller.ts
  apps/backend/src/presentation/routes/library.routes.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): close path traversal in GET /api/library/image (#29)
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/services/library-image.service.test.ts
  apps/backend/src/infrastructure/services/library-image.service.ts
  apps/backend/src/presentation/controllers/library.controller.ts
  apps/backend/src/presentation/routes/library.routes.test.ts
  apps/backend/src/presentation/routes/schemas/library.schema.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(shared): drop unused ApiResponse and UiSupportedAudioFormat exports
  packages/shared/src/index.ts
Due: pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

chore(backend): drop unused SpotifySearchResponse type
  apps/backend/src/infrastructure/external/spotify.types.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add i18n key common.cards.albumTypes.artist
  apps/frontend/src/components/molecules/SearchTopResultCard.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(backend): log non-fatal errors in feed-sync worker
  apps/backend/src/infrastructure/workers/feed-sync.worker.create.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): use import type in SettingItem
  apps/frontend/src/components/molecules/SettingItem.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): invalidate releases and followed artists on catalog-updated SSE
  apps/frontend/src/hooks/useServerEvents.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(backend): remove duplicate comment in settings routes
  apps/backend/src/presentation/routes/settings.routes.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): add component + hook tests for QW3 and QW6
  apps/frontend/src/components/molecules/SearchTopResultCard.test.tsx
  apps/frontend/src/hooks/useServerEvents.test.tsx
  apps/frontend/vitest.config.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore: audit quick wins (dead code, i18n, SSE listener, logging) (#30)
  apps/backend/src/infrastructure/external/spotify.types.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.create.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
  apps/backend/src/presentation/routes/settings.routes.ts
  apps/frontend/src/components/molecules/SearchTopResultCard.test.tsx
  apps/frontend/src/components/molecules/SearchTopResultCard.tsx
  apps/frontend/src/components/molecules/SettingItem.tsx
  apps/frontend/src/hooks/useServerEvents.test.tsx
  apps/frontend/src/hooks/useServerEvents.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/vitest.config.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): add application ports and architecture boundary tests
  apps/backend/src/__tests__/architecture.test.ts
  apps/backend/src/application/ports/album-tracks-provider.port.ts
  apps/backend/src/application/ports/artist-lookup.port.ts
  apps/backend/src/application/ports/connectivity.port.ts
  apps/backend/src/application/ports/feed-repository.port.ts
  apps/backend/src/application/ports/file-system.port.ts
  apps/backend/src/application/ports/library-image.port.ts
  apps/backend/src/application/ports/release-feed.port.ts
  apps/backend/src/application/ports/spotify-user-library.port.ts
  apps/backend/src/application/ports/youtube.port.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): move SpotifyService from domain to application
  apps/backend/src/__tests__/architecture.test.ts
  apps/backend/src/application/services/spotify.service.ts
  apps/backend/src/application/services/track-post-processing.service.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/application/use-cases/playlists/get-my-playlists.use-case.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview-tracks-page.use-case.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/domain/services/spotify.service.ts
  apps/backend/src/presentation/controllers/search.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): make application use-cases depend on ports
  apps/backend/src/__tests__/architecture.test.ts
  apps/backend/src/application/ports/artist-lookup.port.ts
  apps/backend/src/application/ports/release-feed.port.ts
  apps/backend/src/application/services/settings.service.ts
  apps/backend/src/application/services/track-post-processing.service.ts
  apps/backend/src/application/use-cases/artists/get-album-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-album-tracks.use-case.ts
  apps/backend/src/application/use-cases/artists/get-artist-albums.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-artist-albums.use-case.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.ts
  apps/backend/src/application/use-cases/feed/get-recent-releases.use-case.test.ts
  apps/backend/src/application/use-cases/feed/get-recent-releases.use-case.ts
  apps/backend/src/application/use-cases/library/scan-library.use-case.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/application/use-cases/settings/update-setting.use-case.ts
  apps/backend/src/application/use-cases/tracks/download-track.use-case.ts
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/services/file-system-track-path.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): introduce HealthService + ConnectivityPort, clean controllers
  apps/backend/src/__tests__/architecture.test.ts
  apps/backend/src/application/ports/library-image.port.ts
  apps/backend/src/application/services/health.service.test.ts
  apps/backend/src/application/services/health.service.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/prisma-connectivity.adapter.ts
  apps/backend/src/presentation/controllers/auth.controller.ts
  apps/backend/src/presentation/controllers/events.controller.ts
  apps/backend/src/presentation/controllers/feed.controller.ts
  apps/backend/src/presentation/controllers/health.controller.ts
  apps/backend/src/presentation/controllers/library.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): centralize env access via getEnv, extend schema
  apps/backend/src/__tests__/architecture.test.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/infrastructure/setup/environment.test.ts
  apps/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): close verify blockers (R4 env, R5 health shape, arch test scope)
  apps/backend/src/__tests__/architecture.test.ts
  apps/backend/src/application/services/health.service.test.ts
  apps/backend/src/application/services/health.service.ts
  apps/backend/src/container.ts
  apps/backend/src/presentation/controllers/health.controller.test.ts
  apps/backend/src/presentation/controllers/health.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

docs: reflect layer boundary cleanup (ports, arch test, HealthService)
  CONTRIBUTING.md
  docs/ARCHITECTURE.en.md
  docs/ARCHITECTURE.md
Due: pnpm prettier --write --ignore-path .gitignore

refactor(backend): expand FeedRepositoryPort surface
  apps/backend/src/application/ports/feed-repository.port.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): add split feed persistence repositories
  apps/backend/src/infrastructure/database/artist-album-cache.repository.test.ts
  apps/backend/src/infrastructure/database/artist-album-cache.repository.ts
  apps/backend/src/infrastructure/database/artist-release-cache.repository.test.ts
  apps/backend/src/infrastructure/database/artist-release-cache.repository.ts
  apps/backend/src/infrastructure/database/feed-cache-eviction.repository.test.ts
  apps/backend/src/infrastructure/database/feed-cache-eviction.repository.ts
  apps/backend/src/infrastructure/database/feed-row-mappers.test.ts
  apps/backend/src/infrastructure/database/feed-row-mappers.ts
  apps/backend/src/infrastructure/database/feed-sync-state.repository.test.ts
  apps/backend/src/infrastructure/database/feed-sync-state.repository.ts
  apps/backend/src/infrastructure/database/followed-artist.repository.test.ts
  apps/backend/src/infrastructure/database/followed-artist.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): convert FeedRepository into strangler facade
  apps/backend/src/application/services/feed-cache-eviction.service.test.ts
  apps/backend/src/application/services/feed-cache-eviction.service.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/feed.repository.test.ts
  apps/backend/src/infrastructure/database/feed.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): use FeedRepositoryPort in sync consumers
  apps/backend/src/infrastructure/external/release-feed.service.test.ts
  apps/backend/src/infrastructure/external/release-feed.service.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): assert eviction transaction covers all cache tables
  apps/backend/src/infrastructure/database/feed-cache-eviction.repository.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): split feed.repository into bucketed persistence (PR 1/3) (#33)
  apps/backend/src/application/ports/feed-repository.port.ts
  apps/backend/src/application/services/feed-cache-eviction.service.test.ts
  apps/backend/src/application/services/feed-cache-eviction.service.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/artist-album-cache.repository.test.ts
  apps/backend/src/infrastructure/database/artist-album-cache.repository.ts
  apps/backend/src/infrastructure/database/artist-release-cache.repository.test.ts
  apps/backend/src/infrastructure/database/artist-release-cache.repository.ts
  apps/backend/src/infrastructure/database/feed-cache-eviction.repository.test.ts
  apps/backend/src/infrastructure/database/feed-cache-eviction.repository.ts
  apps/backend/src/infrastructure/database/feed-row-mappers.test.ts
  apps/backend/src/infrastructure/database/feed-row-mappers.ts
  apps/backend/src/infrastructure/database/feed-sync-state.repository.test.ts
  apps/backend/src/infrastructure/database/feed-sync-state.repository.ts
  apps/backend/src/infrastructure/database/feed.repository.test.ts
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/database/followed-artist.repository.test.ts
  apps/backend/src/infrastructure/database/followed-artist.repository.ts
  apps/backend/src/infrastructure/external/release-feed.service.test.ts
  apps/backend/src/infrastructure/external/release-feed.service.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore
