Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format, pnpm prettier --write --ignore-path .gitignore

Refactor: Replace Font Awesome class-based icons with React FontAwesome components
  src/frontend/src/components/molecules/ConnectSpotifyPrompt.tsx
  src/frontend/src/components/molecules/EmptyState.tsx
  src/frontend/src/components/molecules/PlaylistActions.tsx
  src/frontend/src/components/molecules/PlaylistHeader.tsx
  src/frontend/src/components/molecules/PlaylistNotFound.tsx
  src/frontend/src/components/molecules/PreviewError.tsx
  src/frontend/src/components/molecules/RateLimitedMessage.tsx
  src/frontend/src/components/molecules/SearchInput.tsx
  src/frontend/src/components/molecules/SettingSelect.tsx
  src/frontend/src/components/molecules/SpotifyErrorState.tsx
  src/frontend/src/icons.ts
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: Remove `fa-` prefix from FontAwesome icon props and simplify `EmptyState` icon handling.
  src/frontend/src/components/molecules/EmptyState.tsx
  src/frontend/src/components/templates/PlaylistView.tsx
  src/frontend/src/views/History.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend format

refactor: Optimize track and artist status lookups with memoized sets and refine discography album state updates.
  src/frontend/src/hooks/useArtistDiscography.ts
  src/frontend/src/hooks/useArtistStatus.ts
  src/frontend/src/hooks/useTrackStatus.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

perf: memoize PlaylistCard, AlbumCard, and ArtistCard components to prevent unnecessary re-renders.
  src/frontend/src/components/organisms/AlbumCard.tsx
  src/frontend/src/components/organisms/ArtistCard.tsx
  src/frontend/src/components/organisms/PlaylistCard.tsx
Due: pnpm --filter frontend format

refactor: move @tanstack/react-query-devtools from dependencies to devDependencies
  pnpm-lock.yaml
  src/frontend/package.json
Due: pnpm prettier --write --ignore-path .gitignore

feat: Optimize Vite build with bundle chunking, minification, and disabled sourcemaps, and make the `onSearch` prop optional in `SearchInput`.
  src/frontend/src/components/molecules/SearchInput.tsx
Due: pnpm --filter frontend format

feat: improve build output with vendor chunk splitting, minification, and sourcemap configuration
  src/frontend/vite.config.ts
Due: pnpm --filter frontend lint

feat: Optimize image loading with `decoding` and `fetchPriority`, and prefetch playlist tracks on hover.
  src/frontend/src/components/molecules/PlaylistHeader.tsx
  src/frontend/src/components/organisms/AlbumCard.tsx
  src/frontend/src/components/organisms/ArtistCard.tsx
  src/frontend/src/components/organisms/PlaylistCard.tsx
  src/frontend/src/components/organisms/TrackList.tsx
Due: pnpm --filter frontend format

feat: add global and route-level error boundaries with custom fallback UIs
  src/frontend/src/components/ErrorBoundary.tsx
  src/frontend/src/components/ErrorFallback.tsx
  src/frontend/src/components/RouteErrorBoundary.tsx
  src/frontend/src/index.tsx
  src/frontend/src/routes/Routing.tsx
Due: pnpm --filter frontend format

feat: Add health check endpoint, implement Zod validation middleware, and enable compression.
  pnpm-lock.yaml
  src/backend/package.json
  src/backend/src/app.ts
  src/backend/src/middleware/validate.ts
  src/backend/src/routes/health.routes.ts
  src/backend/src/routes/index.ts
  src/backend/src/routes/playlist.routes.ts
  src/backend/src/routes/schemas/playlist.schema.ts
Due: pnpm --filter backend lint, pnpm --filter backend format, pnpm prettier --write --ignore-path .gitignore

refactor: simplify Artists search handler to accept string value directly instead of event object
  src/frontend/src/views/Artists.tsx
Due: pnpm --filter frontend format

build: ignore post-install scripts during pnpm production dependency installation
  Dockerfile
Due: none

refactor: Implement singleton patterns for Prisma client and Spotify API service, and enhance environment variable validation with Zod.
  src/backend/src/index.ts
  src/backend/src/routes/artist.routes.ts
  src/backend/src/routes/auth.routes.ts
  src/backend/src/routes/feed.routes.ts
  src/backend/src/routes/health.routes.ts
  src/backend/src/services/playlist.service.ts
  src/backend/src/services/spotify-api.service.ts
  src/backend/src/services/track.service.ts
  src/backend/src/services/utils.service.ts
  src/backend/src/setup/environment.ts
  src/backend/src/setup/queues.ts
  src/backend/src/workers/track-download.worker.ts
  src/backend/src/workers/track-search.worker.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Configure PrismaClient to reuse a global instance in development and apply environment-based logging.
  src/backend/src/setup/prisma.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: remove track and playlist use-case layers, integrating logic directly into their respective services.
  src/backend/src/setup/prisma.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: remove use-case layer and move playlist and track logic directly into their respective services.
  src/backend/src/domain/playlists/playlist.use-cases.ts
  src/backend/src/domain/tracks/track.use-cases.ts
  src/backend/src/services/playlist.service.ts
  src/backend/src/services/track.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: introduce dependency injection container and refactor services to use it
  .env.example
  src/backend/src/container.ts
  src/backend/src/domain/tracks/download-track.use-case.ts
  src/backend/src/jobs/index.ts
  src/backend/src/routes/playlist.routes.ts
  src/backend/src/routes/track.routes.ts
  src/backend/src/services/playlist.service.ts
  src/backend/src/services/track.service.ts
  src/backend/src/workers/track-download.worker.ts
  src/backend/src/workers/track-search.worker.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: introduce an event bus interface and implementation for emitting SSE events.
  src/backend/src/container.ts
  src/backend/src/domain/events/event-bus.ts
  src/backend/src/domain/tracks/download-track.use-case.ts
  src/backend/src/domain/tracks/search-track-on-youtube.use-case.ts
  src/backend/src/jobs/index.ts
  src/backend/src/services/playlist.service.ts
  src/backend/src/services/sse-event-bus.ts
  src/backend/src/services/track.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: move repository interfaces to a dedicated `interfaces` directory
  src/backend/src/domain/history/history.use-cases.ts
  src/backend/src/domain/interfaces/history.repository.ts
  src/backend/src/domain/interfaces/playlist.repository.ts
  src/backend/src/domain/interfaces/settings.repository.ts
  src/backend/src/domain/interfaces/track.repository.ts
  src/backend/src/domain/playlists/create-playlist.use-case.ts
  src/backend/src/domain/settings/settings.use-cases.ts
  src/backend/src/domain/tracks/download-track.use-case.ts
  src/backend/src/domain/tracks/search-track-on-youtube.use-case.ts
  src/backend/src/repositories/prisma-history.repository.ts
  src/backend/src/repositories/prisma-playlist.repository.ts
  src/backend/src/repositories/prisma-settings.repository.ts
  src/backend/src/repositories/prisma-track.repository.ts
  src/backend/src/services/playlist.service.ts
  src/backend/src/services/track.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: move TrackQueueService interface to domain/interfaces directory
  src/backend/src/domain/interfaces/track-queue.service.ts
  src/backend/src/domain/tracks/search-track-on-youtube.use-case.ts
  src/backend/src/services/bullmq-track-queue.service.ts
  src/backend/src/services/track.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: update environment setup import path to new infrastructure directory.
  src/backend/src/index.ts
  src/backend/src/infrastructure/setup/env.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: remove compression middleware and its associated dependencies
  pnpm-lock.yaml
  src/backend/package.json
  src/backend/src/app.ts
Due: pnpm --filter backend lint, pnpm --filter backend format, pnpm prettier --write --ignore-path .gitignore

refactor: Relocate error boundary components to a dedicated errors directory and consolidate route error handling using a parent Outlet.
  src/frontend/src/components/ErrorFallback.tsx
  src/frontend/src/components/RouteErrorBoundary.tsx
  src/frontend/src/components/errors/ErrorBoundary.tsx
  src/frontend/src/components/errors/ErrorFallback.tsx
  src/frontend/src/components/errors/GenericErrorState.tsx
  src/frontend/src/components/errors/RouteErrorBoundary.tsx
  src/frontend/src/index.tsx
  src/frontend/src/routes/Routing.tsx
Due: pnpm --filter frontend format

feat: Add 404 Not Found page and route for unknown paths.
  src/frontend/src/routes/Routing.tsx
  src/frontend/src/views/NotFound.tsx
Due: pnpm --filter frontend format

refactor: move Suspense component to wrap Outlet within RouteErrorBoundary
  src/frontend/src/routes/Routing.tsx
Due: pnpm --filter frontend format

refactor: track specific playlist being recreated using `recreatingUrl` instead of a general `isRecreating` flag.
  src/frontend/src/components/organisms/HistoryList.tsx
  src/frontend/src/views/History.tsx
Due: pnpm --filter frontend format

refactor: remove local `recreatingUrl` state by leveraging mutation hook's pending status and variables
  src/frontend/src/views/History.tsx
Due: pnpm --filter frontend format

feat: Enhance release download status detection using download history and remove playlist prefetching on hover.
  src/frontend/src/components/organisms/PlaylistCard.tsx
Due: pnpm --filter frontend format

refactor: Move history item click navigation logic from HistoryListItem to History view.
  src/frontend/src/components/organisms/HistoryList.tsx
  src/frontend/src/views/History.tsx
Due: pnpm --filter frontend format

refactor: Simplify `useTrackStatus` by removing `useDownloadTracksQuery` and `useMemo` for downloaded track status.
  src/frontend/src/hooks/useTrackStatus.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: Centralize artist navigation logic in the Artists view and refactor the playlist status map hook.
  src/frontend/src/components/organisms/ArtistCard.tsx
  src/frontend/src/components/organisms/ArtistList.tsx
  src/frontend/src/views/Artists.tsx
Due: pnpm --filter frontend format

feat: Propagate album URLs from Spotify API to track objects and map them in playlist status hook, and simplify button icon prop handling.
  src/frontend/src/components/atoms/Button.tsx
Due: pnpm --filter frontend format

feat: Enhance playlist status map to include album URLs from tracks and refine Spotify API track normalization.
  src/frontend/src/components/atoms/SpotifyLinkButton.tsx
Due: pnpm --filter frontend format

feat: Persist and process track album URLs in the backend, and map them to playlist status in the frontend.
  src/backend/src/infrastructure/database/prisma-playlist.repository.ts
  src/backend/src/infrastructure/external/spotify-api.service.ts
  src/frontend/src/hooks/usePlaylistStatusMap.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter backend format, pnpm --filter frontend format

refactor: Unify download status management into `useDownloadStatus` and migrate components from old status hooks.
  src/frontend/src/components/organisms/AlbumCard.tsx
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/components/organisms/HistoryList.tsx
  src/frontend/src/components/organisms/PlaylistCard.tsx
  src/frontend/src/components/organisms/PlaylistList.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/components/organisms/ReleasesList.tsx
  src/frontend/src/components/organisms/TrackList.tsx
  src/frontend/src/hooks/queries/useDownloadTracksQuery.ts
  src/frontend/src/hooks/useArtistStatus.ts
  src/frontend/src/hooks/useDownloadStatus.ts
  src/frontend/src/hooks/usePlaylistStatusMap.ts
  src/frontend/src/hooks/useTrackStatus.ts
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Integrate download status to dynamically update playlist download button UI and track statuses.
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

perf: Optimize list rendering by introducing bulk download status retrieval and custom memoization for list items.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/components/organisms/HistoryList.tsx
  src/frontend/src/components/organisms/PlaylistList.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/components/organisms/ReleasesList.tsx
  src/frontend/src/components/organisms/TrackList.tsx
  src/frontend/src/hooks/useDownloadStatus.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Enhance album download status by including total track count and improving track-level download progress checks.
  src/backend/src/infrastructure/external/spotify-api.service.ts
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/hooks/useDownloadStatus.ts
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format

refactor: Consolidate status map calculations into a single `useMemo` and extend playlist download button loading conditions.
  src/frontend/src/hooks/useDownloadStatus.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

Path conditions:
  pnpm --filter backend lint: any of: src/backend/**/*.ts
  pnpm --filter frontend lint: any of: src/frontend/**/*.ts
  pnpm --filter shared lint: any of: src/shared/**/*.ts
  pnpm --filter backend format: any of: src/backend/src/**/*.{ts,json}
  pnpm --filter frontend format: any of: src/frontend/src/**/*.{ts,tsx,css,json}
  pnpm --filter shared format: any of: src/shared/src/**/*.{ts,json}
  pnpm prettier --write --ignore-path .gitignore: any of: *.{json,md,yml,yaml}
