Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format, pnpm prettier --write --ignore-path .gitignore

refactor: move artist discography filter buttons to a new component and change default filter from 'popular' to 'all'.
  src/frontend/src/components/molecules/ArtistDiscographyFilters.tsx
  src/frontend/src/components/organisms/ArtistDiscography.tsx
Due: pnpm --filter frontend format

feat: implement load more functionality for artist discography
  src/backend/src/routes/artist.routes.ts
  src/backend/src/services/spotify-api.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: implement "show more" functionality for artist discography by fetching additional albums with pagination.
  src/frontend/src/services/api.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Implement lazy loading for artist discography albums with a "show more" button.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

refactor: Extract artist discography filtering and pagination logic into `useArtistDiscography` hook and update `ArtistDiscography` component to use it.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/hooks/useArtistDiscography.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: move discography item navigation logic from ArtistDiscography to ArtistDetail.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

feat: introduce AlbumCard component and replace ReleaseCard in ArtistDiscography and ReleasesList.
  src/frontend/src/components/organisms/AlbumCard.tsx
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/components/organisms/ReleasesList.tsx
Due: pnpm --filter frontend format

perf: Memoize DiscographyItem component and implement proper pagination with dynamic offset in useArtistDiscography hook.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/hooks/useArtistDiscography.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: standardize album types with a new `AlbumType` and optimize discography fetching limit.
  src/backend/src/services/spotify-api.service.ts
  src/frontend/src/components/molecules/ArtistDiscographyFilters.tsx
  src/frontend/src/hooks/useArtistDiscography.ts
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format

feat: Increase discography grid column count for larger screens.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/hooks/useGridColumns.ts
  src/frontend/src/views/Artists.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Add ArtistList component and refactor Artists view to utilize it for displaying artists.
  src/frontend/src/components/organisms/ArtistList.tsx
  src/frontend/src/views/Artists.tsx
Due: pnpm --filter frontend format

refactor: Replace static album grid with VirtualGrid component for artist discography.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
Due: pnpm --filter frontend format

feat: Introduce `SpotifyErrorState` component to centralize Spotify error handling across views.
  src/frontend/src/components/molecules/SpotifyErrorState.tsx
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/src/views/Artists.tsx
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend format

refactor: Centralize and standardize API error handling using a shared `ApiErrorCode` enum.
  src/frontend/src/components/molecules/SpotifyErrorState.tsx
  src/frontend/src/hooks/queries/useArtistDetailQuery.ts
  src/frontend/src/hooks/queries/useFollowedArtistsQuery.ts
  src/frontend/src/hooks/queries/useReleasesQuery.ts
  src/frontend/src/utils/spotify.ts
  src/shared/src/index.ts
Due: pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter frontend format, pnpm --filter shared format

refactor: Rename `ArtistList` component to `ArtistLinks` for improved clarity.
  src/frontend/src/components/molecules/ArtistLinks.tsx
  src/frontend/src/components/molecules/PlaylistMetadata.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
Due: pnpm --filter frontend format

feat: Dynamically adjust artist discography and detail fetch limits based on grid columns.
  src/backend/src/routes/artist.routes.ts
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/hooks/queries/useArtistDetailQuery.ts
  src/frontend/src/hooks/useArtistDiscography.ts
  src/frontend/src/services/api.ts
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter backend format, pnpm --filter frontend format

feat: Add footer prop to VirtualGrid and refactor "Show more" button into it, alongside minor layout adjustments.
  src/frontend/src/components/molecules/VirtualGrid.tsx
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

refactor: standardize background styling in ArtistDetail view
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

style: Update ArtistDetail view background to black and a gradient.
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

feat: `ArtistDiscography` now accepts `pageSize` as a prop, removing its internal calculation based on grid columns.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

refactor: Migrate artist discography album fetching to use a new `useArtistAlbumsQuery` hook.
  src/frontend/src/hooks/queries/useArtistAlbumsQuery.ts
  src/frontend/src/hooks/queryKeys.ts
  src/frontend/src/hooks/useArtistDiscography.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: adjust responsive grid column counts and introduce new breakpoints for wider screens.
  src/frontend/src/hooks/useGridColumns.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: remove ReleaseCard component
  src/frontend/src/components/organisms/ReleaseCard.tsx
Due: pnpm --filter frontend format

feat: Add lazy loading to images in album, artist, and track list components, and refactor Virtuoso components prop.
  src/frontend/src/components/molecules/PlaylistHeader.tsx
  src/frontend/src/components/molecules/VirtualGrid.tsx
  src/frontend/src/components/organisms/AlbumCard.tsx
  src/frontend/src/components/organisms/ArtistCard.tsx
  src/frontend/src/components/organisms/PlaylistCard.tsx
  src/frontend/src/components/organisms/TrackList.tsx
Due: pnpm --filter frontend format

feat: implement lazy loading for all route views with a Suspense fallback.
  src/frontend/src/routes/Routing.tsx
Due: pnpm --filter frontend format

perf: optimize React Query caching defaults and memoize discography item rendering for improved performance.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
Due: pnpm --filter frontend format

feat: configure query client default options to adjust stale time, add garbage collection, and set retry count.
  src/frontend/src/index.tsx
Due: pnpm --filter frontend format

feat: Implement `useDebounce` hook and use it for debouncing artist search input.
  src/frontend/src/hooks/useDebounce.ts
  src/frontend/src/views/Artists.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: Pass track status directly to `TrackListItem` instead of a status getter function.
  src/frontend/src/components/organisms/TrackList.tsx
Due: pnpm --filter frontend format

feat: Introduce dynamic track status retrieval and display in playlist components.
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/components/templates/PlaylistView.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

perf: optimize active playlist lookup in HistoryList using a memoized map.
  src/frontend/src/components/organisms/HistoryList.tsx
Due: pnpm --filter frontend format

refactor: Remove `usePlaylistStats` hook by moving stats calculation to a utility and integrating them into `PlaylistWithStats` via `usePlaylistsQuery`.
  src/frontend/src/components/organisms/PlaylistCard.tsx
  src/frontend/src/components/organisms/PlaylistList.tsx
  src/frontend/src/hooks/queries/usePlaylistsQuery.ts
  src/frontend/src/hooks/usePlaylistStats.ts
  src/frontend/src/types/playlist.ts
  src/frontend/src/utils/playlist.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Centralize track status fetching in `useTrackStatus` hook with a map and integrate it directly into track list components, removing redundant prop passing.
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/components/organisms/TrackList.tsx
  src/frontend/src/components/templates/PlaylistView.tsx
  src/frontend/src/hooks/useTrackStatus.ts
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Centralize playlist and artist status retrieval with a new map hook and replace the playlist title hook with a utility.
  src/frontend/src/components/templates/PlaylistView.tsx
  src/frontend/src/hooks/usePlaylistTitle.ts
  src/frontend/src/utils/playlist.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: Centralize playlist and artist status logic using `usePlaylistStatusMap` and refactored `useArtistStatus` hooks.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/hooks/useArtistStatus.ts
  src/frontend/src/hooks/usePlaylistStatusMap.ts
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

fix: improve EventSource error handling to allow browser reconnection and prevent settings form from overwriting user input.
  src/frontend/src/hooks/useServerEvents.ts
  src/frontend/src/hooks/useSettingsForm.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: Migrate all icons to use the `@fortawesome/react-fontawesome` component and update related dependencies.
  pnpm-lock.yaml
  src/frontend/package.json
  src/frontend/src/components/atoms/Button.tsx
  src/frontend/src/components/molecules/TrackStatusIndicator.tsx
  src/frontend/src/components/organisms/Header.tsx
  src/frontend/src/components/organisms/PlaylistCard.tsx
  src/frontend/src/components/organisms/Sidebar.tsx
  src/frontend/src/icons.ts
  src/frontend/src/index.css
  src/frontend/src/index.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

refactor: use `FontAwesomeIcon` component for icons and memoize `VirtualList` render prop.
  src/frontend/src/components/organisms/TrackList.tsx
Due: pnpm --filter frontend format

refactor: replace FontAwesome `<i>` tags with `FontAwesomeIcon` component and extract `VirtualList` renderItem prop into `useCallback`.
  src/frontend/src/components/organisms/HistoryList.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
Due: pnpm --filter frontend format

refactor: Replace Font Awesome `<i>` tags with `FontAwesomeIcon` components and optimize virtualized list rendering with `useCallback` and `useMemo`.
  src/frontend/src/components/organisms/AlbumCard.tsx
  src/frontend/src/components/organisms/ArtistCard.tsx
  src/frontend/src/components/organisms/ArtistList.tsx
  src/frontend/src/components/organisms/PlaylistList.tsx
  src/frontend/src/components/organisms/ReleasesList.tsx
Due: pnpm --filter frontend format

Path conditions:
  pnpm --filter backend lint: any of: src/backend/**/*.ts
  pnpm --filter frontend lint: any of: src/frontend/**/*.ts
  pnpm --filter shared lint: any of: src/shared/**/*.ts
  pnpm --filter backend format: any of: src/backend/src/**/*.{ts,json}
  pnpm --filter frontend format: any of: src/frontend/src/**/*.{ts,tsx,css,json}
  pnpm --filter shared format: any of: src/shared/src/**/*.{ts,json}
  pnpm prettier --write --ignore-path .gitignore: any of: *.{json,md,yml,yaml}
