Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format, pnpm prettier --write --ignore-path .gitignore

feat: enhance ArtistCard styling and layout with updated colors, sizes, and an added artist label.
  src/frontend/src/components/organisms/ArtistCard.tsx
Due: pnpm --filter frontend format

refactor: Migrate frontend to use shared TrackStatusEnum and add Spotify API request retry logic.
  src/backend/src/services/spotify-api.service.ts
  src/frontend/src/components/atoms/TrackStatusBadge.tsx
  src/frontend/src/components/molecules/TrackActions.tsx
  src/frontend/src/components/organisms/PlaylistCard.tsx
  src/frontend/src/hooks/mutations/useRetryTrackMutation.ts
  src/frontend/src/types/playlist.ts
  src/frontend/src/types/track.ts
  src/frontend/src/utils/playlist.ts
  src/frontend/src/views/PlaylistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter backend format, pnpm --filter frontend format

refactor: Extract playlist detail UI into reusable `PlaylistView` template and remove `DetailLayout`.
  src/frontend/src/components/layouts/DetailLayout.tsx
  src/frontend/src/components/molecules/TrackList.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/components/templates/PlaylistView.tsx
  src/frontend/src/views/PlaylistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

style: refine spacing and layout of playlist detail skeleton elements.
  src/frontend/src/components/skeletons/PlaylistDetailSkeleton.tsx
Due: pnpm --filter frontend format

refactor: rename PlaylistDetailSkeleton to PlaylistSkeleton for broader use
  src/frontend/src/components/skeletons/PlaylistSkeleton.tsx
  src/frontend/src/components/templates/PlaylistView.tsx
  src/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend format

feat: introduce SpotifyLinkButton component and refactor views to utilize it for Spotify links.
  src/frontend/src/components/atoms/Button.tsx
  src/frontend/src/components/atoms/SpotifyLinkButton.tsx
  src/frontend/src/components/molecules/HistoryItem.tsx
  src/frontend/src/components/molecules/PlaylistActions.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

refactor: Consolidate multiple empty state components into a new generic EmptyState component.
  src/frontend/src/components/molecules/EmptyHistory.tsx
  src/frontend/src/components/molecules/EmptyPlaylistTracks.tsx
  src/frontend/src/components/molecules/EmptyReleases.tsx
  src/frontend/src/components/molecules/EmptyState.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/views/History.tsx
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend format

refactor: extract track status display into `TrackStatusIndicator` component and use it in `PlaylistTracksList`
  src/frontend/src/components/molecules/TrackStatusIndicator.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
Due: pnpm --filter frontend format

refactor: Extract PlaylistTrackItem component from PlaylistTracksList into its own file
  src/frontend/src/components/molecules/PlaylistTrackItem.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
Due: pnpm --filter frontend format

refactor: Extract playlist header, table header, and release item into dedicated components.
  src/frontend/src/components/atoms/PlaylistTableHeader.tsx
  src/frontend/src/components/molecules/PlaylistHeader.tsx
  src/frontend/src/components/molecules/ReleaseItem.tsx
  src/frontend/src/components/templates/PlaylistView.tsx
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend format

refactor: extract ArtistHeader, PlaylistDescription, and PlaylistMetadata into new molecule components.
  src/frontend/src/components/molecules/ArtistHeader.tsx
  src/frontend/src/components/molecules/PlaylistDescription.tsx
  src/frontend/src/components/molecules/PlaylistMetadata.tsx
  src/frontend/src/components/molecules/TrackList.tsx
  src/frontend/src/components/molecules/TrackStatusIndicator.tsx
  src/frontend/src/components/templates/PlaylistView.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

refactor: extract playlist statistics calculation into a new `usePlaylistStats` hook.
  src/frontend/src/components/organisms/PlaylistCard.tsx
  src/frontend/src/hooks/usePlaylistStats.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: remove track list item, status badge, and action components
  src/frontend/src/components/atoms/TrackStatusBadge.tsx
  src/frontend/src/components/molecules/PreviewActions.tsx
  src/frontend/src/components/molecules/TrackActions.tsx
  src/frontend/src/components/molecules/TrackListItem.tsx
Due: pnpm --filter frontend format

fix: Increase z-index of sidebar and its overlay for proper layering.
  src/frontend/src/components/organisms/Sidebar.tsx
Due: pnpm --filter frontend format

refactor: add className prop to PageHeader and adjust header layouts in various views.
  src/frontend/src/components/atoms/PageHeader.tsx
  src/frontend/src/views/Artists.tsx
  src/frontend/src/views/History.tsx
  src/frontend/src/views/Releases.tsx
  src/frontend/src/views/Settings.tsx
Due: pnpm --filter frontend format

refactor: move empty state rendering for track lists from list components to parent views.
  src/frontend/src/components/molecules/TrackList.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/components/templates/PlaylistView.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

feat: Add skeleton loading components and integrate them across multiple views to enhance loading states.
  src/frontend/src/components/skeletons/CardGridSkeleton.tsx
  src/frontend/src/components/skeletons/HistorySkeleton.tsx
  src/frontend/src/components/skeletons/SettingsSkeleton.tsx
  src/frontend/src/components/templates/PlaylistView.tsx
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/src/views/Artists.tsx
  src/frontend/src/views/History.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/PlaylistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
  src/frontend/src/views/Releases.tsx
  src/frontend/src/views/Settings.tsx
Due: pnpm --filter frontend format

feat: replace external Spotify links with internal navigation for playlists, tracks, artists, and albums
  src/frontend/src/components/molecules/HistoryItem.tsx
  src/frontend/src/components/molecules/PlaylistMetadata.tsx
  src/frontend/src/components/molecules/PlaylistTrackItem.tsx
  src/frontend/src/components/molecules/TrackList.tsx
  src/frontend/src/components/organisms/ReleaseCard.tsx
  src/frontend/src/utils/spotify.ts
  src/frontend/src/views/History.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: centralize artist list rendering into a new `ArtistList` component and improve `PlaylistPreview`'s handling of missing URLs.
  src/frontend/src/components/molecules/ArtistList.tsx
  src/frontend/src/components/molecules/PlaylistMetadata.tsx
  src/frontend/src/components/molecules/PlaylistTrackItem.tsx
Due: pnpm --filter frontend format

feat: display `PlaylistNotFound` component when `spotifyUrl` is missing instead of returning `null`
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

refactor: extract track status determination into a `useTrackStatus` hook and consume it in `ArtistDetail` and `PlaylistPreview`.
  src/frontend/src/hooks/useTrackStatus.ts
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: extract sub-components and optimize performance with memo and useCallback
  src/frontend/src/components/molecules/ArtistList.tsx
  src/frontend/src/components/molecules/PlaylistMetadata.tsx
  src/frontend/src/components/molecules/TrackList.tsx
  src/frontend/src/components/organisms/ReleaseCard.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

refactor: Use enum member for default track status in PlaylistPreview.
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

refactor: Remove direct Spotify link buttons and related handlers from release and history items.
  src/frontend/src/components/molecules/HistoryItem.tsx
  src/frontend/src/components/molecules/ReleaseItem.tsx
  src/frontend/src/components/organisms/ReleaseCard.tsx
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend format

refactor: replace specific skeleton components with a generic Loading component
  src/frontend/src/components/atoms/Loading.tsx
  src/frontend/src/components/organisms/ArtistCard.tsx
  src/frontend/src/components/skeletons/ArtistDetailSkeleton.tsx
  src/frontend/src/components/skeletons/CardGridSkeleton.tsx
  src/frontend/src/components/skeletons/HistorySkeleton.tsx
  src/frontend/src/components/skeletons/SettingsSkeleton.tsx
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/src/views/Artists.tsx
  src/frontend/src/views/History.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/Releases.tsx
  src/frontend/src/views/Settings.tsx
Due: pnpm --filter frontend format

feat: Restructure the History view into a responsive grid with a header and adapt HistoryItem for the new layout.
  src/frontend/src/components/molecules/HistoryItem.tsx
  src/frontend/src/views/History.tsx
Due: pnpm --filter frontend format

refactor: Use track ID sets for more accurate playlist track counts and add specific Spotify 401 token error handling.
  src/backend/src/domain/history/history.use-cases.ts
  src/backend/src/services/spotify-api.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: redesign release cards to a list view, display album type and relative date, and update the page title.
  src/frontend/src/components/molecules/ReleaseItem.tsx
  src/frontend/src/components/organisms/ReleaseCard.tsx
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend format

feat: Redesign release cards to a grid layout with hover download actions and update releases view to use a responsive grid.
  src/frontend/src/components/organisms/ReleaseCard.tsx
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend format

feat: return created playlist object from API and navigate to its detail page on creation success
  src/frontend/src/services/api.ts
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

fix: Update Releases page header title from "Novedades" to "Releases".
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend format

style: update settings page layout to use full width
  src/frontend/src/views/Settings.tsx
Due: pnpm --filter frontend format

refactor: Delete `PlaylistList` component, move playlist rendering and clear button logic to the `Home` view, and add an action slot to `PageHeader`.
  src/frontend/src/components/atoms/PageHeader.tsx
  src/frontend/src/components/organisms/PlaylistList.tsx
  src/frontend/src/views/Home.tsx
Due: pnpm --filter frontend format

refactor: replace custom clear completed button with shared Button component
  src/frontend/src/views/Home.tsx
Due: pnpm --filter frontend format

refactor: Use `Button` atom in `ConnectSpotifyPrompt` and add `type="button"` to `TrackStatusIndicator` buttons.
  src/frontend/src/components/molecules/TrackStatusIndicator.tsx
  src/frontend/src/components/organisms/ConnectSpotifyPrompt.tsx
Due: pnpm --filter frontend format

feat: navigate to the newly recreated playlist's detail page instead of home on success
  src/frontend/src/views/History.tsx
Due: pnpm --filter frontend format

refactor: Consolidate playlist status display and update styling in PlaylistCard by removing progress bar and separate badges.
  src/frontend/src/components/organisms/PlaylistCard.tsx
Due: pnpm --filter frontend format

feat: Improve playlist download progress display by distinguishing active states and adding a cover hover effect.
  src/frontend/src/components/organisms/PlaylistCard.tsx
  src/frontend/src/hooks/usePlaylistStats.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Add a generic confirmation modal, use it for playlist deletion, and improve playlist display name generation.
  src/frontend/src/components/molecules/ConfirmModal.tsx
  src/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend format

feat: Add confirmation modal for clearing completed playlists and improve playlist display name generation by prioritizing primary artist.
  src/backend/src/domain/playlists/create-playlist.use-case.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

Path conditions:
  pnpm --filter backend lint: any of: src/backend/**/*.ts
  pnpm --filter frontend lint: any of: src/frontend/**/*.ts
  pnpm --filter shared lint: any of: src/shared/**/*.ts
  pnpm --filter backend format: any of: src/backend/src/**/*.{ts,json}
  pnpm --filter frontend format: any of: src/frontend/src/**/*.{ts,tsx,css,json}
  pnpm --filter shared format: any of: src/shared/src/**/*.{ts,json}
  pnpm prettier --write --ignore-path .gitignore: any of: *.{json,md,yml,yaml}
