Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "apps/backend/**/*.ts": ["pnpm --filter backend lint"],
  "apps/frontend/**/*.ts": ["pnpm --filter frontend lint"],
  "packages/shared/**/*.ts": ["pnpm --filter @spotiarr/shared lint"],
  "**/*.{ts,tsx,css,json,md,yml,yaml}": [
    "pnpm prettier --write --ignore-path .gitignore"
  ]
}

chore(release): bump to v1.21.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(docker): drop removed .npmrc from COPY and use pnpm 11.7.0 in builder
  Dockerfile
Due: none

chore(release): bump to v1.21.1
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(docker): use --legacy for pnpm deploy
  Dockerfile
Due: none

chore(release): bump to v1.21.2
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(docker): pre-cache pnpm 11.7.0 in prod corepack store
  Dockerfile
Due: none

chore(release): bump to v1.21.3
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(docker): disable pnpm verify-deps-before-run for prod runtime
  pnpm-workspace.yaml
Due: pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.21.4
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

refactor: remove confirmed dead code
  apps/backend/src/application/ports/artist-lookup.port.ts
  apps/backend/src/application/ports/file-system.port.ts
  apps/backend/src/application/ports/library-image.port.ts
  apps/backend/src/application/services/health.service.ts
  apps/backend/src/application/use-cases/artists/artist-catalog.constants.ts
  apps/backend/src/container.ts
  apps/backend/src/domain/entities/track.entity.ts
  apps/backend/src/infrastructure/database/prisma-errors.test.ts
  apps/backend/src/infrastructure/database/prisma-errors.ts
  apps/backend/src/infrastructure/database/types.ts
  apps/backend/src/infrastructure/external/cache.types.ts
  apps/backend/src/infrastructure/external/index.ts
  apps/backend/src/infrastructure/external/providers/musicbrainz/musicbrainz.client.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/infrastructure/external/spotify.types.ts
  apps/backend/src/infrastructure/jobs/index.ts
  apps/backend/src/infrastructure/services/library-image.service.ts
  apps/backend/src/infrastructure/services/noop-spotify-artwork-source.service.test.ts
  apps/backend/src/infrastructure/services/noop-spotify-artwork-source.service.ts
  apps/frontend/src/components/molecules/PlaylistActions.tsx
  apps/frontend/src/components/molecules/PlaylistCard.test.tsx
  apps/frontend/src/components/molecules/PlaylistCard.tsx
  apps/frontend/src/components/molecules/PlaylistStatusBadge.test.tsx
  apps/frontend/src/components/molecules/PlaylistStatusBadge.tsx
  apps/frontend/src/components/molecules/TransportControls/TransportControls.tsx
  apps/frontend/src/components/molecules/TransportControls/index.ts
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/contexts/ToastContext.tsx
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/store/usePlayerStore.ts
  docs/dead-code-audit-254.md
  packages/shared/src/identity.test.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

refactor: remove audit documentation file
  docs/dead-code-audit-254.md
Due: pnpm prettier --write --ignore-path .gitignore

refactor: remove dead code (#254) (#262)
  apps/backend/src/application/ports/artist-lookup.port.ts
  apps/backend/src/application/ports/file-system.port.ts
  apps/backend/src/application/ports/library-image.port.ts
  apps/backend/src/application/services/health.service.ts
  apps/backend/src/application/use-cases/artists/artist-catalog.constants.ts
  apps/backend/src/container.ts
  apps/backend/src/domain/entities/track.entity.ts
  apps/backend/src/infrastructure/database/prisma-errors.test.ts
  apps/backend/src/infrastructure/database/prisma-errors.ts
  apps/backend/src/infrastructure/database/types.ts
  apps/backend/src/infrastructure/external/cache.types.ts
  apps/backend/src/infrastructure/external/index.ts
  apps/backend/src/infrastructure/external/providers/musicbrainz/musicbrainz.client.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/infrastructure/external/spotify.types.ts
  apps/backend/src/infrastructure/jobs/index.ts
  apps/backend/src/infrastructure/services/library-image.service.ts
  apps/backend/src/infrastructure/services/noop-spotify-artwork-source.service.test.ts
  apps/backend/src/infrastructure/services/noop-spotify-artwork-source.service.ts
  apps/frontend/src/components/molecules/PlaylistActions.tsx
  apps/frontend/src/components/molecules/PlaylistCard.test.tsx
  apps/frontend/src/components/molecules/PlaylistCard.tsx
  apps/frontend/src/components/molecules/PlaylistStatusBadge.test.tsx
  apps/frontend/src/components/molecules/PlaylistStatusBadge.tsx
  apps/frontend/src/components/molecules/TransportControls/TransportControls.tsx
  apps/frontend/src/components/molecules/TransportControls/index.ts
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/contexts/ToastContext.tsx
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/store/usePlayerStore.ts
  packages/shared/src/identity.test.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): translate mobile navigation labels via i18n
  apps/frontend/src/components/layouts/AppHeader.test.tsx
  apps/frontend/src/components/layouts/AppHeader.tsx
  apps/frontend/src/components/layouts/BottomNavigation.test.tsx
  apps/frontend/src/components/layouts/BottomNavigation.tsx
  apps/frontend/src/components/layouts/Sidebar.tsx
  apps/frontend/src/config/navigation.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

docs: audit and refresh docs, screenshots, and agent guidance (#255)
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  apps/backend/AGENTS.md
  apps/frontend/AGENTS.md
  assets/screenshots/artist-profile.png
  assets/screenshots/artists.png
  assets/screenshots/dashboard.png
  assets/screenshots/history.png
  assets/screenshots/library.png
  assets/screenshots/mobile.png
  assets/screenshots/player-desktop.png
  assets/screenshots/player-mobile.png
  assets/screenshots/playlist.png
  assets/screenshots/releases.png
  assets/screenshots/search.png
  assets/screenshots/settings.png
  docs/ARCHITECTURE.en.md
  docs/ARCHITECTURE.md
  packages/shared/AGENTS.md
  skills/setup.sh
Due: pnpm prettier --write --ignore-path .gitignore

docs: fix skill-registry path and refresh stale spotiarr-zustand skill (#255)
  CONTRIBUTING.md
  skills/spotiarr-zustand/SKILL.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: list vitest, playwright, and oxlint skills in AGENTS.md (#255)
  AGENTS.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: audit and refresh documentation, screenshots, and agent guidance (#255) (#263)
  .gitignore
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  apps/backend/AGENTS.md
  apps/frontend/AGENTS.md
  apps/frontend/src/components/layouts/AppHeader.test.tsx
  apps/frontend/src/components/layouts/AppHeader.tsx
  apps/frontend/src/components/layouts/BottomNavigation.test.tsx
  apps/frontend/src/components/layouts/BottomNavigation.tsx
  apps/frontend/src/components/layouts/Sidebar.tsx
  apps/frontend/src/config/navigation.ts
  assets/screenshots/artist-profile.png
  assets/screenshots/artists.png
  assets/screenshots/dashboard.png
  assets/screenshots/history.png
  assets/screenshots/library.png
  assets/screenshots/mobile.png
  assets/screenshots/player-desktop.png
  assets/screenshots/player-mobile.png
  assets/screenshots/playlist.png
  assets/screenshots/releases.png
  assets/screenshots/search.png
  assets/screenshots/settings.png
  docs/ARCHITECTURE.en.md
  docs/ARCHITECTURE.md
  packages/shared/AGENTS.md
  skills/setup.sh
  skills/spotiarr-zustand/SKILL.md
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

style(frontend): left-align track meta in mobile player bar
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
Due: pnpm prettier --write --ignore-path .gitignore

style(frontend): left-align track meta in desktop player bar button
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
Due: pnpm prettier --write --ignore-path .gitignore

style(frontend): left-align track title and artist in player bar (mobile + desktop) (#264)
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): add Artists section heading in Home view
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/Home.test.tsx
  apps/frontend/src/views/Home.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor(frontend): unify library grids on VirtualGrid for consistent card sizing
  apps/frontend/src/components/organisms/HomePlaylistList.test.tsx
  apps/frontend/src/components/organisms/HomePlaylistList.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): hide playlist count badge when fully downloaded
  apps/frontend/src/components/molecules/HomePlaylistCard.test.tsx
  apps/frontend/src/components/molecules/HomePlaylistCard.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): Artists section heading + consistent library grid sizing (#265)
  apps/frontend/src/components/molecules/HomePlaylistCard.test.tsx
  apps/frontend/src/components/molecules/HomePlaylistCard.tsx
  apps/frontend/src/components/organisms/HomePlaylistList.test.tsx
  apps/frontend/src/components/organisms/HomePlaylistList.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/Home.test.tsx
  apps/frontend/src/views/Home.tsx
Due: pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.22.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

feat(history): add shouldRecordPlay predicate with boundary tests
  apps/backend/src/domain/utils/__tests__/should-record-play.test.ts
  apps/backend/src/domain/utils/should-record-play.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(history): add PlayHistory Prisma model and migration
  apps/backend/prisma/migrations/20260618145048_add_play_history/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

feat(shared): add RecordPlayInput DTO
  packages/shared/src/index.ts
Due: pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(history): implement PrismaPlayHistoryRepository.recordPlay
  apps/backend/src/domain/repositories/history.repository.ts
  apps/backend/src/infrastructure/database/__tests__/prisma-play-history.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-history.repository.ts
  apps/backend/src/infrastructure/database/prisma-play-history.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(history): add HistoryUseCases.recordPlay with LISTENING_HISTORY_ENABLED guard
  apps/backend/src/application/use-cases/history/history.use-cases.test.ts
  apps/backend/src/application/use-cases/history/history.use-cases.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(history): add POST /api/history/plays route and wire settingsService
  apps/backend/src/container.ts
  apps/backend/src/presentation/controllers/history.controller.test.ts
  apps/backend/src/presentation/controllers/history.controller.ts
  apps/backend/src/presentation/routes/history.routes.test.ts
  apps/backend/src/presentation/routes/history.routes.ts
  apps/backend/src/presentation/routes/schemas/history.schema.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(history): guard play-history input validation and accept zero timestamps
  apps/backend/src/infrastructure/database/__tests__/prisma-play-history.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-play-history.repository.ts
  apps/backend/src/presentation/routes/history.routes.test.ts
  apps/backend/src/presentation/routes/schemas/history.schema.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(shared): add TopTrackItem, TopArtistItem, RecentPlayItem DTOs
  packages/shared/src/index.ts
Due: pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(history): extend HistoryRepository interface with 3 aggregation query methods
  apps/backend/src/domain/repositories/history.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(history): implement getTopTracks, getTopArtists, getRecentPlays in PrismaPlayHistoryRepository
  apps/backend/src/infrastructure/database/__tests__/prisma-play-history-aggregation.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-history.repository.ts
  apps/backend/src/infrastructure/database/prisma-play-history.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(history): add getTopTracks, getTopArtists, getRecentPlays use-cases with limit clamping
  apps/backend/src/application/use-cases/history/history.use-cases.test.ts
  apps/backend/src/application/use-cases/history/history.use-cases.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(history): add GET /top-tracks, /top-artists, /recent-plays routes and controller handlers
  apps/backend/src/presentation/controllers/history.controller.test.ts
  apps/backend/src/presentation/controllers/history.controller.ts
  apps/backend/src/presentation/routes/history.routes.ts
  apps/backend/src/presentation/routes/schemas/history.schema.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(history): correct play-history aggregation grouping, count, and limit coercion
  apps/backend/src/infrastructure/database/__tests__/prisma-play-history-aggregation.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-play-history.repository.ts
  apps/backend/src/presentation/controllers/history.controller.test.ts
  apps/backend/src/presentation/controllers/history.controller.ts
  apps/backend/src/presentation/middleware/validate.ts
  apps/backend/src/presentation/routes/history.routes.test.ts
  apps/backend/src/presentation/routes/schemas/history.schema.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(history): add trackCount to top-artists aggregation
  apps/backend/src/infrastructure/database/__tests__/prisma-play-history-aggregation.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-play-history.repository.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add shouldRecordPlay predicate with boundary tests
  apps/frontend/src/utils/should-record-play.test.ts
  apps/frontend/src/utils/should-record-play.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore
