Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat: Allow YouTube cookies to be provided as a file path or browser name for search and download, and slightly increase header search input padding.
  apps/frontend/src/components/layouts/AppHeader.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat: Add support for pasting YouTube cookies.txt content and improve YouTube search and download robustness.
  apps/backend/src/application/use-cases/settings/update-setting.use-case.ts
  apps/backend/src/constants/settings-metadata.ts
  apps/backend/src/infrastructure/external/youtube-download.service.ts
  apps/backend/src/infrastructure/external/youtube-search.service.ts
  apps/frontend/src/components/molecules/SettingItem.tsx
  apps/frontend/src/components/molecules/SettingTextarea.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

docs: clarify YouTube cookies setting in README
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

chore(release): 0.1.7
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

feat: Implement retry logic for network errors and increase maximum retries in the Spotify HTTP client.
  apps/backend/src/infrastructure/external/spotify-http.client.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

Removed unneded newline which broke README.md table
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

Removed unneded newline which broke README.md table (#3)
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: Add detailed response for Spotify redirect URI issues and enhance `.env.example` guidance for `SPOTIFY_REDIRECT_URI`.
  .env.example
Due: none

chore: Update "Artists" label to "My Artists" in English and Spanish translations.
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm prettier --write --ignore-path .gitignore

feat: Enhance YouTube search reliability with rate limiting, retry logic, and `ytdlp-nodejs` upgrade.
  apps/backend/package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-path .gitignore

feat: Implement YouTube search rate limiting and retry logic with a new configurable delay setting.
  apps/backend/src/constants/settings-metadata.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat: implement rate limiting and retry logic with exponential backoff for YouTube searches
  apps/backend/src/infrastructure/external/youtube-search.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix: Exclude subscribed playlists from automatic deletion consideration.
  apps/backend/src/application/use-cases/playlists/delete-playlist.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat: Implement library management with scanning, statistics, artist listing, and a new activity view.
  apps/backend/src/application/services/library.service.ts
  apps/backend/src/application/use-cases/library/scan-library.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/infrastructure/services/file-system-scanner.service.ts
  apps/backend/src/presentation/routes/index.ts
  apps/backend/src/presentation/routes/library.routes.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat: Implement library management with scanning, stats, and artist display, and introduce an Activity view.
  apps/frontend/src/components/layouts/Sidebar.tsx
  apps/frontend/src/components/molecules/EmptyState.tsx
  apps/frontend/src/components/molecules/PageHeader.tsx
  apps/frontend/src/config/navigation.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/routes/Routing.tsx
  apps/frontend/src/routes/routes.ts
  apps/frontend/src/views/Activity.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat: Implement library management with scanning, statistics, and artist display.
  packages/shared/src/index.ts
  packages/shared/src/routes.ts
Due: pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat: Implement frontend library management with statistics, artist display, and scan functionality.
  apps/frontend/src/hooks/mutations/useScanLibraryMutation.ts
  apps/frontend/src/hooks/queries/useLibraryArtistsQuery.ts
  apps/frontend/src/hooks/queries/useLibraryStatsQuery.ts
  apps/frontend/src/hooks/queryKeys.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat: Implement music library feature with scanning, statistics, and artist browsing on the home page.
  apps/frontend/src/services/library.service.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat: Implement library view on home screen with artist listing, statistics, and scan functionality.
  apps/frontend/src/components/molecules/LibraryArtistCard.tsx
  apps/frontend/src/components/molecules/StatCard.tsx
  apps/frontend/src/components/organisms/LibraryArtistList.tsx
  apps/frontend/src/hooks/controllers/useHomeController.ts
  apps/frontend/src/views/Home.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat: add image support for artists and albums, including file system scanning, API serving, and frontend display.
  apps/backend/src/application/services/library.service.ts
  apps/backend/src/infrastructure/services/file-system-scanner.service.ts
  apps/backend/src/presentation/routes/library.routes.ts
  apps/frontend/src/components/molecules/LibraryArtistCard.tsx
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat: Introduce a dedicated library artist detail view displaying albums and tracks, along with supporting data fetching and routing.
  apps/backend/src/application/services/library.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat: Implement a new Library Artist view to display artist details and their albums.
  apps/frontend/src/components/molecules/LibraryAlbumCard.tsx
  apps/frontend/src/hooks/controllers/useHomeController.ts
  apps/frontend/src/hooks/controllers/useLibraryArtistController.ts
  apps/frontend/src/hooks/queries/useLibraryArtistQuery.ts
  apps/frontend/src/hooks/queryKeys.ts
  apps/frontend/src/routes/Routing.tsx
  apps/frontend/src/routes/routes.ts
  apps/frontend/src/views/LibraryArtist.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor: restructure the library artist view by introducing new `LibraryArtistProfile` and `LibraryAlbumList` components, and enhancing `ArtistHeader` with a subtitle prop.
  apps/frontend/src/components/molecules/ArtistHeader.tsx
  apps/frontend/src/components/organisms/LibraryAlbumList.tsx
  apps/frontend/src/components/organisms/LibraryArtistProfile.tsx
  apps/frontend/src/views/LibraryArtist.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat: Extract track durations from audio files during library scan and display them in the UI.
  apps/backend/package.json
  apps/backend/src/application/use-cases/library/scan-library.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/services/file-system-scanner.service.ts
  apps/frontend/src/components/molecules/LibraryAlbumCard.tsx
  pnpm-lock.yaml
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor: introduce `useActivityController` to manage logic for the Activity view.
  apps/frontend/src/hooks/controllers/useActivityController.ts
  apps/frontend/src/views/Activity.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat: Trigger library scan and frontend refresh after track download queue is drained.
  apps/backend/src/infrastructure/workers/track-download.worker.ts
  apps/frontend/src/hooks/useServerEvents.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat: Add new music and album art downloads, and introduce album/track translation keys to locale files.
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm prettier --write --ignore-path .gitignore

feat: Add new music downloads and update localization with artist not found messages.
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm prettier --write --ignore-path .gitignore

feat: Add downloaded music and album art for multiple artists and update SettingItem component to support textarea changes.
  apps/frontend/src/components/molecules/SettingItem.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat: Extend `handleChange` event type to support `HTMLTextAreaElement`.
  apps/frontend/src/hooks/controllers/useSettingsController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat: replace static artist list rendering with `VirtualGrid` component and introduce `LibraryArtistListItem` for individual artist rendering.
  apps/frontend/src/components/organisms/LibraryArtistList.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor: virtualize album list rendering in LibraryAlbumList with VirtualGrid and memoization.
  apps/frontend/src/components/organisms/LibraryAlbumList.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor: enhance `LibraryAlbumCard` and `TrackItem` styling by refining flexbox layout, spacing, and adding track name titles.
  apps/frontend/src/components/molecules/LibraryAlbumCard.tsx
Due: pnpm prettier --write --ignore-path .gitignore

docs: Update README with Built-in Library feature, Tailwind 4, and revised application views.
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

chore: Bump package version to 1.0.0.
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

docs: Update CHANGELOG for v1.0.0 release, detailing new built-in library, activity dashboard, performance, and reliability improvements.
  CHANGELOG.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: update README with new screenshots for library, artist profile, and activity dashboard.
  README.md
  assets/screenshots/activity.png
  assets/screenshots/artist-profile.png
  assets/screenshots/dashboard.png
Due: pnpm prettier --write --ignore-path .gitignore

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

feat: Add search functionality to find Spotify tracks, albums, and artists.
  apps/backend/src/domain/services/spotify.service.ts
  apps/backend/src/infrastructure/external/spotify-catalog.service.ts
  apps/backend/src/infrastructure/external/spotify.types.ts
  apps/backend/src/presentation/routes/index.ts
  apps/backend/src/presentation/routes/search.routes.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat: Added Search new view
  apps/frontend/src/hooks/controllers/useHeaderController.ts
  apps/frontend/src/hooks/queries/useSearchQuery.ts
  apps/frontend/src/hooks/queryKeys.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/routes/Routing.tsx
  apps/frontend/src/routes/routes.ts
  apps/frontend/src/services/search.service.ts
  apps/frontend/src/views/Search.tsx
  packages/shared/src/index.ts
  packages/shared/src/routes.ts
Due: pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

Path conditions:
  pnpm --filter backend lint: any of: apps/backend/**/*.ts
  pnpm --filter frontend lint: any of: apps/frontend/**/*.ts
  pnpm --filter @spotiarr/shared lint: any of: packages/shared/**/*.ts
  pnpm prettier --write --ignore-path .gitignore: any of: **/*.{ts,tsx,css,json,md,yml,yaml}
