Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format, pnpm prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "src/backend/**/*.ts": ["pnpm --filter backend lint"],
  "src/frontend/**/*.ts": ["pnpm --filter frontend lint"],
  "src/shared/**/*.ts": ["pnpm --filter shared lint"],
  "src/backend/src/**/*.{ts,json}": ["pnpm --filter backend format"],
  "src/frontend/src/**/*.{ts,tsx,css,json}": ["pnpm --filter frontend format"],
  "src/shared/src/**/*.{ts,json}": ["pnpm --filter shared format"],
  "*.{json,md,yml,yaml}": ["pnpm prettier --write --ignore-path .gitignore"]
}

Add CODEOWNERS file with mralexsaavedra as default owner
  .github/CODEOWNERS
Due: none

Add PlaylistTracksList component to refactor playlist detail view
  src/frontend/src/components/EmptyPlaylistTracks.tsx
  src/frontend/src/components/PlaylistTracksList.tsx
  src/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend format

Reorganize components into atomic design structure (atoms/molecules/organisms/layouts)
  src/frontend/src/components/atoms/Button.tsx
  src/frontend/src/components/atoms/Loading.tsx
  src/frontend/src/components/atoms/PageHeader.tsx
  src/frontend/src/components/atoms/TrackStatusBadge.tsx
  src/frontend/src/components/layouts/AppLayout.tsx
  src/frontend/src/components/layouts/PlaylistLayout.tsx
  src/frontend/src/components/molecules/EmptyHistory.tsx
  src/frontend/src/components/molecules/EmptyPlaylistTracks.tsx
  src/frontend/src/components/molecules/EmptyReleases.tsx
  src/frontend/src/components/molecules/HistoryItem.tsx
  src/frontend/src/components/molecules/PlaylistActions.tsx
  src/frontend/src/components/molecules/PlaylistNotFound.tsx
  src/frontend/src/components/molecules/PreviewActions.tsx
  src/frontend/src/components/molecules/PreviewError.tsx
  src/frontend/src/components/molecules/RateLimitedMessage.tsx
  src/frontend/src/components/molecules/SettingInput.tsx
  src/frontend/src/components/molecules/SettingSelect.tsx
  src/frontend/src/components/molecules/SettingToggle.tsx
  src/frontend/src/components/molecules/TrackActions.tsx
  src/frontend/src/components/molecules/TrackListItem.tsx
  src/frontend/src/components/organisms/ConnectSpotifyPrompt.tsx
  src/frontend/src/components/organisms/Header.tsx
  src/frontend/src/components/organisms/PlaylistCard.tsx
  src/frontend/src/components/organisms/PlaylistList.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/components/organisms/ReleaseCard.tsx
  src/frontend/src/components/organisms/Sidebar.tsx
  src/frontend/src/routes/Routing.tsx
  src/frontend/src/views/History.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/PlaylistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
  src/frontend/src/views/Releases.tsx
  src/frontend/src/views/Settings.tsx
Due: pnpm --filter frontend format

Remove TODO.md file with completed or obsolete tasks
  TODO.md
Due: pnpm prettier --write --ignore-path .gitignore

Add comprehensive quick-start guide and restructure CONTRIBUTING.md for better developer onboarding
  CONTRIBUTING.md
Due: pnpm prettier --write --ignore-path .gitignore

Remove JELLYFIN_SETUP.md and update README.md references to consolidate documentation
  JELLYFIN_SETUP.md
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

Remove docker-compose.override.yml file to simplify local development configuration
  docker-compose.override.yml
Due: pnpm prettier --write --ignore-path .gitignore

Add docker-compose.override.yml to .gitignore to prevent committing local Docker configuration overrides
  .gitignore
Due: none

Restructure README.md with centered header, condensed feature table, and streamlined quick-start guide
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

Remove author and engines fields from backend/frontend package.json, add description and license to shared package.json
  src/backend/package.json
  src/frontend/package.json
  src/shared/package.json
Due: pnpm prettier --write --ignore-path .gitignore

Reset all package versions to 0.0.0 across backend, frontend, shared, and config packages
  src/backend/package.json
  src/eslint-config/package.json
  src/frontend/package.json
  src/prettier-config/package.json
  src/shared/package.json
  src/tsconfig/package.json
Due: pnpm prettier --write --ignore-path .gitignore

Add GitHub Actions CI workflow for automated linting and building on push and pull requests to main branch
  .github/workflows/ci.yml
Due: pnpm prettier --write --ignore-path .gitignore

Replace pnpm/action-setup with corepack enable for pnpm installation in CI workflow
  .github/workflows/ci.yml
Due: pnpm prettier --write --ignore-path .gitignore

Replace corepack enable with explicit pnpm global installation in CI workflow
  .github/workflows/ci.yml
Due: pnpm prettier --write --ignore-path .gitignore

Replace npm global pnpm installation with pnpm/action-setup@v4 and move before Node.js setup in CI workflow
  .github/workflows/ci.yml
Due: pnpm prettier --write --ignore-path .gitignore

Update pnpm/action-setup configuration to use run_install: false instead of explicit version 10 in CI workflow
  .github/workflows/ci.yml
Due: pnpm prettier --write --ignore-path .gitignore

Add Prisma Client generation steps to Dockerfile build stages and include database migration deployment in container startup command
  Dockerfile
  README.md
  src/backend/package.json
Due: pnpm prettier --write --ignore-path .gitignore

Reformat pnpm-lock.yaml from double quotes to single quotes and remove TypeORM and reflect-metadata dependencies from backend package
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-path .gitignore

Configure custom Content Security Policy directives for helmet middleware and standardize import paths to use relative paths with explicit parent directory navigation
  src/backend/src/app.ts
  src/backend/src/domain/tracks/download-track.use-case.ts
  src/backend/src/domain/tracks/search-track-on-youtube.use-case.ts
  src/backend/src/services/track.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

Reformat pnpm-lock.yaml from double quotes to single quotes and remove better-sqlite3 dependency from backend package
  pnpm-lock.yaml
  src/backend/package.json
Due: pnpm prettier --write --ignore-path .gitignore

Remove unused DTO files for playlist and track entities after migration to Prisma schema-based types
  src/backend/src/dto/playlist.dto.ts
  src/backend/src/dto/track.dto.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

Replace any types with proper Prisma and shared types in playlist and track repositories and add explicit null coalescing for optional fields
  src/backend/src/repositories/prisma-playlist.repository.ts
  src/backend/src/repositories/prisma-track.repository.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

Remove redundant Prisma Client generation step from Dockerfile and integrate prisma:generate into backend build script to streamline build process
  Dockerfile
  src/backend/package.json
Due: pnpm prettier --write --ignore-path .gitignore

Add Artists page with followed artists list endpoint and integrate into navigation sidebar with caching support
  src/backend/src/routes/feed.routes.ts
  src/backend/src/services/spotify-api.service.ts
  src/frontend/src/components/organisms/Sidebar.tsx
  src/frontend/src/hooks/queries/useFollowedArtistsQuery.ts
  src/frontend/src/hooks/queryKeys.ts
  src/frontend/src/routes/Routing.tsx
  src/frontend/src/routes/routes.ts
  src/frontend/src/services/api.ts
  src/frontend/src/views/Artists.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter backend format, pnpm --filter frontend format

Remove HTTP status code checks from error handling and rely solely on error codes for missing_user_access_token and spotify_rate_limited conditions in ApiClient request methods
  src/frontend/src/services/api.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

Extract ArtistCard component from Artists view to improve reusability and separate artist card rendering logic from view-level concerns
  src/frontend/src/components/organisms/ArtistCard.tsx
  src/frontend/src/views/Artists.tsx
Due: pnpm --filter frontend format

Sort followed artists alphabetically by name in getFollowedArtists method before mapping to response format
  src/backend/src/services/spotify-api.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

Rename handleOnClearAll to handleClearAll in Home component for consistent naming convention
  src/frontend/src/views/Home.tsx
Due: pnpm --filter frontend format

Add search functionality to Artists view with client-side filtering and replace React namespace imports with direct MouseEvent and ChangeEvent imports in SettingToggle and useSettingsForm hook
  src/frontend/src/components/molecules/SettingToggle.tsx
  src/frontend/src/hooks/useSettingsForm.ts
  src/frontend/src/views/Artists.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

Adjust PageHeader vertical spacing in Artists view with negative bottom margin on medium and larger screens to align with search input field
  src/frontend/src/views/Artists.tsx
Due: pnpm --filter frontend format

Extract SearchInput component from Artists view and replace inline search input with reusable SearchInput component featuring magnifying glass icon and consistent styling
  src/frontend/src/components/molecules/SearchInput.tsx
  src/frontend/src/views/Artists.tsx
Due: pnpm --filter frontend format

Refactor Artists, History, and Releases views to use conditional rendering instead of early returns for loading and error states to maintain consistent layout structure
  src/frontend/src/views/Artists.tsx
  src/frontend/src/views/History.tsx
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend format

Rename RELEASES_MAX_FOLLOWED_ARTISTS setting to FOLLOWED_ARTISTS_MAX, increase default value from 100 to 200, and update description to reflect usage across both releases and artists views
  src/backend/src/constants/settings-metadata.ts
  src/backend/src/services/spotify-api.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

Add artist detail page with top tracks view and integrate artist card navigation to detail route instead of external Spotify link
  src/backend/src/routes/artist.routes.ts
  src/backend/src/routes/index.ts
  src/frontend/src/components/organisms/ArtistCard.tsx
  src/frontend/src/hooks/queries/useArtistDetailQuery.ts
  src/frontend/src/hooks/queryKeys.ts
  src/frontend/src/routes/Routing.tsx
  src/frontend/src/routes/routes.ts
  src/frontend/src/services/api.ts
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter backend format, pnpm --filter frontend format

Refactor ArtistDetail view to use conditional rendering instead of early returns for loading and error states to maintain consistent layout structure
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

Refactor ArtistDetail view to move null ID check from early return to conditional rendering error state for consistent layout structure
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

Add Popular section header to artist top tracks list and refine spacing and styling with shadow on artist image and adjusted vertical spacing throughout ArtistDetail view
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

Remove PageHeader from ArtistDetail view to eliminate redundant title display
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

Rename PlaylistLayout to DetailLayout and refactor to support both playlist and artist detail views with configurable image shape, flexible metadata rendering, and conditional actions section
  src/frontend/src/components/layouts/DetailLayout.tsx
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/src/views/PlaylistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format
