Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): drive token gate with TanStack Query
  apps/frontend/src/hooks/controllers/useTokenGate.test.tsx
  apps/frontend/src/hooks/controllers/useTokenGate.ts
  apps/frontend/src/hooks/mutations/useUnlockMutation.ts
  apps/frontend/src/hooks/queries/useAuthSessionQuery.ts
  apps/frontend/src/hooks/queryKeys.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): cover instance auth cookie, middleware, controller, env
  apps/backend/src/infrastructure/setup/environment.test.ts
  apps/backend/src/infrastructure/setup/environment.ts
  apps/backend/src/presentation/controllers/auth.controller.test.ts
  apps/backend/src/presentation/middleware/cookie.test.ts
  apps/backend/src/presentation/middleware/require-token.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): add e2e for the instance auth gate
  apps/frontend/tests/e2e/mocked/instance-auth.spec.ts
  apps/frontend/tests/helpers/api-mocks.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

docs: document instance auth and secure internet exposure
  README.md
  docs/ARCHITECTURE.en.md
  docs/ARCHITECTURE.md
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): cover TokenGate component and httpClient 401 interceptor
  apps/frontend/src/components/organisms/TokenGate.test.tsx
  apps/frontend/src/services/httpClient.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): cover auth service, session query and unlock mutation
  apps/frontend/src/hooks/mutations/useUnlockMutation.test.tsx
  apps/frontend/src/hooks/queries/useAuthSessionQuery.test.tsx
  apps/frontend/src/services/auth.service.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

docs: update AGENTS.md and skills for instance auth
  apps/backend/AGENTS.md
  apps/frontend/AGENTS.md
  skills/spotiarr-architecture/SKILL.md
  skills/spotiarr-docker/SKILL.md
  skills/spotiarr-i18n/SKILL.md
  skills/spotiarr-sse/SKILL.md
  skills/spotiarr-workflow/SKILL.md
  skills/spotiarr-zustand/SKILL.md
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): default-mock auth session in the e2e app shell
  apps/frontend/tests/helpers/api-mocks.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): close auth coverage gaps and make rate limiter testable
  apps/backend/src/infrastructure/setup/environment.test.ts
  apps/backend/src/presentation/controllers/auth.controller.test.ts
  apps/backend/src/presentation/middleware/require-token.test.ts
  apps/backend/src/presentation/routes/auth.routes.ts
  apps/backend/src/presentation/routes/unlock-rate-limit.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): close auth gaps and tighten 401 endpoint match
  apps/frontend/src/hooks/queries/useAuthSessionQuery.test.tsx
  apps/frontend/src/services/httpClient.test.ts
  apps/frontend/src/services/httpClient.ts
  apps/frontend/tests/e2e/mocked/instance-auth.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore: remove dead SEARCH_PROVIDER block from .env.example
  .env.example
Due: none

chore(release): bump to v1.15.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): add installable PWA support via vite-plugin-pwa
  apps/frontend/index.html
  apps/frontend/package.json
  apps/frontend/vite.config.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): prevent mobile input zoom on focus
  apps/frontend/src/index.css
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): disable PWA service worker in E2E builds
  apps/frontend/playwright.config.ts
  apps/frontend/vite.config.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): only lock instance on the unauthorized 401
  apps/frontend/src/services/httpClient.test.ts
  apps/frontend/src/services/httpClient.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): installable PWA support + iOS input zoom fix (#117)
  apps/frontend/index.html
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
  apps/frontend/src/index.css
  apps/frontend/vite.config.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): mock realistic unauthorized 401 for session re-lock
  apps/frontend/tests/e2e/mocked/instance-auth.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): only lock instance on the unauthorized 401 (#118)
  apps/frontend/src/services/httpClient.test.ts
  apps/frontend/src/services/httpClient.ts
  apps/frontend/tests/e2e/mocked/instance-auth.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.16.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

chore(security): tighten wide-open CORS on the API
  .env.example
  apps/backend/src/app.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/setup/environment.test.ts
  apps/backend/src/infrastructure/setup/environment.ts
  apps/backend/src/presentation/controllers/events.controller.test.ts
  apps/backend/src/presentation/controllers/events.controller.ts
  apps/backend/src/presentation/middleware/cors.test.ts
  apps/backend/src/presentation/middleware/cors.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

docs: document SPOTIARR_CORS_ORIGIN across project docs
  README.md
  apps/backend/AGENTS.md
  docs/ARCHITECTURE.en.md
  docs/ARCHITECTURE.md
  skills/spotiarr-docker/SKILL.md
Due: pnpm prettier --write --ignore-path .gitignore

chore(security): tighten wide-open CORS on the API (#119)
  .env.example
  README.md
  apps/backend/AGENTS.md
  apps/backend/src/app.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/setup/environment.test.ts
  apps/backend/src/infrastructure/setup/environment.ts
  apps/backend/src/presentation/controllers/events.controller.test.ts
  apps/backend/src/presentation/controllers/events.controller.ts
  apps/backend/src/presentation/middleware/cors.test.ts
  apps/backend/src/presentation/middleware/cors.ts
  docs/ARCHITECTURE.en.md
  docs/ARCHITECTURE.md
  skills/spotiarr-docker/SKILL.md
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.16.1
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

chore(workflow): document chained-PR sizing policy
  skills/spotiarr-workflow/SKILL.md
Due: pnpm prettier --write --ignore-path .gitignore

test(e2e): cover native HTML5 drag-and-drop in player queue reorder
  apps/frontend/tests/e2e/mocked/player.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

docs(contributing): reference PR sizing policy
  CONTRIBUTING.md
Due: pnpm prettier --write --ignore-path .gitignore

fix(player): close fullscreen overlay when tapping the Close button
  apps/frontend/src/components/organisms/NowPlayingFullscreen.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(e2e): un-skip player scenarios and modernize the spec
  apps/frontend/tests/e2e/mocked/player.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(workflow): document chained-PR sizing policy (#120)
  CONTRIBUTING.md
  skills/spotiarr-workflow/SKILL.md
Due: pnpm prettier --write --ignore-path .gitignore

chore: P0 hardening — security, reproducibility, bundle, CI hygiene
  .github/dependabot.yml
  Dockerfile
  apps/backend/package.json
  apps/frontend/package.json
  apps/frontend/src/contexts/ToastContext.tsx
  apps/frontend/src/index.tsx
  apps/frontend/vitest.config.ts
  docker-compose.yml
  pnpm-lock.yaml
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore: P0 hardening — security, reproducibility, bundle, CI hygiene (#122)
  .github/dependabot.yml
  Dockerfile
  apps/backend/package.json
  apps/frontend/package.json
  apps/frontend/src/contexts/ToastContext.tsx
  apps/frontend/src/index.tsx
  apps/frontend/vitest.config.ts
  docker-compose.yml
  pnpm-lock.yaml
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(player): keyboard-accessible queue reorder in QueueSidePanel
  apps/frontend/src/components/organisms/QueueSidePanel.test.tsx
  apps/frontend/src/components/organisms/QueueSidePanel.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/tests/e2e/mocked/player.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(player): extract useReorderable hook for queue surfaces
  apps/frontend/src/components/organisms/NowPlayingFullscreen.tsx
  apps/frontend/src/components/organisms/QueueSidePanel.tsx
  apps/frontend/src/hooks/useReorderable.test.ts
  apps/frontend/src/hooks/useReorderable.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(player): extract useReorderable hook for queue surfaces (#134)
  apps/frontend/src/components/organisms/NowPlayingFullscreen.tsx
  apps/frontend/src/components/organisms/QueueSidePanel.tsx
  apps/frontend/src/hooks/useReorderable.test.ts
  apps/frontend/src/hooks/useReorderable.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): inject Settings/Token ports instead of concrete SettingsService
  apps/backend/src/application/ports/settings.port.ts
  apps/backend/src/application/ports/token-store.port.ts
  apps/backend/src/application/use-cases/feed/get-recent-releases.use-case.test.ts
  apps/backend/src/application/use-cases/feed/get-recent-releases.use-case.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
  apps/backend/src/application/utils/prisma-error.utils.test.ts
  apps/backend/src/application/utils/prisma-error.utils.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/prisma-errors.ts
  apps/backend/src/infrastructure/external/providers/spotify/spotify-url-lookup.client.ts
  apps/backend/src/infrastructure/external/spotify-album.client.ts
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.test.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.test.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.ts
  apps/backend/src/infrastructure/external/spotify-base.client.ts
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.ts
  apps/backend/src/infrastructure/external/spotify-search.client.ts
  apps/backend/src/infrastructure/external/spotify-track.client.ts
  apps/backend/src/infrastructure/external/youtube-download.service.ts
  apps/backend/src/infrastructure/external/youtube-search.service.ts
  apps/backend/src/infrastructure/services/file-system-m3u.service.ts
  apps/backend/src/infrastructure/services/file-system-track-path.service.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.test.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
  apps/backend/src/presentation/controllers/auth.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

Path conditions:
  pnpm --filter backend lint: any of: apps/backend/**/*.ts
  pnpm --filter frontend lint: any of: apps/frontend/**/*.ts
  pnpm --filter @spotiarr/shared lint: any of: packages/shared/**/*.ts
  pnpm prettier --write --ignore-path .gitignore: any of: **/*.{ts,tsx,css,json,md,yml,yaml}
