Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format, pnpm prettier --write --ignore-path .gitignore

feat: Add underline on hover to Spotify playlist card title.
  src/frontend/src/components/molecules/SpotifyPlaylistCard.tsx
Due: pnpm --filter frontend format

feat: Display playlist owner information and link to their Spotify profile on playlist previews.
  src/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.ts
  src/backend/src/infrastructure/external/spotify-api.service.ts
  src/backend/src/infrastructure/external/spotify.service.ts
  src/frontend/src/components/molecules/PlaylistMetadata.tsx
  src/frontend/src/components/organisms/Playlist.tsx
  src/frontend/src/hooks/controllers/usePlaylistPreviewController.ts
  src/frontend/src/views/MyPlaylists.tsx
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format

feat: Add playlist owner and owner URL to the playlist entity, persistence, and synchronization process.
  src/backend/prisma/schema.prisma
  src/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  src/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
  src/backend/src/domain/entities/playlist.entity.ts
  src/backend/src/infrastructure/database/prisma-playlist.repository.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Add owner and ownerUrl columns to Playlist table
  src/backend/prisma/migrations/20251209111931_add_owner_to_playlist/migration.sql
Due: none

refactor: import FontAwesome icons directly and remove global icon library
  src/frontend/src/components/atoms/Button.tsx
  src/frontend/src/components/atoms/Image.tsx
  src/frontend/src/components/atoms/Loading.tsx
  src/frontend/src/components/errors/GenericErrorState.tsx
  src/frontend/src/components/layouts/AppFooter.tsx
  src/frontend/src/components/layouts/AppHeader.tsx
  src/frontend/src/components/layouts/Sidebar.tsx
  src/frontend/src/components/molecules/AlbumCard.tsx
  src/frontend/src/components/molecules/ConnectSpotifyPrompt.tsx
  src/frontend/src/components/molecules/PlaylistActions.tsx
  src/frontend/src/components/molecules/PlaylistCard.tsx
  src/frontend/src/components/molecules/PlaylistNotFound.tsx
  src/frontend/src/components/molecules/PlaylistStatusBadge.tsx
  src/frontend/src/components/molecules/PreviewError.tsx
  src/frontend/src/components/molecules/RateLimitedMessage.tsx
  src/frontend/src/components/molecules/SearchInput.tsx
  src/frontend/src/components/molecules/SettingSelect.tsx
  src/frontend/src/components/molecules/SpotifyErrorState.tsx
  src/frontend/src/components/molecules/SpotifyLinkButton.tsx
  src/frontend/src/components/molecules/Toast.tsx
  src/frontend/src/components/molecules/TrackStatusIndicator.tsx
  src/frontend/src/components/organisms/HistoryList.tsx
  src/frontend/src/components/organisms/Playlist.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/components/organisms/TrackList.tsx
  src/frontend/src/config/navigation.ts
  src/frontend/src/icons.ts
  src/frontend/src/index.tsx
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/src/views/History.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: introduce SpotifyAuthService for token management and refactor playlist track processing to use NormalizedTrack with batching.
  src/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  src/backend/src/container.ts
  src/backend/src/infrastructure/external/spotify-api.service.ts
  src/backend/src/infrastructure/external/spotify-auth.service.ts
  src/backend/src/presentation/middleware/error-handler.ts
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter shared format

refactor: extract Spotify API HTTP client logic into a new base class
  src/backend/src/infrastructure/external/spotify-api.service.ts
  src/backend/src/infrastructure/external/spotify-http.client.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Implement Spotify user library service to fetch user playlists and followed artists' recent releases with caching.
  src/backend/src/application/use-cases/settings/update-setting.use-case.ts
  src/backend/src/container.ts
  src/backend/src/infrastructure/external/spotify-catalog.service.ts
  src/backend/src/infrastructure/external/spotify-user-library.service.ts
  src/backend/src/infrastructure/external/spotify.service.ts
  src/backend/src/infrastructure/external/spotify.types.ts
  src/backend/src/presentation/routes/artist.routes.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: Use `spotifyUserLibraryService` from container instead of direct `SpotifyApiService` instance in feed routes.
  src/backend/src/presentation/routes/feed.routes.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: extract duplicate followed artist fetching logic into a new private method
  src/backend/src/infrastructure/external/spotify-user-library.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Skip unavailable tracks and implement batched parallel creation for new playlist tracks.
  src/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Implement rate limit retry with exponential backoff for Spotify API calls.
  src/backend/src/infrastructure/external/spotify-http.client.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: centralize Spotify track normalization logic into a new helper method.
  src/backend/src/infrastructure/external/spotify-catalog.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Add `invalid_spotify_url` error code and replace generic errors with `AppError` for Spotify URL validation.
  src/backend/src/domain/helpers/spotify-url.helper.ts
  src/backend/src/infrastructure/external/spotify.service.ts
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter shared format

refactor: move SpotifyService from infrastructure to domain services
  src/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  src/backend/src/application/use-cases/playlists/get-my-playlists.use-case.ts
  src/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.ts
  src/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
  src/backend/src/application/use-cases/tracks/download-track.use-case.ts
  src/backend/src/container.ts
  src/backend/src/domain/services/spotify.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Add configurable Spotify market setting and integrate it into Spotify API requests.
  src/backend/src/constants/settings-metadata.ts
  src/backend/src/container.ts
  src/backend/src/infrastructure/external/spotify-catalog.service.ts
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter shared format

feat: Enable YouTube cookies configuration through application settings.
  .env.example
  src/backend/src/constants/settings-metadata.ts
  src/backend/src/container.ts
  src/backend/src/infrastructure/external/youtube-download.service.ts
  src/backend/src/infrastructure/external/youtube-search.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: Reorder `YT_COOKIES` setting definition.
  src/backend/src/constants/settings-metadata.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

docs: Remove `YT_COOKIES` environment variable documentation and add Spotify market and YouTube cookie browser settings.
  CONTRIBUTING.md
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: expand and clarify backend architecture documentation with more details and architectural principles.
  CONTRIBUTING.md
Due: pnpm prettier --write --ignore-path .gitignore

chore(release): 0.1.3
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

docs: Remove `better-sqlite3` specific build instructions and pnpm configuration.
  CONTRIBUTING.md
  README.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

docs: Remove troubleshooting section reference from README.
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

feat: Introduce internationalization with English and Spanish locales and a language selection option in settings.
  pnpm-lock.yaml
  src/frontend/package.json
  src/frontend/src/i18n.ts
  src/frontend/src/index.tsx
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/views/Settings.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

feat: introduce UI language setting and synchronize i18n with user preference
  src/backend/src/constants/settings-metadata.ts
  src/frontend/src/app/App.tsx
  src/frontend/src/components/molecules/SettingItem.tsx
  src/frontend/src/hooks/useLanguageSync.ts
  src/frontend/src/views/Settings.tsx
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format

feat: Introduce `APP_LOCALES` and `APP_LOCALE_LABELS` and refactor setting option label formatting.
  src/backend/src/constants/settings-metadata.ts
  src/frontend/src/components/molecules/SettingItem.tsx
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format

feat: Add SpotifyAuthCard skeleton component and display it during loading.
  src/frontend/src/components/organisms/SpotifyAuthCard.tsx
  src/frontend/src/components/skeletons/SpotifyAuthCardSkeleton.tsx
Due: pnpm --filter frontend format

feat: introduce i18n support for core UI elements and add English and Spanish translations.
  src/frontend/src/components/layouts/AppFooter.tsx
  src/frontend/src/components/layouts/Sidebar.tsx
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/components/organisms/Playlist.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/components/organisms/SpotifyAuthCard.tsx
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/src/views/History.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/MyPlaylists.tsx
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

feat: Add comprehensive localization for settings sections and items.
  src/frontend/src/components/molecules/SettingItem.tsx
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/views/Settings.tsx
Due: pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

feat: Add i18n support to playlist components by introducing new translation keys for various UI texts and actions.
  src/frontend/src/components/molecules/PlaylistActions.tsx
  src/frontend/src/components/molecules/PlaylistDescription.tsx
  src/frontend/src/components/molecules/PlaylistHeader.tsx
  src/frontend/src/components/molecules/PlaylistNotFound.tsx
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
Due: pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

feat: internationalize 'Unknown Album' text in playlist metadata
  src/frontend/src/components/molecules/PlaylistMetadata.tsx
Due: pnpm --filter frontend format

feat: internationalize "Open in Spotify" text in SpotifyLinkButton component by adding translation keys.
  src/frontend/src/components/molecules/SpotifyLinkButton.tsx
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
Due: pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

feat: Internationalize HistoryList component by adding new locale strings and applying them to UI elements.
  src/frontend/src/components/organisms/HistoryList.tsx
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
Due: pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

feat: internationalize relative date formatting by adding new locale keys and updating the date utility to use them.
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/utils/date.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

feat: Internationalize album, playlist, and status badge UI strings with new translation keys for English and Spanish.
  src/frontend/src/components/molecules/AlbumCard.tsx
  src/frontend/src/components/molecules/PlaylistCard.tsx
  src/frontend/src/components/molecules/PlaylistStatusBadge.tsx
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
Due: pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

feat: Add and configure Prettier Tailwind CSS plugin.
  pnpm-lock.yaml
  src/prettier-config/index.cjs
  src/prettier-config/package.json
Due: pnpm prettier --write --ignore-path .gitignore

feat: Add and configure `prettier-plugin-tailwindcss` in the frontend and update shared Prettier configuration.
  pnpm-lock.yaml
  src/frontend/package.json
  src/frontend/prettier.config.cjs
  src/prettier-config/package.json
Due: pnpm prettier --write --ignore-path .gitignore

perf: Preload Montserrat fonts to improve loading performance.
  src/frontend/index.html
Due: none

feat: Internationalize Spotify playlist card text and update its styling and layout.
  src/frontend/src/components/molecules/SpotifyPlaylistCard.tsx
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
Due: pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

Path conditions:
  pnpm --filter backend lint: any of: src/backend/**/*.ts
  pnpm --filter frontend lint: any of: src/frontend/**/*.ts
  pnpm --filter shared lint: any of: src/shared/**/*.ts
  pnpm --filter backend format: any of: src/backend/src/**/*.{ts,json}
  pnpm --filter frontend format: any of: src/frontend/src/**/*.{ts,tsx,css,json}
  pnpm --filter shared format: any of: src/shared/src/**/*.{ts,json}
  pnpm prettier --write --ignore-path .gitignore: any of: *.{json,md,yml,yaml}
