Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(feed): exclude future-dated releases from feed view
  apps/backend/src/infrastructure/database/feed.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(deezer): upgrade api.deezer.com/album/.../image URLs to size=xl
  apps/backend/src/infrastructure/external/providers/deezer/cover-url.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.4.0
  CHANGELOG.md
Due: pnpm prettier --write --ignore-path .gitignore

Added codegraph to .gitignore
  .gitignore
Due: none

chore(skills): rewrite spotiarr-specific skills with skill-creator format
  skills/spotiarr-architecture/SKILL.md
  skills/spotiarr-bullmq/SKILL.md
  skills/spotiarr-i18n/SKILL.md
  skills/spotiarr-prisma/SKILL.md
  skills/spotiarr-release/SKILL.md
  skills/spotiarr-release/assets/changelog-format.md
  skills/spotiarr-release/assets/release-body-template.md
  skills/spotiarr-workflow/SKILL.md
Due: pnpm prettier --write --ignore-path .gitignore

fix(ai): correct inconsistencies in agent config files
  .github/copilot-instructions.md
  apps/frontend/AGENTS.md
  skills-lock.json
  skills/spotiarr-workflow/SKILL.md
Due: pnpm prettier --write --ignore-path .gitignore

chore(ai): improve workspace AGENTS.md, add SSE skill and PR template
  .github/pull_request_template.md
  AGENTS.md
  apps/backend/AGENTS.md
  apps/frontend/AGENTS.md
  packages/shared/AGENTS.md
  skills-lock.json
  skills/spotiarr-architecture/SKILL.md
  skills/spotiarr-sse/SKILL.md
Due: pnpm prettier --write --ignore-path .gitignore

chore(skills): add spotiarr-docker skill and circuit breaker rule
  AGENTS.md
  skills/spotiarr-architecture/SKILL.md
  skills/spotiarr-docker/SKILL.md
Due: pnpm prettier --write --ignore-path .gitignore

refactor(backend): remove dead code and extract shared utilities
  apps/backend/src/application/use-cases/artists/get-album-tracks.use-case.ts
  apps/backend/src/application/utils/album-id.utils.test.ts
  apps/backend/src/application/utils/album-id.utils.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/external/providers/deezer/cover-url.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
  apps/backend/src/infrastructure/external/release-feed.service.test.ts
  apps/backend/src/infrastructure/external/release-feed.service.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.test.ts
  apps/backend/src/presentation/controllers/artist.controller.test.ts
  apps/backend/src/presentation/controllers/artist.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): remove dead code and extract shared utilities (#15)
  apps/backend/src/application/use-cases/artists/get-album-tracks.use-case.ts
  apps/backend/src/application/utils/album-id.utils.test.ts
  apps/backend/src/application/utils/album-id.utils.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/external/providers/deezer/cover-url.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
  apps/backend/src/infrastructure/external/release-feed.service.test.ts
  apps/backend/src/infrastructure/external/release-feed.service.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.test.ts
  apps/backend/src/presentation/controllers/artist.controller.test.ts
  apps/backend/src/presentation/controllers/artist.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): extract GetRecentReleasesUseCase from FeedController
  apps/backend/src/application/use-cases/feed/get-recent-releases.use-case.test.ts
  apps/backend/src/application/use-cases/feed/get-recent-releases.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/presentation/controllers/feed.controller.test.ts
  apps/backend/src/presentation/controllers/feed.controller.ts
  apps/frontend/vite.config.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): restore PUBLIC_HOST dynamic host in vite dev server config
  apps/frontend/vite.config.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): extract GetRecentReleasesUseCase from FeedController (#16)
  apps/backend/src/application/use-cases/feed/get-recent-releases.use-case.test.ts
  apps/backend/src/application/use-cases/feed/get-recent-releases.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/presentation/controllers/feed.controller.test.ts
  apps/backend/src/presentation/controllers/feed.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): support Deezer artist navigation in ArtistLinks
  apps/frontend/src/components/molecules/ArtistLinks.tsx
Due: pnpm prettier --write --ignore-path .gitignore

fix(frontend): correct SSE library-updated predicate to match queryKeys shape
  apps/frontend/src/hooks/useServerEvents.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): rename SpotifyErrorState → ApiErrorState, mapSpotifyError → mapApiError
  apps/frontend/src/components/molecules/ApiErrorState.tsx
  apps/frontend/src/hooks/queries/useArtistDetailQuery.ts
  apps/frontend/src/hooks/queries/useFollowedArtistsQuery.ts
  apps/frontend/src/hooks/queries/useReleasesQuery.ts
  apps/frontend/src/utils/spotify.ts
  apps/frontend/src/views/ArtistDetail.tsx
  apps/frontend/src/views/Artists.tsx
  apps/frontend/src/views/MyPlaylists.tsx
  apps/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): remove duplicate useCreatePlaylistMutation in useAlbumDetailController
  apps/frontend/src/hooks/controllers/useAlbumDetailController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): F1 frontend bug fixes — SSE, Deezer nav, ApiErrorState, duplicate mutation (#17)
  apps/frontend/src/components/molecules/ApiErrorState.tsx
  apps/frontend/src/components/molecules/ArtistLinks.tsx
  apps/frontend/src/hooks/controllers/useAlbumDetailController.ts
  apps/frontend/src/hooks/queries/useArtistDetailQuery.ts
  apps/frontend/src/hooks/queries/useFollowedArtistsQuery.ts
  apps/frontend/src/hooks/queries/useReleasesQuery.ts
  apps/frontend/src/hooks/useServerEvents.ts
  apps/frontend/src/utils/spotify.ts
  apps/frontend/src/views/ArtistDetail.tsx
  apps/frontend/src/views/Artists.tsx
  apps/frontend/src/views/MyPlaylists.tsx
  apps/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): delete fully-commented test files that cannot run
  apps/frontend/src/hooks/controllers/useAlbumDetailController.test.ts
  apps/frontend/src/hooks/useAlbumPreviewNavigation.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): remove dead handleEndReached from useArtistDiscographyController
  apps/frontend/src/hooks/controllers/useArtistDiscographyController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): remove shadow FollowedArtist interface, import from shared
  apps/frontend/src/hooks/queries/useFollowedArtistsQuery.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): replace .substr() with formatDuration() in PlaylistTracksList
  apps/frontend/src/components/organisms/PlaylistTracksList.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor(frontend): replace inline STALE_TIME_MS with STALE_TIME_LONG in 3 query hooks
  apps/frontend/src/hooks/queries/useAlbumTracksQuery.ts
  apps/frontend/src/hooks/queries/useArtistAlbumsQuery.ts
  apps/frontend/src/hooks/queries/useArtistDetailQuery.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): replace ARTIST_ALBUMS_LIMIT/OFFSET locals with APP_CONFIG.PAGINATION
  apps/frontend/src/hooks/controllers/useAlbumDetailController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): F2 frontend cleanup — dead code, constants, shadow types (#18)
  apps/frontend/src/components/organisms/PlaylistTracksList.tsx
  apps/frontend/src/hooks/controllers/useAlbumDetailController.test.ts
  apps/frontend/src/hooks/controllers/useAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/useArtistDiscographyController.ts
  apps/frontend/src/hooks/queries/useAlbumTracksQuery.ts
  apps/frontend/src/hooks/queries/useArtistAlbumsQuery.ts
  apps/frontend/src/hooks/queries/useArtistDetailQuery.ts
  apps/frontend/src/hooks/queries/useFollowedArtistsQuery.ts
  apps/frontend/src/hooks/useAlbumPreviewNavigation.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): consolidate isButtonLoading into usePlaylistController
  apps/frontend/src/hooks/controllers/useAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistController.ts
  apps/frontend/src/hooks/controllers/usePlaylistPreviewController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): extract buildZeroStats to utils/playlist
  apps/frontend/src/hooks/controllers/useAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistPreviewController.ts
  apps/frontend/src/utils/playlist.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): rename onDownload -> onDownloadOrRetry in PlaylistDetail
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/hooks/controllers/useAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistPreviewController.ts
  apps/frontend/src/views/AlbumDetail.tsx
  apps/frontend/src/views/PlaylistDetail.tsx
  apps/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): create useAlbumListDownloadStates hook, wire into ReleasesList/ArtistDiscography/SearchAlbumGrid
  apps/frontend/src/components/organisms/ArtistDiscography.tsx
  apps/frontend/src/components/organisms/ReleasesList.tsx
  apps/frontend/src/components/organisms/SearchAlbumGrid.tsx
  apps/frontend/src/hooks/useAlbumListDownloadStates.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): create useNavigationHelpers hook, deduplicate handleGoBack/handleGoHome
  apps/frontend/src/hooks/controllers/useAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistPreviewController.ts
  apps/frontend/src/hooks/useNavigationHelpers.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): F3 optional polish — deduplicate helpers and hooks (#19)
  apps/frontend/src/components/organisms/ArtistDiscography.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/components/organisms/ReleasesList.tsx
  apps/frontend/src/components/organisms/SearchAlbumGrid.tsx
  apps/frontend/src/hooks/controllers/useAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistController.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistPreviewController.ts
  apps/frontend/src/hooks/useAlbumListDownloadStates.ts
  apps/frontend/src/hooks/useNavigationHelpers.ts
  apps/frontend/src/utils/playlist.ts
  apps/frontend/src/views/AlbumDetail.tsx
  apps/frontend/src/views/PlaylistDetail.tsx
  apps/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): add Vitest utility coverage
  .github/workflows/ci.yml
  AGENTS.md
  apps/frontend/AGENTS.md
  apps/frontend/package.json
  apps/frontend/src/utils/cache.test.ts
  apps/frontend/src/utils/cn.test.ts
  apps/frontend/src/utils/date.test.ts
  apps/frontend/src/utils/playlist.test.ts
  apps/frontend/src/utils/spotify.test.ts
  apps/frontend/vitest.config.ts
  package.json
  pnpm-lock.yaml
  skills/spotiarr-workflow/SKILL.md
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): add Vitest utility coverage (#20)
  .github/workflows/ci.yml
  AGENTS.md
  apps/frontend/AGENTS.md
  apps/frontend/package.json
  apps/frontend/src/utils/cache.test.ts
  apps/frontend/src/utils/cn.test.ts
  apps/frontend/src/utils/date.test.ts
  apps/frontend/src/utils/playlist.test.ts
  apps/frontend/src/utils/spotify.test.ts
  apps/frontend/vitest.config.ts
  package.json
  pnpm-lock.yaml
  skills/spotiarr-workflow/SKILL.md
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(lint): replace eslint with oxlint
  .oxlintrc.json
  apps/backend/eslint.config.js
  apps/backend/package.json
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/frontend/eslint.config.js
  apps/frontend/package.json
  package.json
  packages/eslint-config/bin/spotiarr-lint.js
  packages/eslint-config/eslint.config.js
  packages/eslint-config/package.json
  packages/shared/eslint.config.js
  packages/shared/package.json
  pnpm-lock.yaml
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(lint): replace eslint with oxlint (#21)
  .oxlintrc.json
  apps/backend/eslint.config.js
  apps/backend/package.json
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/frontend/eslint.config.js
  apps/frontend/package.json
  package.json
  packages/eslint-config/bin/spotiarr-lint.js
  packages/eslint-config/eslint.config.js
  packages/eslint-config/package.json
  packages/shared/eslint.config.js
  packages/shared/package.json
  pnpm-lock.yaml
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(format): simplify prettier config
  .lintstagedrc.json
  .prettierignore
  apps/backend/package.json
  apps/backend/prettier.config.cjs
  apps/backend/src/index.ts
  apps/backend/src/infrastructure/external/spotify-album.client.ts
  apps/backend/src/infrastructure/services/metadata.service.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
  apps/frontend/package.json
  apps/frontend/prettier.config.cjs
  apps/frontend/public/site.webmanifest
  package.json
  packages/prettier-config/index.cjs
  packages/prettier-config/package.json
  packages/shared/package.json
  packages/shared/prettier.config.cjs
  pnpm-lock.yaml
  prettier.config.cjs
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(format): simplify prettier config (#22)
  .lintstagedrc.json
  .prettierignore
  apps/backend/package.json
  apps/backend/prettier.config.cjs
  apps/backend/src/index.ts
  apps/backend/src/infrastructure/external/spotify-album.client.ts
  apps/backend/src/infrastructure/services/metadata.service.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
  apps/frontend/package.json
  apps/frontend/prettier.config.cjs
  apps/frontend/public/site.webmanifest
  package.json
  packages/prettier-config/index.cjs
  packages/prettier-config/package.json
  packages/shared/package.json
  packages/shared/prettier.config.cjs
  pnpm-lock.yaml
  prettier.config.cjs
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

Path conditions:
  pnpm --filter backend lint: any of: apps/backend/**/*.ts
  pnpm --filter frontend lint: any of: apps/frontend/**/*.ts
  pnpm --filter @spotiarr/shared lint: any of: packages/shared/**/*.ts
  pnpm prettier --write --ignore-path .gitignore: any of: **/*.{ts,tsx,css,json,md,yml,yaml}
