Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format, pnpm prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "src/backend/**/*.ts": ["pnpm --filter backend lint"],
  "src/frontend/**/*.ts": ["pnpm --filter frontend lint"],
  "src/shared/**/*.ts": ["pnpm --filter shared lint"],
  "src/backend/src/**/*.{ts,json}": ["pnpm --filter backend format"],
  "src/frontend/src/**/*.{ts,tsx,css,json}": ["pnpm --filter frontend format"],
  "src/shared/src/**/*.{ts,json}": ["pnpm --filter shared format"],
  "*.{json,md,yml,yaml}": ["pnpm prettier --write --ignore-path .gitignore"]
}

refactor: Simplify Docker entrypoint user/group setup, consolidate Dockerfile artifact copying, and remove an unnecessary console log.
  Dockerfile
  docker-entrypoint.sh
  src/backend/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: simplify architecture, auto-config db, and cleanup env vars
  .env.example
  .gitignore
  CONTRIBUTING.md
  README.md
  src/backend/.env.example
  src/backend/src/infrastructure/external/spotify-auth.service.ts
  src/backend/src/infrastructure/external/spotify-catalog.service.ts
  src/backend/src/infrastructure/setup/env.ts
  src/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm --filter backend format, pnpm prettier --write --ignore-path .gitignore

docs: update
  .gitignore
  CONTRIBUTING.md
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

feat: Standardize downloads directory environment variable to `DOWNLOADS_DIR` for external use and `DOWNLOADS` for internal auto-configuration.
  .env.example
  CONTRIBUTING.md
  Dockerfile
  README.md
  docker-compose.yml
  src/backend/src/index.ts
  src/backend/src/infrastructure/services/file-system-track-path.service.ts
  src/backend/src/infrastructure/setup/env.ts
  src/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm --filter backend format, pnpm prettier --write --ignore-path .gitignore

refactor: Consolidate environment loading and auto-configuration into `environment.ts` by removing the separate `env.ts` file.
  src/backend/src/index.ts
  src/backend/src/infrastructure/setup/env.ts
  src/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: Move `DATABASE_URL` and `DOWNLOADS` auto-configuration into Zod schema transform.
  src/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: extract environment variable auto-configuration logic into dedicated helper functions.
  src/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: simplify environment configuration
  src/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

docs: clarify download directory configuration and default local behavior
  CONTRIBUTING.md
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

feat: implement graceful shutdown
  src/backend/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

chore(docker): install official yt-dlp binary
  Dockerfile
Due: none

chore(release): 0.1.4
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

chore: update docker-compose command syntax in release template.
  .github/release-config.json
Due: pnpm prettier --write --ignore-path .gitignore

refactor: Update metadata writing to accept an object for tags, include album and performer info, and add track duration to M3U playlists.
  src/backend/src/application/services/track-post-processing.service.ts
  src/backend/src/infrastructure/services/file-system-m3u.service.ts
  src/backend/src/infrastructure/services/metadata.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Add disc number and total tracks to track metadata and file naming logic.
  src/backend/src/application/services/track-post-processing.service.ts
  src/backend/src/infrastructure/external/spotify-catalog.service.ts
  src/backend/src/infrastructure/external/spotify.types.ts
  src/backend/src/infrastructure/services/file-system-track-path.service.ts
  src/backend/src/infrastructure/services/metadata.service.ts
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter shared format

refactor: rename saved cover art image to folder.jpg
  src/backend/src/application/services/track-post-processing.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: improve track status validation by using enum values and handling case-insensitive inputs
  src/backend/src/infrastructure/database/types.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Save artist images as both `folder.jpg` and `artist.jpg`, and set universal read permissions for cover art files.
  src/backend/src/application/services/track-post-processing.service.ts
  src/backend/src/infrastructure/services/metadata.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Dynamically determine cover art file extension from content type and remove redundant artist image saving.
  src/backend/src/application/services/track-post-processing.service.ts
  src/backend/src/infrastructure/services/metadata.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: Stream cover art downloads directly to file and remove content-type based filename adjustments.
  src/backend/src/infrastructure/services/metadata.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

Revert images metadata
  src/backend/src/infrastructure/services/metadata.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

docs: Add comprehensive architecture documentation and update README to reflect tech stack changes.
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: Add initial architecture and technical decisions document
  docs/ARCHITECTURE.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: Add detailed sections on backend architecture patterns and the download lifecycle, and refine existing technology stack descriptions.
  docs/ARCHITECTURE.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: Update frontend architecture to detail advanced hook patterns, ViewModel, and real-time synchronization.
  docs/ARCHITECTURE.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: Document data model, persistence, and background jobs, updating the architecture overview.
  docs/ARCHITECTURE.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: Add detailed sections for internal components and a new background job, renumbering subsequent sections.
  docs/ARCHITECTURE.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: Add 'Seguridad y Validación' section and renumber subsequent sections in ARCHITECTURE.md.
  docs/ARCHITECTURE.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: add comprehensive project architecture and technical decisions documentation
  docs/ARCHITECTURE.en.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: Update README to include English architecture documentation link and clarify Spanish version.
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

refactor: Implement BullMQ's native rate limiting for track downloads and encapsulate worker creation in a dedicated function.
  src/backend/src/index.ts
  src/backend/src/infrastructure/workers/track-download.worker.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: Enable graceful worker shutdown by capturing instances and setting track search concurrency during creation.
  src/backend/src/index.ts
  src/backend/src/infrastructure/workers/track-search.worker.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Implement an application event bus to hot-reload workers when specific settings are updated.
  src/backend/src/application/use-cases/settings/update-setting.use-case.ts
  src/backend/src/container.ts
  src/backend/src/index.ts
  src/backend/src/infrastructure/messaging/app-event-bus.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

chore(release): 0.1.5
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

chore: Adjust Node.js version from 24 to 22 across project configurations and Dockerfile.
  .github/workflows/ci.yml
  .nvmrc
  Dockerfile
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

chore: adjust TypeScript dependency range and add baseUrl to frontend tsconfig.
  apps/frontend/tsconfig.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-path .gitignore

feat: Add navigation, app settings, version, and external links configurations, and update .gitignore.
  .gitignore
  apps/frontend/src/config/app.ts
  apps/frontend/src/config/links.ts
  apps/frontend/src/config/navigation.ts
  apps/frontend/src/config/version.ts
Due: none

chore(release): 0.1.6
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

ci: Configure CI to use `.nvmrc` for Node.js version.
  .github/workflows/ci.yml
Due: pnpm prettier --write --ignore-path .gitignore
