Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format, pnpm prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "src/backend/**/*.ts": ["pnpm --filter backend lint"],
  "src/frontend/**/*.ts": ["pnpm --filter frontend lint"],
  "src/shared/**/*.ts": ["pnpm --filter shared lint"],
  "src/backend/src/**/*.{ts,json}": ["pnpm --filter backend format"],
  "src/frontend/src/**/*.{ts,tsx,css,json}": ["pnpm --filter frontend format"],
  "src/shared/src/**/*.{ts,json}": ["pnpm --filter shared format"],
  "*.{json,md,yml,yaml}": ["pnpm prettier --write --ignore-path .gitignore"]
}

Move ArtistDetail and ArtistTopTrack type definitions to shared package and import from shared in frontend API client and query hook to eliminate duplicate type declarations
  src/frontend/src/hooks/queries/useArtistDetailQuery.ts
  src/frontend/src/services/api.ts
  src/shared/src/index.ts
Due: pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter frontend format, pnpm --filter shared format

Remove description prop from ArtistDetail DetailLayout to eliminate redundant follower count display in header
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

Rename headerMeta to emptyMessage and remove artist top tracks count from metadata to simplify error message handling in ArtistDetail view
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

Add album cover images to artist top tracks list and refine spacing with semantic section element, additional whitespace between track elements, and min-width constraint on actions container
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

Remove DetailLayout from ArtistDetail view and implement custom hero header with full-width artist image, gradient overlay, and inline status message handling
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

Add column headers with track number, title, and duration icon to artist top tracks list on medium and larger screens using responsive grid layout with right-aligned numbering and duration columns
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

feat: Redesign artist detail page with track download functionality and Spanish localization.
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

feat: Add artist download button, enhance track list UI with album covers, and update various strings to English.
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

feat: remove verified badge UI from artist detail view
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

feat: redesign artist detail action buttons to circular icon and pill text styles
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

feat: create `TrackList` component and integrate it into `ArtistDetail` to display artist top tracks.
  src/frontend/src/components/molecules/TrackList.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

style: increase header z-index for improved layering
  src/frontend/src/components/organisms/Header.tsx
Due: pnpm --filter frontend format

feat: Display downloaded status for tracks and artists by adding a new download history API and integrating it into the UI.
  src/backend/src/domain/history/history.use-cases.ts
  src/backend/src/routes/history.routes.ts
  src/frontend/src/components/molecules/TrackList.tsx
  src/frontend/src/hooks/queries/useDownloadTracksQuery.ts
  src/frontend/src/services/api.ts
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter backend format, pnpm --filter frontend format

feat: Add playlist-specific track paths and Spotify cover art to downloads.
  src/backend/src/domain/tracks/download-track.use-case.ts
  src/backend/src/helpers/track-file.helper.ts
  src/backend/src/services/track.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: add playlist cover art handling and save folder cover image for downloaded tracks
  src/backend/src/domain/tracks/download-track.use-case.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Introduce `Artist` playlist type, save artist cover images, and conditionally generate M3U files based on playlist type.
  src/backend/src/domain/tracks/download-track.use-case.ts
  src/backend/src/services/youtube.service.ts
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter shared format

feat: Add skeleton loading state to ArtistDetail view.
  src/frontend/src/components/atoms/Skeleton.tsx
  src/frontend/src/components/skeletons/ArtistDetailSkeleton.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

feat: Add empty state message to track lists and refactor artist detail backgrounds to use theme variable.
  src/frontend/src/components/molecules/TrackList.tsx
  src/frontend/src/components/skeletons/ArtistDetailSkeleton.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

refactor: reimplement playlist detail layout and track list item rendering, and add playlist detail skeleton.
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/components/skeletons/PlaylistDetailSkeleton.tsx
  src/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend format

feat: Add album URL to tracks and enhance playlist detail display with type-specific titles and metadata.
  src/backend/prisma/migrations/20251128184105_add_album_url_to_track/migration.sql
  src/backend/prisma/schema.prisma
  src/backend/src/domain/playlists/create-playlist.use-case.ts
  src/backend/src/services/spotify-api.service.ts
  src/frontend/src/views/PlaylistDetail.tsx
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format

feat: Add album URL and cover URL to track data and refactor Spotify URL ID extraction to a helper.
  src/backend/src/repositories/prisma-track.repository.ts
  src/backend/src/services/spotify-api.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: Remove individual track deletion and redesign playlist actions UI with integrated Spotify link.
  src/frontend/src/components/molecules/PlaylistActions.tsx
  src/frontend/src/components/molecules/TrackActions.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend format

feat: Add track duration to the data model, API, and display in the playlist UI.
  src/backend/prisma/migrations/20251128190234_add_duration_ms_to_track/migration.sql
  src/backend/prisma/schema.prisma
  src/backend/src/domain/playlists/create-playlist.use-case.ts
  src/backend/src/repositories/prisma-track.repository.ts
  src/backend/src/services/spotify-api.service.ts
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/views/PlaylistDetail.tsx
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format

style: Adjust text colors for album link, album text, and song count in playlist detail.
  src/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend format

fix: Correct `hasFailed` prop typo and enhance 'Retry Failed' button with ghost variant, loading state, and responsive text.
  src/frontend/src/components/molecules/PlaylistActions.tsx
Due: pnpm --filter frontend format

feat: Add inline retry button for error tracks and remove TrackActions component
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
Due: pnpm --filter frontend format

feat: Replace `TrackStatusBadge` component with inline Font Awesome icons for displaying track status.
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
Due: pnpm --filter frontend format

feat: Replace plain text download progress with a visual progress bar component.
  src/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend format

refactor: update `PlaylistDetailSkeleton` styling, layout, and content elements.
  src/frontend/src/components/skeletons/PlaylistDetailSkeleton.tsx
Due: pnpm --filter frontend format

perf: memoize individual playlist track items to optimize rendering
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
Due: pnpm --filter frontend format

refactor: Extract `ReleaseCard` rendering into a new memoized `ReleaseItem` component.
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend format

refactor: redesign PlaylistPreview UI with a custom layout, skeleton, and track list component.
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

fix: Populate track duration from `track.durationMs` instead of hardcoding `0`.
  src/backend/src/services/playlist.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Implement generic `DetailLayout` component and enrich playlist preview data with track, album, and artist links.
  src/backend/src/services/playlist.service.ts
  src/backend/src/services/spotify-api.service.ts
  src/frontend/src/components/layouts/DetailLayout.tsx
  src/frontend/src/views/PlaylistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format

fix: default playlist name to 'Unnamed Playlist' when `playlist.name` is empty or null.
  src/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend format

feat: Add individual track download functionality to playlist preview.
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

feat: Update downloaded track visual indicators by displaying track number instead of check icon and adding a green checkmark next to duration.
  src/frontend/src/components/molecules/TrackList.tsx
Due: pnpm --filter frontend format

feat: Display detailed track download statuses (e.g., downloading, queued, error) in track lists.
  src/frontend/src/components/molecules/TrackList.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

feat: display track download status and progress in playlist preview and track list
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

feat: remove Spotify link and related logic from ArtistCard.
  src/frontend/src/components/organisms/ArtistCard.tsx
Due: pnpm --filter frontend format
