Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "apps/backend/**/*.ts": ["pnpm --filter backend lint"],
  "apps/frontend/**/*.ts": ["pnpm --filter frontend lint"],
  "packages/shared/**/*.ts": ["pnpm --filter @spotiarr/shared lint"],
  "**/*.{ts,tsx,css,json,md,yml,yaml}": [
    "pnpm prettier --write --ignore-path .gitignore"
  ]
}

chore(release): bump to v1.7.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

fix: harden Spotify rate-limit handling and unify album navigation
  CHANGELOG.md
  apps/backend/src/application/ports/spotify-circuit-breaker.port.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/circuit-breaker.ts
  apps/backend/src/infrastructure/external/spotify-circuit-breaker.adapter.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
  apps/frontend/src/hooks/useAlbumPreviewNavigation.ts
  package.json
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix: harden Spotify rate-limit handling and unify album navigation (#49)
  CHANGELOG.md
  apps/backend/src/application/ports/spotify-circuit-breaker.port.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/circuit-breaker.ts
  apps/backend/src/infrastructure/external/spotify-circuit-breaker.adapter.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
  apps/frontend/src/hooks/useAlbumPreviewNavigation.ts
  package.json
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

ci: build arm64 on native runner and merge multi-arch manifest
  .github/workflows/docker-publish.yml
Due: pnpm prettier --write --ignore-path .gitignore

ci: build arm64 on native runner and merge multi-arch manifest (#50)
  .github/workflows/docker-publish.yml
Due: pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.7.2
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

feat(backend): add secure library audio streaming endpoint
  apps/backend/src/application/ports/library-audio.port.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/services/library-audio.service.test.ts
  apps/backend/src/infrastructure/services/library-audio.service.ts
  apps/backend/src/presentation/controllers/library.controller.ts
  apps/backend/src/presentation/routes/library.routes.test.ts
  apps/backend/src/presentation/routes/library.routes.ts
  apps/backend/src/presentation/routes/schemas/library.schema.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): add secure library audio streaming endpoint (#52)
  apps/backend/src/application/ports/library-audio.port.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/services/library-audio.service.test.ts
  apps/backend/src/infrastructure/services/library-audio.service.ts
  apps/backend/src/presentation/controllers/library.controller.ts
  apps/backend/src/presentation/routes/library.routes.test.ts
  apps/backend/src/presentation/routes/library.routes.ts
  apps/backend/src/presentation/routes/schemas/library.schema.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add playback support to library album detail
  apps/frontend/src/components/molecules/AlbumPageLayout.test.tsx
  apps/frontend/src/components/molecules/AlbumPageLayout.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.test.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/LibraryAlbumDetail.test.tsx
  apps/frontend/src/views/LibraryAlbumDetail.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.8.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): add playback support to library album detail (#53)
  CHANGELOG.md
  apps/frontend/src/components/molecules/AlbumPageLayout.test.tsx
  apps/frontend/src/components/molecules/AlbumPageLayout.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.test.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/LibraryAlbumDetail.test.tsx
  apps/frontend/src/views/LibraryAlbumDetail.tsx
  package.json
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): route catalog sync through Deezer/MusicBrainz cascade
  apps/backend/src/infrastructure/workers/catalog-sync.worker.test.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): route catalog sync through Deezer/MusicBrainz cascade (#54)
  apps/backend/src/infrastructure/workers/catalog-sync.worker.test.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.8.1
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

feat(backend): add playlist playback audio urls
  apps/backend/src/application/ports/file-system.port.ts
  apps/backend/src/application/use-cases/tracks/get-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/get-tracks.use-case.ts
  apps/backend/src/container.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): add playlist playback audio urls (#59)
  apps/backend/src/application/ports/file-system.port.ts
  apps/backend/src/application/use-cases/tracks/get-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/get-tracks.use-case.ts
  apps/backend/src/container.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): extract local playback hook
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/useLocalTrackPlaybackController.test.tsx
  apps/frontend/src/hooks/controllers/useLocalTrackPlaybackController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): extract local playback hook (#62)
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/useLocalTrackPlaybackController.test.tsx
  apps/frontend/src/hooks/controllers/useLocalTrackPlaybackController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add playlist detail playback
  apps/frontend/src/components/atoms/Button.tsx
  apps/frontend/src/components/molecules/AlbumPageLayout.tsx
  apps/frontend/src/components/molecules/PlaylistActions.test.tsx
  apps/frontend/src/components/molecules/PlaylistActions.tsx
  apps/frontend/src/components/organisms/Playlist.test.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.test.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.tsx
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.test.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/PlaylistDetail.test.tsx
  apps/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add playlist detail playback (#64)
  apps/frontend/src/components/atoms/Button.tsx
  apps/frontend/src/components/molecules/AlbumPageLayout.tsx
  apps/frontend/src/components/molecules/PlaylistActions.test.tsx
  apps/frontend/src/components/molecules/PlaylistActions.tsx
  apps/frontend/src/components/organisms/Playlist.test.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.test.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.tsx
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.test.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/PlaylistDetail.test.tsx
  apps/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(library): add saved playlist detail playback (#67)
  apps/backend/src/application/ports/file-system.port.ts
  apps/backend/src/application/use-cases/tracks/get-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/get-tracks.use-case.ts
  apps/backend/src/container.ts
  apps/frontend/src/components/atoms/Button.tsx
  apps/frontend/src/components/molecules/AlbumPageLayout.tsx
  apps/frontend/src/components/molecules/PlaylistActions.test.tsx
  apps/frontend/src/components/molecules/PlaylistActions.tsx
  apps/frontend/src/components/organisms/Playlist.test.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.test.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/useLocalTrackPlaybackController.test.tsx
  apps/frontend/src/hooks/controllers/useLocalTrackPlaybackController.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.test.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/PlaylistDetail.test.tsx
  apps/frontend/src/views/PlaylistDetail.tsx
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.9.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(frontend): route saved playlists to detail
  CHANGELOG.md
  apps/frontend/src/hooks/controllers/useMyPlaylistsController.test.ts
  apps/frontend/src/hooks/controllers/useMyPlaylistsController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): remove Spotify terminal fallback from album tracks cascade
  apps/backend/src/application/use-cases/artists/get-album-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-album-tracks.use-case.ts
  apps/backend/src/container.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): remove Spotify terminal fallback from album tracks cascade (#56)
  apps/backend/src/application/use-cases/artists/get-album-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-album-tracks.use-case.ts
  apps/backend/src/container.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): add getArtistByAnyId to FeedRepositoryPort with dual-ID detection
  apps/backend/src/application/ports/feed-repository.port.ts
  apps/backend/src/infrastructure/database/followed-artist.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): RED — add failing tests for Deezer miss path in GetArtistDetailUseCase
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): add DeezerArtistLookupPort and adapter with getArtistById support
  apps/backend/src/application/ports/deezer-artist-lookup.port.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-artist-lookup.adapter.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): migrate GetArtistDetailUseCase miss path to Deezer lookup (ADT-1)
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): wire DeezerArtistLookupAdapter into container and GetArtistDetailUseCase
  apps/backend/src/container.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): migrate artist detail miss path to Deezer lookup (#57)
  apps/backend/src/application/ports/deezer-artist-lookup.port.ts
  apps/backend/src/application/ports/feed-repository.port.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/followed-artist.repository.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-artist-lookup.adapter.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): add SpotifyCatalogSearchAdapter as transition fallback (CSA-1)
  apps/backend/src/infrastructure/external/providers/spotify/spotify-catalog-search.adapter.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): migrate SearchController to depend on CatalogSearchPort (CSA-1)
  apps/backend/src/presentation/controllers/search.controller.test.ts
  apps/backend/src/presentation/controllers/search.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): add CatalogSearchPort abstraction for provider-agnostic search
  apps/backend/src/application/ports/catalog-search.port.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): wire SEARCH_PROVIDER flag in container and environment (CSA-1)
  .env.example
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/followed-artist.repository.ts
  apps/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(shared): add identity helpers for Spotify/Deezer ID detection
  packages/shared/src/identity.ts
  packages/shared/src/index.ts
Due: pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): add DeezerCatalogSearchAdapter with artist + album search (CSA-1)
  apps/backend/src/infrastructure/external/providers/deezer/deezer-catalog-search.adapter.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-catalog-search.adapter.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): coerce widened FollowedArtist.spotifyUrl to null at ArtistCard callsites
  apps/frontend/src/components/organisms/ArtistList.tsx
  apps/frontend/src/views/Search.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(backend): migrate catalog search to Deezer with provider flag (#60)
  .env.example
  apps/backend/src/application/ports/catalog-search.port.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/followed-artist.repository.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-catalog-search.adapter.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-catalog-search.adapter.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
  apps/backend/src/infrastructure/external/providers/spotify/spotify-catalog-search.adapter.ts
  apps/backend/src/infrastructure/setup/environment.ts
  apps/backend/src/presentation/controllers/search.controller.test.ts
  apps/backend/src/presentation/controllers/search.controller.ts
  apps/frontend/src/components/organisms/ArtistList.tsx
  apps/frontend/src/views/Search.tsx
  packages/shared/src/identity.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): add Deezer track search, ExternalUrlCache, and lazy Spotify URL resolver
  apps/backend/prisma/migrations/20260603185239_add_external_url_cache/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/ports/external-url-cache.port.ts
  apps/backend/src/application/ports/spotify-url-lookup.port.ts
  apps/backend/src/application/use-cases/external-url/resolve-external-url.use-case.test.ts
  apps/backend/src/application/use-cases/external-url/resolve-external-url.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/external-url-cache.repository.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-catalog-search.adapter.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
  apps/backend/src/infrastructure/external/providers/spotify/spotify-url-lookup.client.ts
  apps/backend/src/presentation/controllers/external-url.controller.ts
  apps/backend/src/presentation/routes/external-url.routes.ts
  apps/backend/src/presentation/routes/index.ts
  packages/shared/src/index.ts
  packages/shared/src/routes.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore
