Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

test(release-feed): pin clock in lookback tests to fix date-dependent flake
  apps/backend/src/infrastructure/external/release-feed.service.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(playlists): retry errored tracks on subscribed playlist sync
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
  apps/backend/src/container.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(feed): compare release lookback window at date granularity
  apps/backend/src/infrastructure/external/release-feed.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

style(backend): trim verbose comments to single-line rationale
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
  apps/backend/src/infrastructure/external/release-feed.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(playlists): retry errored tracks on subscribed playlist sync (#136)
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/release-feed.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

style(player): strip verbose comments from reorder hook and e2e
  apps/frontend/src/hooks/useReorderable.ts
  apps/frontend/tests/e2e/mocked/player.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.17.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

refactor(frontend): derive download status from React Query, drop Zustand bridge
  apps/frontend/src/app/App.tsx
  apps/frontend/src/components/organisms/HistoryList.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.test.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.tsx
  apps/frontend/src/components/organisms/TrackList.tsx
  apps/frontend/src/contexts/DownloadStatusContext.tsx
  apps/frontend/src/hooks/controllers/useAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/useArtistDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistController.test.tsx
  apps/frontend/src/hooks/controllers/usePlaylistController.ts
  apps/frontend/src/hooks/controllers/usePlaylistPreviewController.ts
  apps/frontend/src/hooks/controllers/useSearchController.test.ts
  apps/frontend/src/hooks/controllers/useSearchController.ts
  apps/frontend/src/hooks/queries/useDownloadStatus.test.ts
  apps/frontend/src/hooks/queries/useDownloadStatus.ts
  apps/frontend/src/hooks/useAlbumListDownloadStates.ts
  apps/frontend/src/store/useDownloadStatusStore.ts
  apps/frontend/src/views/LibraryAlbumDetail.test.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): move AlbumPageLayout to organisms to fix atomic-design layer
  apps/frontend/src/components/organisms/AlbumPageLayout.test.tsx
  apps/frontend/src/components/organisms/AlbumPageLayout.tsx
  apps/frontend/src/components/organisms/Playlist.test.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/views/LibraryAlbumDetail.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor(backend): inject Settings/Token ports instead of concrete SettingsService
  apps/backend/src/application/ports/settings.port.ts
  apps/backend/src/application/ports/token-store.port.ts
  apps/backend/src/application/use-cases/feed/get-recent-releases.use-case.test.ts
  apps/backend/src/application/use-cases/feed/get-recent-releases.use-case.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
  apps/backend/src/application/utils/prisma-error.utils.test.ts
  apps/backend/src/application/utils/prisma-error.utils.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/prisma-errors.ts
  apps/backend/src/infrastructure/external/providers/spotify/spotify-url-lookup.client.ts
  apps/backend/src/infrastructure/external/spotify-album.client.ts
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.test.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.test.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.ts
  apps/backend/src/infrastructure/external/spotify-base.client.ts
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.ts
  apps/backend/src/infrastructure/external/spotify-search.client.ts
  apps/backend/src/infrastructure/external/spotify-track.client.ts
  apps/backend/src/infrastructure/external/youtube-download.service.ts
  apps/backend/src/infrastructure/external/youtube-search.service.ts
  apps/backend/src/infrastructure/services/file-system-m3u.service.ts
  apps/backend/src/infrastructure/services/file-system-track-path.service.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.test.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
  apps/backend/src/presentation/controllers/auth.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): paginate playlist preview with useInfiniteQuery (lazy)
  apps/frontend/src/hooks/controllers/usePlaylistPreviewController.test.ts
  apps/frontend/src/hooks/controllers/usePlaylistPreviewController.ts
  apps/frontend/src/hooks/queries/usePlaylistPreviewTracksInfiniteQuery.ts
  apps/frontend/src/hooks/queryKeys.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): cover usePlaylistPreviewTracksInfiniteQuery hook directly
  apps/frontend/src/hooks/queries/usePlaylistPreviewTracksInfiniteQuery.test.tsx
  apps/frontend/src/hooks/queries/usePlaylistPreviewTracksInfiniteQuery.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): make album/artist cards keyboard-accessible (#146)
  apps/frontend/src/components/molecules/AlbumCard.test.tsx
  apps/frontend/src/components/molecules/AlbumCard.tsx
  apps/frontend/src/components/molecules/ArtistCard.test.tsx
  apps/frontend/src/components/molecules/ArtistCard.tsx
  apps/frontend/src/components/organisms/NowPlayingFullscreen.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(frontend): add dialog semantics and focus trap to modals (#147)
  apps/frontend/src/components/organisms/ConfirmModal.test.tsx
  apps/frontend/src/components/organisms/ConfirmModal.tsx
  apps/frontend/src/components/organisms/ScanLibraryModal.test.tsx
  apps/frontend/src/components/organisms/ScanLibraryModal.tsx
  apps/frontend/src/hooks/useFocusTrap.test.tsx
  apps/frontend/src/hooks/useFocusTrap.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): resolve yt-dlp from system path, refresh tmp copy on upgrade
  apps/backend/src/infrastructure/external/youtube-binary.test.ts
  apps/backend/src/infrastructure/external/youtube-binary.ts
  apps/backend/src/infrastructure/external/youtube-search.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.17.1
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(backend): swallow floating rejection in circuit breaker half-open probe
  apps/backend/src/infrastructure/external/circuit-breaker.test.ts
  apps/backend/src/infrastructure/external/circuit-breaker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): cover download, youtube search, worker, and history paths
  apps/backend/src/application/use-cases/history/history.use-cases.test.ts
  apps/backend/src/application/use-cases/tracks/download-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.test.ts
  apps/backend/src/infrastructure/external/youtube-search.service.test.ts
  apps/backend/src/infrastructure/workers/track-download.worker.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): cover critical backend paths (#148) (#158)
  apps/backend/src/application/use-cases/history/history.use-cases.test.ts
  apps/backend/src/application/use-cases/tracks/download-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.test.ts
  apps/backend/src/infrastructure/external/circuit-breaker.test.ts
  apps/backend/src/infrastructure/external/circuit-breaker.ts
  apps/backend/src/infrastructure/external/youtube-search.service.test.ts
  apps/backend/src/infrastructure/workers/track-download.worker.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test: enforce coverage thresholds in CI
  .github/workflows/ci.yml
  apps/backend/package.json
  apps/backend/vitest.config.ts
  apps/frontend/package.json
  apps/frontend/vitest.config.ts
  package.json
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test: enforce coverage thresholds in CI (#159)
  .github/workflows/ci.yml
  apps/backend/package.json
  apps/backend/vitest.config.ts
  apps/frontend/package.json
  apps/frontend/vitest.config.ts
  package.json
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): inject Spotify app-token circuit breaker and rate limiter via DI
  apps/backend/src/container.ts
  apps/backend/src/index.ts
  apps/backend/src/infrastructure/external/providers/spotify/spotify-url-lookup.client.ts
  apps/backend/src/infrastructure/external/spotify-album.client.ts
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
  apps/backend/src/infrastructure/external/spotify-base.client.ts
  apps/backend/src/infrastructure/external/spotify-circuit-breaker.adapter.ts
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.ts
  apps/backend/src/infrastructure/external/spotify-search.client.ts
  apps/backend/src/infrastructure/external/spotify-track.client.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): make injected Spotify app-token deps required
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/providers/spotify/spotify-url-lookup.client.ts
  apps/backend/src/infrastructure/external/spotify-album.client.ts
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.test.ts
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
  apps/backend/src/infrastructure/external/spotify-base.client.ts
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.test.ts
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.ts
  apps/backend/src/infrastructure/external/spotify-search.client.ts
  apps/backend/src/infrastructure/external/spotify-track.client.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): consolidate error-message helper into a single util
  apps/backend/src/application/services/artwork.service.ts
  apps/backend/src/application/services/spotify.service.ts
  apps/backend/src/application/services/track-post-processing.service.ts
  apps/backend/src/application/use-cases/tracks/download-track.use-case.ts
  apps/backend/src/application/utils/error.utils.ts
  apps/backend/src/infrastructure/external/spotify-album.client.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.ts
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.ts
  apps/backend/src/infrastructure/external/spotify-search.client.ts
  apps/backend/src/infrastructure/external/spotify-track.client.ts
  apps/backend/src/infrastructure/services/file-system-m3u.service.ts
  apps/backend/src/presentation/controllers/events.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): extract shared formatSeconds, ProgressSlider, backfill statuses
  apps/frontend/src/components/molecules/ProgressSlider.test.tsx
  apps/frontend/src/components/molecules/ProgressSlider.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/components/organisms/NowPlayingFullscreen.tsx
  apps/frontend/src/components/organisms/ScanLibraryModal.tsx
  apps/frontend/src/hooks/controllers/useHomeController.ts
  apps/frontend/src/utils/artworkBackfill.ts
  apps/frontend/src/utils/time.test.ts
  apps/frontend/src/utils/time.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(backend): harden runtime — selective Docker COPY, Redis health, graceful shutdown
  Dockerfile
  apps/backend/package.json
  apps/backend/src/application/ports/connectivity.port.ts
  apps/backend/src/application/services/health.service.test.ts
  apps/backend/src/application/services/health.service.ts
  apps/backend/src/container.ts
  apps/backend/src/index.ts
  apps/backend/src/infrastructure/database/connectivity.adapter.ts
  apps/backend/src/infrastructure/database/prisma-connectivity.adapter.ts
  apps/backend/src/presentation/controllers/health.controller.test.ts
  apps/backend/tsconfig.build.json
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(e2e): provision Redis and queues for the real-stack health check
  .github/workflows/ci.yml
  Dockerfile
  apps/backend/src/testing/playwright-real-stack-server.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(settings): add AI provider metadata entries
  apps/backend/src/constants/settings-metadata.test.ts
  apps/backend/src/constants/settings-metadata.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(shared): add AI playlist types, enums, and event contract
  packages/shared/src/index.ts
  packages/shared/src/routes.ts
Due: pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

Path conditions:
  pnpm --filter backend lint: any of: apps/backend/**/*.ts
  pnpm --filter frontend lint: any of: apps/frontend/**/*.ts
  pnpm --filter @spotiarr/shared lint: any of: packages/shared/**/*.ts
  pnpm prettier --write --ignore-path .gitignore: any of: **/*.{ts,tsx,css,json,md,yml,yaml}
