Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): add unit tests for 14 organism components
  apps/frontend/src/components/organisms/ArtistDiscography.test.tsx
  apps/frontend/src/components/organisms/ArtistList.test.tsx
  apps/frontend/src/components/organisms/HistoryList.test.tsx
  apps/frontend/src/components/organisms/LibraryArtistList.test.tsx
  apps/frontend/src/components/organisms/LibraryArtistProfile.test.tsx
  apps/frontend/src/components/organisms/ReleasesList.test.tsx
  apps/frontend/src/components/organisms/SearchAlbumGrid.test.tsx
  apps/frontend/src/components/organisms/SearchArtistGrid.test.tsx
  apps/frontend/src/components/organisms/SearchGridSection.test.tsx
  apps/frontend/src/components/organisms/SearchTrackList.test.tsx
  apps/frontend/src/components/organisms/SpotifyAuthCard.test.tsx
  apps/frontend/src/components/organisms/SpotifyPlaylistList.test.tsx
  apps/frontend/src/components/organisms/ToastContainer.test.tsx
  apps/frontend/src/components/organisms/TrackList.test.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): add unit tests for 10 views and root App
  apps/frontend/src/app/App.test.tsx
  apps/frontend/src/views/AlbumDetail.test.tsx
  apps/frontend/src/views/ArtistDetail.test.tsx
  apps/frontend/src/views/Artists.test.tsx
  apps/frontend/src/views/History.test.tsx
  apps/frontend/src/views/LibraryArtist.test.tsx
  apps/frontend/src/views/MyPlaylists.test.tsx
  apps/frontend/src/views/NotFound.test.tsx
  apps/frontend/src/views/PlaylistPreview.test.tsx
  apps/frontend/src/views/Releases.test.tsx
  apps/frontend/src/views/Search.test.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): add unit tests for query hooks, custom hooks, artworkBackfill util (#188)
  apps/frontend/src/hooks/queries/useAlbumTracksQuery.test.tsx
  apps/frontend/src/hooks/queries/useArtistAlbumsQuery.test.tsx
  apps/frontend/src/hooks/queries/useArtistDetailQuery.test.tsx
  apps/frontend/src/hooks/queries/useArtworkBackfillStatusQuery.test.tsx
  apps/frontend/src/hooks/queries/useDownloadHistoryQuery.test.tsx
  apps/frontend/src/hooks/queries/useDownloadStatusQuery.test.tsx
  apps/frontend/src/hooks/queries/useFollowedArtistsQuery.test.tsx
  apps/frontend/src/hooks/queries/useLibraryArtistQuery.test.tsx
  apps/frontend/src/hooks/queries/useLibraryArtistsQuery.test.tsx
  apps/frontend/src/hooks/queries/useLibraryStatsQuery.test.tsx
  apps/frontend/src/hooks/queries/useMyPlaylistsQuery.test.tsx
  apps/frontend/src/hooks/queries/usePlaylistPreviewQuery.test.tsx
  apps/frontend/src/hooks/queries/usePlaylistsQuery.test.tsx
  apps/frontend/src/hooks/queries/useReleasesQuery.test.tsx
  apps/frontend/src/hooks/queries/useSearchQuery.test.tsx
  apps/frontend/src/hooks/queries/useSettingsMetadataQuery.test.tsx
  apps/frontend/src/hooks/queries/useSettingsQuery.test.tsx
  apps/frontend/src/hooks/queries/useSpotifyAuthStatusQuery.test.tsx
  apps/frontend/src/hooks/queries/useSupportedFormatsQuery.test.tsx
  apps/frontend/src/hooks/queries/useTracksQuery.test.tsx
  apps/frontend/src/hooks/useAlbumListDownloadStates.test.ts
  apps/frontend/src/hooks/useAlbumPreviewNavigation.test.ts
  apps/frontend/src/hooks/useDebounce.test.ts
  apps/frontend/src/hooks/useGridColumns.test.ts
  apps/frontend/src/hooks/useLanguageSync.test.ts
  apps/frontend/src/hooks/useNavigationHelpers.test.ts
  apps/frontend/src/utils/artworkBackfill.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): add unit tests for atoms, errors, layouts, skeletons (#189)
  apps/frontend/src/components/atoms/Button.test.tsx
  apps/frontend/src/components/atoms/Image.test.tsx
  apps/frontend/src/components/atoms/Loading.test.tsx
  apps/frontend/src/components/atoms/Skeleton.test.tsx
  apps/frontend/src/components/errors/ErrorBoundary.test.tsx
  apps/frontend/src/components/errors/ErrorFallback.test.tsx
  apps/frontend/src/components/errors/GenericErrorState.test.tsx
  apps/frontend/src/components/errors/RouteErrorBoundary.test.tsx
  apps/frontend/src/components/layouts/AppFooter.test.tsx
  apps/frontend/src/components/layouts/AppHeader.test.tsx
  apps/frontend/src/components/layouts/AppLayout.test.tsx
  apps/frontend/src/components/layouts/BottomNavigation.test.tsx
  apps/frontend/src/components/layouts/Sidebar.test.tsx
  apps/frontend/src/components/skeletons/PlaylistSkeleton.test.tsx
  apps/frontend/src/components/skeletons/SpotifyAuthCardSkeleton.test.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): add unit tests for 23 molecule components (#190)
  apps/frontend/src/components/molecules/ApiErrorState.test.tsx
  apps/frontend/src/components/molecules/ArtistDiscographyFilters.test.tsx
  apps/frontend/src/components/molecules/ArtistHeader.test.tsx
  apps/frontend/src/components/molecules/ArtistLinks.test.tsx
  apps/frontend/src/components/molecules/ConnectSpotifyPrompt.test.tsx
  apps/frontend/src/components/molecules/EmptyState.test.tsx
  apps/frontend/src/components/molecules/PageHeader.test.tsx
  apps/frontend/src/components/molecules/PlaylistCard.test.tsx
  apps/frontend/src/components/molecules/PlaylistDescription.test.tsx
  apps/frontend/src/components/molecules/PlaylistHeader.test.tsx
  apps/frontend/src/components/molecules/PlaylistNotFound.test.tsx
  apps/frontend/src/components/molecules/PlaylistStatusBadge.test.tsx
  apps/frontend/src/components/molecules/PreviewError.test.tsx
  apps/frontend/src/components/molecules/RateLimitedMessage.test.tsx
  apps/frontend/src/components/molecules/SearchInput.test.tsx
  apps/frontend/src/components/molecules/SettingSelect.test.tsx
  apps/frontend/src/components/molecules/SettingTextarea.test.tsx
  apps/frontend/src/components/molecules/SettingToggle.test.tsx
  apps/frontend/src/components/molecules/SpotifyPlaylistCard.test.tsx
  apps/frontend/src/components/molecules/StatCard.test.tsx
  apps/frontend/src/components/molecules/Toast.test.tsx
  apps/frontend/src/components/molecules/VirtualGrid.test.tsx
  apps/frontend/src/components/molecules/VirtualList.test.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): add unit tests for 14 organism components (#191)
  apps/frontend/src/components/organisms/ArtistDiscography.test.tsx
  apps/frontend/src/components/organisms/ArtistList.test.tsx
  apps/frontend/src/components/organisms/HistoryList.test.tsx
  apps/frontend/src/components/organisms/LibraryArtistList.test.tsx
  apps/frontend/src/components/organisms/LibraryArtistProfile.test.tsx
  apps/frontend/src/components/organisms/ReleasesList.test.tsx
  apps/frontend/src/components/organisms/SearchAlbumGrid.test.tsx
  apps/frontend/src/components/organisms/SearchArtistGrid.test.tsx
  apps/frontend/src/components/organisms/SearchGridSection.test.tsx
  apps/frontend/src/components/organisms/SearchTrackList.test.tsx
  apps/frontend/src/components/organisms/SpotifyAuthCard.test.tsx
  apps/frontend/src/components/organisms/SpotifyPlaylistList.test.tsx
  apps/frontend/src/components/organisms/ToastContainer.test.tsx
  apps/frontend/src/components/organisms/TrackList.test.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): add unit tests for 10 views and root App (#192)
  apps/frontend/src/app/App.test.tsx
  apps/frontend/src/views/AlbumDetail.test.tsx
  apps/frontend/src/views/ArtistDetail.test.tsx
  apps/frontend/src/views/Artists.test.tsx
  apps/frontend/src/views/History.test.tsx
  apps/frontend/src/views/LibraryArtist.test.tsx
  apps/frontend/src/views/MyPlaylists.test.tsx
  apps/frontend/src/views/NotFound.test.tsx
  apps/frontend/src/views/PlaylistPreview.test.tsx
  apps/frontend/src/views/Releases.test.tsx
  apps/frontend/src/views/Search.test.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): ratchet coverage thresholds to measured levels (#149)
  apps/frontend/vitest.config.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): re-sync persists playlist details with update, not save
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): ratchet coverage thresholds to measured levels (#149) (#194)
  apps/frontend/vitest.config.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): harden recovery against the mock-masked bug class
  apps/backend/src/application/services/playlist.service.ts
  apps/backend/src/application/use-cases/library/scan-library.use-case.ts
  apps/backend/src/application/use-cases/playlists/update-playlist.use-case.ts
  apps/backend/src/application/use-cases/tracks/recover-errored-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/recover-errored-tracks.use-case.ts
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
  apps/backend/src/presentation/controllers/auth.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): re-sync persists playlist details with update, not save (#193)
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): harden recovery against the mock-masked bug class (#195)
  apps/backend/src/application/services/playlist.service.ts
  apps/backend/src/application/use-cases/library/scan-library.use-case.ts
  apps/backend/src/application/use-cases/playlists/update-playlist.use-case.ts
  apps/backend/src/application/use-cases/tracks/recover-errored-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/recover-errored-tracks.use-case.ts
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
  apps/backend/src/presentation/controllers/auth.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.19.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for 10 Spotify external clients
  apps/backend/src/infrastructure/external/providers/spotify/spotify-url-lookup.client.test.ts
  apps/backend/src/infrastructure/external/spotify-album.client.test.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.test.ts
  apps/backend/src/infrastructure/external/spotify-base.client.test.ts
  apps/backend/src/infrastructure/external/spotify-circuit-breaker.adapter.test.ts
  apps/backend/src/infrastructure/external/spotify-http.client.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.test.ts
  apps/backend/src/infrastructure/external/spotify-search.client.test.ts
  apps/backend/src/infrastructure/external/spotify-track.client.test.ts
  apps/backend/src/infrastructure/external/spotify-track.mapper.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for external infra utilities
  apps/backend/src/infrastructure/external/promise-cache.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/cover-url.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-artist-lookup.adapter.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/picture.test.ts
  apps/backend/src/infrastructure/external/rate-limiter.test.ts
  apps/backend/src/infrastructure/external/spotify-artwork-source.service.test.ts
  apps/backend/src/infrastructure/external/youtube-download.service.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for domain entities, errors and helpers
  apps/backend/src/application/services/library.service.test.ts
  apps/backend/src/application/services/playlist.service.test.ts
  apps/backend/src/application/services/track.service.test.ts
  apps/backend/src/application/use-cases/ai/append-chat-message.use-case.test.ts
  apps/backend/src/application/use-cases/ai/clear-chat-messages.use-case.test.ts
  apps/backend/src/application/use-cases/ai/get-chat-messages.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/get-artwork-backfill-status.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/pause-artwork-backfill.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/resume-artwork-backfill.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/start-artwork-backfill.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/delete-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-system-status.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/retry-playlist-downloads.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/update-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/create-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/delete-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/retry-track-download.use-case.test.ts
  apps/backend/src/application/utils/error.utils.test.ts
  apps/backend/src/domain/entities/ai-chat-message.entity.test.ts
  apps/backend/src/domain/entities/playlist.entity.test.ts
  apps/backend/src/domain/errors/app-error.test.ts
  apps/backend/src/domain/helpers/deezer-image.helper.test.ts
  apps/backend/src/domain/helpers/spotify-url.helper.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for domain entities, errors and helpers
  apps/backend/src/domain/entities/ai-chat-message.entity.test.ts
  apps/backend/src/domain/entities/playlist.entity.test.ts
  apps/backend/src/domain/errors/app-error.test.ts
  apps/backend/src/domain/helpers/deezer-image.helper.test.ts
  apps/backend/src/domain/helpers/spotify-url.helper.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for tracks and ai use-cases
  apps/backend/src/application/use-cases/ai/append-chat-message.use-case.test.ts
  apps/backend/src/application/use-cases/ai/clear-chat-messages.use-case.test.ts
  apps/backend/src/application/use-cases/ai/get-chat-messages.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/create-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/delete-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/retry-track-download.use-case.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for playlists and artwork-backfill use-cases
  apps/backend/src/application/use-cases/artwork-backfill/get-artwork-backfill-status.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/pause-artwork-backfill.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/resume-artwork-backfill.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/start-artwork-backfill.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/delete-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-system-status.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/retry-playlist-downloads.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/update-playlist.use-case.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for database repositories and adapters
  apps/backend/src/infrastructure/database/connectivity.adapter.test.ts
  apps/backend/src/infrastructure/database/external-url-cache.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-ai-chat-message.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-history.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-playlist.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-settings.repository.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for messaging, jobs and infra services
  apps/backend/src/infrastructure/jobs/catalog-sync.job.test.ts
  apps/backend/src/infrastructure/jobs/feed-sync.job.test.ts
  apps/backend/src/infrastructure/messaging/app-event-bus.test.ts
  apps/backend/src/infrastructure/messaging/bullmq-artwork-backfill-queue.service.test.ts
  apps/backend/src/infrastructure/messaging/bullmq-track-queue.service.test.ts
  apps/backend/src/infrastructure/services/embedded-artwork-source.service.test.ts
  apps/backend/src/infrastructure/services/file-system-m3u.service.test.ts
  apps/backend/src/infrastructure/services/file-system-track-path.service.test.ts
  apps/backend/src/infrastructure/services/noop-spotify-artwork-source.service.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for controllers, middleware and request schema
  apps/backend/src/presentation/controllers/external-url.controller.test.ts
  apps/backend/src/presentation/controllers/history.controller.test.ts
  apps/backend/src/presentation/controllers/library.controller.test.ts
  apps/backend/src/presentation/controllers/playlist.controller.test.ts
  apps/backend/src/presentation/controllers/settings.controller.test.ts
  apps/backend/src/presentation/controllers/track.controller.test.ts
  apps/backend/src/presentation/middleware/async-handler.test.ts
  apps/backend/src/presentation/middleware/error-handler.test.ts
  apps/backend/src/presentation/routes/schemas/library.schema.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for application services and utils
  apps/backend/src/application/services/library.service.test.ts
  apps/backend/src/application/services/playlist.service.test.ts
  apps/backend/src/application/services/track.service.test.ts
  apps/backend/src/application/utils/error.utils.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for domain entities, errors and helpers (#210)
  apps/backend/src/domain/entities/ai-chat-message.entity.test.ts
  apps/backend/src/domain/entities/playlist.entity.test.ts
  apps/backend/src/domain/errors/app-error.test.ts
  apps/backend/src/domain/helpers/deezer-image.helper.test.ts
  apps/backend/src/domain/helpers/spotify-url.helper.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for tracks and ai use-cases (#211)
  apps/backend/src/application/use-cases/ai/append-chat-message.use-case.test.ts
  apps/backend/src/application/use-cases/ai/clear-chat-messages.use-case.test.ts
  apps/backend/src/application/use-cases/ai/get-chat-messages.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/create-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/delete-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/retry-track-download.use-case.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for playlists and artwork-backfill use-cases (#212)
  apps/backend/src/application/use-cases/artwork-backfill/get-artwork-backfill-status.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/pause-artwork-backfill.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/resume-artwork-backfill.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/start-artwork-backfill.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/delete-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-system-status.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/retry-playlist-downloads.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/update-playlist.use-case.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for database repositories and adapters (#214)
  apps/backend/src/infrastructure/database/connectivity.adapter.test.ts
  apps/backend/src/infrastructure/database/external-url-cache.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-ai-chat-message.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-history.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-playlist.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-settings.repository.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for messaging, jobs and infra services (#215)
  apps/backend/src/infrastructure/jobs/catalog-sync.job.test.ts
  apps/backend/src/infrastructure/jobs/feed-sync.job.test.ts
  apps/backend/src/infrastructure/messaging/app-event-bus.test.ts
  apps/backend/src/infrastructure/messaging/bullmq-artwork-backfill-queue.service.test.ts
  apps/backend/src/infrastructure/messaging/bullmq-track-queue.service.test.ts
  apps/backend/src/infrastructure/services/embedded-artwork-source.service.test.ts
  apps/backend/src/infrastructure/services/file-system-m3u.service.test.ts
  apps/backend/src/infrastructure/services/file-system-track-path.service.test.ts
  apps/backend/src/infrastructure/services/noop-spotify-artwork-source.service.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for controllers, middleware and request schema (#216)
  apps/backend/src/presentation/controllers/external-url.controller.test.ts
  apps/backend/src/presentation/controllers/history.controller.test.ts
  apps/backend/src/presentation/controllers/library.controller.test.ts
  apps/backend/src/presentation/controllers/playlist.controller.test.ts
  apps/backend/src/presentation/controllers/settings.controller.test.ts
  apps/backend/src/presentation/controllers/track.controller.test.ts
  apps/backend/src/presentation/middleware/async-handler.test.ts
  apps/backend/src/presentation/middleware/error-handler.test.ts
  apps/backend/src/presentation/routes/schemas/library.schema.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for external infra utilities (#208)
  apps/backend/src/infrastructure/external/promise-cache.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/cover-url.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-artist-lookup.adapter.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/picture.test.ts
  apps/backend/src/infrastructure/external/rate-limiter.test.ts
  apps/backend/src/infrastructure/external/spotify-artwork-source.service.test.ts
  apps/backend/src/infrastructure/external/youtube-download.service.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for 10 Spotify external clients (#207)
  apps/backend/src/infrastructure/external/providers/spotify/spotify-url-lookup.client.test.ts
  apps/backend/src/infrastructure/external/spotify-album.client.test.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.test.ts
  apps/backend/src/infrastructure/external/spotify-base.client.test.ts
  apps/backend/src/infrastructure/external/spotify-circuit-breaker.adapter.test.ts
  apps/backend/src/infrastructure/external/spotify-http.client.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.test.ts
  apps/backend/src/infrastructure/external/spotify-search.client.test.ts
  apps/backend/src/infrastructure/external/spotify-track.client.test.ts
  apps/backend/src/infrastructure/external/spotify-track.mapper.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add unit tests for application services and utils (#213)
  apps/backend/src/application/services/library.service.test.ts
  apps/backend/src/application/services/playlist.service.test.ts
  apps/backend/src/application/services/track.service.test.ts
  apps/backend/src/application/utils/error.utils.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(backend): ratchet coverage thresholds to measured levels (#204)
  apps/backend/vitest.config.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(backend): ratchet coverage thresholds to measured levels (#204) (#217)
  apps/backend/vitest.config.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): expand infra-layer unit coverage and ratchet gate
  apps/backend/src/infrastructure/database/artist-album-cache.repository.test.ts
  apps/backend/src/infrastructure/database/artist-release-cache.repository.test.ts
  apps/backend/src/infrastructure/database/feed-cache-eviction.repository.test.ts
  apps/backend/src/infrastructure/database/feed-sync-state.repository.test.ts
  apps/backend/src/infrastructure/database/followed-artist.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-playlist.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-track.repository.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-artwork-source.service.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.test.ts
  apps/backend/src/infrastructure/external/spotify-album.client.test.ts
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.test.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.test.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.test.ts
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.test.ts
  apps/backend/src/infrastructure/external/spotify-http.client.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.test.ts
  apps/backend/src/infrastructure/external/spotify-search.client.test.ts
  apps/backend/src/infrastructure/external/youtube-binary.test.ts
  apps/backend/src/infrastructure/services/artwork-assets.service.test.ts
  apps/backend/src/infrastructure/services/cache-artwork-source.service.test.ts
  apps/backend/src/infrastructure/services/file-system-artwork-source.service.test.ts
  apps/backend/src/infrastructure/services/file-system-scanner.service.test.ts
  apps/backend/src/infrastructure/services/metadata.service.test.ts
  apps/backend/vitest.config.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): expand infra-layer unit coverage and ratchet gate (#218)
  apps/backend/src/infrastructure/database/artist-album-cache.repository.test.ts
  apps/backend/src/infrastructure/database/artist-release-cache.repository.test.ts
  apps/backend/src/infrastructure/database/feed-cache-eviction.repository.test.ts
  apps/backend/src/infrastructure/database/feed-sync-state.repository.test.ts
  apps/backend/src/infrastructure/database/followed-artist.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-playlist.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-track.repository.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-artwork-source.service.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.test.ts
  apps/backend/src/infrastructure/external/spotify-album.client.test.ts
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.test.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.test.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.test.ts
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.test.ts
  apps/backend/src/infrastructure/external/spotify-http.client.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.test.ts
  apps/backend/src/infrastructure/external/spotify-search.client.test.ts
  apps/backend/src/infrastructure/external/youtube-binary.test.ts
  apps/backend/src/infrastructure/services/artwork-assets.service.test.ts
  apps/backend/src/infrastructure/services/cache-artwork-source.service.test.ts
  apps/backend/src/infrastructure/services/file-system-artwork-source.service.test.ts
  apps/backend/src/infrastructure/services/file-system-scanner.service.test.ts
  apps/backend/src/infrastructure/services/metadata.service.test.ts
  apps/backend/vitest.config.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(backend): exclude domain contract interfaces from coverage
  apps/backend/vitest.config.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): cover controller error and edge-case branches
  apps/backend/src/presentation/controllers/artist.controller.test.ts
  apps/backend/src/presentation/controllers/artwork-backfill.controller.test.ts
  apps/backend/src/presentation/controllers/auth.controller.test.ts
  apps/backend/src/presentation/controllers/events.controller.test.ts
  apps/backend/src/presentation/controllers/feed.controller.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): cover application service branches
  apps/backend/src/application/services/artwork.service.test.ts
  apps/backend/src/application/services/settings.service.test.ts
  apps/backend/src/application/services/spotify.service.test.ts
  apps/backend/src/application/services/track-post-processing.service.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

Path conditions:
  pnpm --filter backend lint: any of: apps/backend/**/*.ts
  pnpm --filter frontend lint: any of: apps/frontend/**/*.ts
  pnpm --filter @spotiarr/shared lint: any of: packages/shared/**/*.ts
  pnpm prettier --write --ignore-path .gitignore: any of: **/*.{ts,tsx,css,json,md,yml,yaml}
