Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "apps/backend/**/*.ts": ["pnpm --filter backend lint"],
  "apps/frontend/**/*.ts": ["pnpm --filter frontend lint"],
  "packages/shared/**/*.ts": ["pnpm --filter @spotiarr/shared lint"],
  "**/*.{ts,tsx,css,json,md,yml,yaml}": [
    "pnpm prettier --write --ignore-path .gitignore"
  ]
}

feat(shared): add ListeningScope and ListeningIntent types
  packages/shared/src/index.ts
Due: pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add historyService.recordPlay mapping QueueItem to RecordPlayInput
  apps/frontend/src/services/history.service.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add detectListeningIntent bilingual EN/ES pure helper with 23 test cases
  apps/frontend/src/utils/detect-listening-intent.test.ts
  apps/frontend/src/utils/detect-listening-intent.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): instrument usePlayerStore with play-session dedup guard and threshold recording
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add useRecordPlayMutation fire-and-forget with error swallowing
  apps/frontend/src/hooks/mutations/useRecordPlayMutation.test.tsx
  apps/frontend/src/hooks/mutations/useRecordPlayMutation.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): wire useRecordPlayMutation into GlobalPlayerBar via setPlayRecorder effect
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
Due: pnpm prettier --write --ignore-path .gitignore

fix(history): stabilize play recorder registration and tighten listening-intent detection
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/utils/detect-listening-intent.test.ts
  apps/frontend/src/utils/detect-listening-intent.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(history): include limit in dashboard query keys and assert section order
  apps/frontend/src/hooks/queries/useRecentPlaysQuery.test.tsx
  apps/frontend/src/hooks/queries/useRecentPlaysQuery.ts
  apps/frontend/src/hooks/queries/useTopArtistsQuery.test.tsx
  apps/frontend/src/hooks/queries/useTopArtistsQuery.ts
  apps/frontend/src/hooks/queries/useTopTracksQuery.test.tsx
  apps/frontend/src/hooks/queries/useTopTracksQuery.ts
  apps/frontend/src/hooks/queryKeys.test.ts
  apps/frontend/src/hooks/queryKeys.ts
  apps/frontend/src/views/Dashboard.test.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(history): add MostListenedSection and RecentPlaysSection organisms, replace MostListenedPlaceholder, add i18n keys
  apps/frontend/src/components/organisms/MostListenedPlaceholder.test.tsx
  apps/frontend/src/components/organisms/MostListenedPlaceholder.tsx
  apps/frontend/src/components/organisms/MostListenedSection.test.tsx
  apps/frontend/src/components/organisms/MostListenedSection.tsx
  apps/frontend/src/components/organisms/RecentPlaysSection.test.tsx
  apps/frontend/src/components/organisms/RecentPlaysSection.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/Dashboard.test.tsx
  apps/frontend/src/views/Dashboard.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(history): extend history.service and add useTopTracksQuery, useTopArtistsQuery, useRecentPlaysQuery hooks with query keys
  apps/frontend/src/hooks/queries/useRecentPlaysQuery.test.tsx
  apps/frontend/src/hooks/queries/useRecentPlaysQuery.ts
  apps/frontend/src/hooks/queries/useTopArtistsQuery.test.tsx
  apps/frontend/src/hooks/queries/useTopArtistsQuery.ts
  apps/frontend/src/hooks/queries/useTopTracksQuery.test.tsx
  apps/frontend/src/hooks/queries/useTopTracksQuery.ts
  apps/frontend/src/hooks/queryKeys.test.ts
  apps/frontend/src/hooks/queryKeys.ts
  apps/frontend/src/services/history.service.test.ts
  apps/frontend/src/services/history.service.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(history): extend useDashboardController with mostListenedProps and recentPlaysProps
  apps/frontend/src/hooks/controllers/useDashboardController.additions.test.ts
  apps/frontend/src/hooks/controllers/useDashboardController.test.ts
  apps/frontend/src/hooks/controllers/useDashboardController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(history): show distinct track count per artist in dashboard
  apps/frontend/src/components/organisms/MostListenedSection.test.tsx
  apps/frontend/src/components/organisms/MostListenedSection.tsx
  apps/frontend/src/hooks/queries/useTopArtistsQuery.test.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm prettier --write --ignore-path .gitignore

test(ai): strengthen faked-green coverage and tighten favorite-signal intent detection
  apps/backend/src/application/use-cases/ai/__tests__/generate-ai-playlist.use-case.context.test.ts
  apps/frontend/src/hooks/controllers/useChatController.test.ts
  apps/frontend/src/utils/detect-listening-intent.test.ts
  apps/frontend/src/utils/detect-listening-intent.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(ai): add listeningIntent to Zod schema so it survives validate middleware
  apps/backend/src/presentation/routes/ai.routes.test.ts
  apps/backend/src/presentation/routes/schemas/ai.schema.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai): frontend detects listening intent and forwards scope through mutation to backend; update existing tests to new { prompt, intent } shape
  apps/frontend/src/hooks/controllers/__tests__/useChatController.intent.test.ts
  apps/frontend/src/hooks/controllers/useChatController.test.ts
  apps/frontend/src/hooks/controllers/useChatController.ts
  apps/frontend/src/hooks/mutations/__tests__/useGenerateAiPlaylistMutation.intent.test.tsx
  apps/frontend/src/hooks/mutations/useGenerateAiPlaylistMutation.test.tsx
  apps/frontend/src/hooks/mutations/useGenerateAiPlaylistMutation.ts
  apps/frontend/src/services/__tests__/aiChat.service.intent.test.ts
  apps/frontend/src/services/aiChat.service.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai): thread optional listeningContext through use-case, worker, and OpenAI adapter; SYSTEM_PROMPT unchanged
  apps/backend/src/application/use-cases/ai/__tests__/generate-ai-playlist.use-case.context.test.ts
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.ts
  apps/backend/src/infrastructure/external/providers/ai/__tests__/openai-compatible.adapter.context.test.ts
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.ts
  apps/backend/src/infrastructure/workers/ai-playlist.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(history): implement buildListeningContext pure formatter with scope/cap/empty tests
  apps/backend/src/application/use-cases/history/__tests__/build-listening-context.test.ts
  apps/backend/src/application/use-cases/history/build-listening-context.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai): add AiListeningContext shared type; extend AiChatPort + AiPlaylistGenerateJobData with optional listeningContext
  apps/backend/src/application/ports/ai-chat.port.ts
  apps/backend/src/domain/services/ai-playlist-queue.service.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(ai): controller fetches and builds listening context on enqueue when listeningIntent scope is provided
  apps/backend/src/container.ts
  apps/backend/src/presentation/controllers/ai.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(history): trim redundant comments, keep business-rule notes
  apps/backend/src/infrastructure/database/prisma-play-history.repository.ts
  apps/backend/src/presentation/routes/history.routes.ts
  apps/frontend/src/store/usePlayerStore.ts
  apps/frontend/src/utils/detect-listening-intent.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): correct favorite signal regex to match all favou?rites? variants with word boundaries
  apps/frontend/src/utils/detect-listening-intent.test.ts
  apps/frontend/src/utils/detect-listening-intent.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): strengthen ai route listeningIntent forwarding assertions
  apps/backend/src/presentation/routes/ai.routes.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): truncate oversized names in buildListeningContext and add max bounds to record-play schema
  apps/backend/src/application/use-cases/history/__tests__/build-listening-context.test.ts
  apps/backend/src/application/use-cases/history/build-listening-context.use-case.ts
  apps/backend/src/presentation/routes/history.routes.test.ts
  apps/backend/src/presentation/routes/schemas/history.schema.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): prevent double-record after store rehydration
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): validate ai-playlist worker job.data with Zod at entry
  apps/backend/src/infrastructure/workers/ai-playlist.worker.test.ts
  apps/backend/src/infrastructure/workers/ai-playlist.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore: apply cleanup fixes (B-W3, i18n dead key, prisma cratedAt, controller cast)
  apps/backend/src/infrastructure/database/prisma-play-history.repository.ts
  apps/backend/src/presentation/controllers/history.controller.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

test(history): close round-2 coverage gaps for rehydration and worker job data
  apps/backend/src/infrastructure/workers/ai-playlist.worker.test.ts
  apps/frontend/src/store/usePlayerStore.test.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(e2e): mock new history aggregation endpoints for dashboard
  apps/frontend/tests/e2e/mocked/history.spec.ts
  apps/frontend/tests/e2e/mocked/sse.spec.ts
  apps/frontend/tests/helpers/api-mocks.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(e2e): update runtime route-list expectation for new history endpoints
  apps/frontend/tests/runtime/api-mocks.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(e2e): scroll download history into view in real-stack spec
  apps/frontend/tests/e2e/real/library-history.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(compose): do not publish redis on host port 6379
  compose.yml
Due: pnpm prettier --write --ignore-path .gitignore

feat(player): prefetch next track audio for faster transitions
  apps/backend/src/application/ports/library-audio.port.ts
  apps/backend/src/infrastructure/services/library-audio.service.test.ts
  apps/backend/src/infrastructure/services/library-audio.service.ts
  apps/backend/src/presentation/controllers/library.controller.ts
  apps/backend/src/presentation/routes/library.routes.test.ts
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/hooks/useAudioPrefetch.test.ts
  apps/frontend/src/hooks/useAudioPrefetch.ts
  apps/frontend/src/store/usePreferencesStore.test.ts
  apps/frontend/src/store/usePreferencesStore.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(player): clear prefetch warmer when disabled at runtime
  apps/frontend/src/hooks/useAudioPrefetch.test.ts
  apps/frontend/src/hooks/useAudioPrefetch.ts
  apps/frontend/src/store/usePreferencesStore.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(player): offline audio caching via service worker
  apps/frontend/src/hooks/useAudioPrefetch.test.ts
  apps/frontend/src/hooks/useAudioPrefetch.ts
  apps/frontend/vite.config.ts
  skills/spotiarr-docker/SKILL.md
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

style(player): trim verbose workbox comment to the non-obvious bit
  apps/frontend/vite.config.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(player): harden prefetch/offline caching from adversarial review
  apps/backend/src/application/ports/library-audio.port.ts
  apps/backend/src/infrastructure/services/library-audio.service.test.ts
  apps/backend/src/infrastructure/services/library-audio.service.ts
  apps/backend/src/presentation/controllers/library.controller.test.ts
  apps/backend/src/presentation/controllers/library.controller.ts
  apps/backend/src/presentation/routes/library.routes.test.ts
  apps/frontend/package.json
  apps/frontend/src/hooks/useAudioPrefetch.test.ts
  apps/frontend/src/hooks/useAudioPrefetch.ts
  apps/frontend/vite.config.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

style(player): remove process-leak and noise comments
  apps/frontend/src/hooks/useAudioPrefetch.ts
  apps/frontend/vite.config.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(pwa): use workbox rangeRequests option instead of importing the plugin
  apps/frontend/package.json
  apps/frontend/vite.config.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.23.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore
