Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format, pnpm prettier --write --ignore-path .gitignore

refactor: consolidate download button loading and disabled states with `isButtonLoading` and enhance `isDownloaded` check with track count.
  src/frontend/src/components/molecules/PlaylistMetadata.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

feat: display download progress in playlist description when a download is active.
  src/frontend/src/components/molecules/PlaylistDescription.tsx
  src/frontend/src/components/templates/PlaylistView.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

Lint
  src/backend/src/domain/tracks/download-track.use-case.ts
  src/backend/src/presentation/routes/events.routes.ts
  src/frontend/src/hooks/queries/useTracksQuery.ts
  src/frontend/src/hooks/useCreatePlaylistFromUrl.ts
  src/frontend/src/hooks/useDownloadStatus.ts
  src/frontend/src/hooks/useSettingsForm.ts
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/src/views/History.tsx
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format

feat: introduce Playlist organism component to centralize playlist display and actions in detail and preview views.
  src/frontend/src/components/molecules/PlaylistActions.tsx
  src/frontend/src/components/organisms/Playlist.tsx
  src/frontend/src/components/templates/PlaylistTemplate.tsx
  src/frontend/src/views/PlaylistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

feat: update playlist action button to a subscribe/unsubscribe toggle with revised styling and icon
  src/frontend/src/components/molecules/PlaylistActions.tsx
  src/frontend/src/icons.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Add playlist saved status to conditionally enable actions and implement delete functionality for previewed playlists.
  src/frontend/src/components/molecules/PlaylistActions.tsx
  src/frontend/src/components/organisms/Playlist.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

feat: Add retry functionality for failed track downloads and playlist subscription toggling.
  src/frontend/src/components/organisms/Playlist.tsx
  src/frontend/src/views/PlaylistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

refactor: remove PlaylistTemplate component and compose playlist layout directly within Playlist organism using dedicated sub-components.
  src/frontend/src/components/organisms/Playlist.tsx
  src/frontend/src/components/templates/PlaylistTemplate.tsx
Due: pnpm --filter frontend format

feat: display subscribed status as a bell icon overlay on the playlist cover
  src/frontend/src/components/organisms/PlaylistCard.tsx
Due: pnpm --filter frontend format

feat: Centralize download status
  src/backend/src/application/services/playlist.service.ts
  src/backend/src/presentation/routes/playlist.routes.ts
  src/frontend/src/app/App.tsx
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/components/organisms/HistoryList.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/components/organisms/ReleasesList.tsx
  src/frontend/src/components/organisms/TrackList.tsx
  src/frontend/src/contexts/DownloadStatusContext.tsx
  src/frontend/src/hooks/queryKeys.ts
  src/frontend/src/services/api.ts
  src/frontend/src/types/playlist.ts
  src/frontend/src/types/track.ts
  src/frontend/src/utils/playlist.ts
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/src/views/PlaylistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format

refactor: extract download status query into a dedicated hook and enable event-driven invalidation via server events.
  src/frontend/src/contexts/DownloadStatusContext.tsx
  src/frontend/src/hooks/queries/useDownloadStatusQuery.ts
  src/frontend/src/hooks/useServerEvents.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: remove unused playlist metrics interface and associated utility functions
  src/frontend/src/utils/playlist.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: Move discography filtering and pagination logic from `ArtistDiscography` to `ArtistDetail`.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

chore: Remove `tsconfig.dev.json` and `baseUrl`/`paths` from TypeScript configurations.
  src/backend/tsconfig.dev.json
  src/backend/tsconfig.json
  src/frontend/tsconfig.json
Due: pnpm prettier --write --ignore-path .gitignore

refactor: centralize playlist management logic into `usePlaylistController` hook and update views to use it.
  src/backend/package.json
  src/frontend/src/hooks/controllers/usePlaylistController.ts
  src/frontend/src/views/PlaylistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

feat: enable `handleToggleSubscription` to create and subscribe to a new playlist if one doesn't exist.
  src/frontend/src/hooks/controllers/usePlaylistController.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: simplify playlist subscription button styling and disable logic by removing `isSaved` dependency.
  src/frontend/src/components/molecules/PlaylistActions.tsx
Due: pnpm --filter frontend format

refactor: modularize API client into domain-specific services and a shared HTTP client
  src/frontend/src/services/api.ts
  src/frontend/src/services/artist.service.ts
  src/frontend/src/services/history.service.ts
  src/frontend/src/services/httpClient.ts
  src/frontend/src/services/playlist.service.ts
  src/frontend/src/services/settings.service.ts
  src/frontend/src/services/track.service.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: remove monolithic `api` service and directly import specific service modules in hooks.
  src/frontend/src/hooks/mutations/useCreatePlaylistMutation.ts
  src/frontend/src/hooks/mutations/useDeleteCompletedPlaylistsMutation.ts
  src/frontend/src/hooks/mutations/useDeletePlaylistMutation.ts
  src/frontend/src/hooks/mutations/useDeleteTrackMutation.ts
  src/frontend/src/hooks/mutations/useRecreatePlaylistMutation.ts
  src/frontend/src/hooks/mutations/useRetryFailedTracksMutation.ts
  src/frontend/src/hooks/mutations/useRetryTrackMutation.ts
  src/frontend/src/hooks/mutations/useUpdatePlaylistMutation.ts
  src/frontend/src/hooks/mutations/useUpdateSettingsMutation.ts
  src/frontend/src/hooks/queries/useArtistAlbumsQuery.ts
  src/frontend/src/hooks/queries/useArtistDetailQuery.ts
  src/frontend/src/hooks/queries/useDownloadHistoryQuery.ts
  src/frontend/src/hooks/queries/useDownloadStatusQuery.ts
  src/frontend/src/hooks/queries/useFollowedArtistsQuery.ts
  src/frontend/src/hooks/queries/usePlaylistPreviewQuery.ts
  src/frontend/src/hooks/queries/usePlaylistsQuery.ts
  src/frontend/src/hooks/queries/useReleasesQuery.ts
  src/frontend/src/hooks/queries/useSettingsMetadataQuery.ts
  src/frontend/src/hooks/queries/useSettingsQuery.ts
  src/frontend/src/hooks/queries/useSupportedFormatsQuery.ts
  src/frontend/src/hooks/queries/useTracksQuery.ts
  src/frontend/src/services/api.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: Extract logic from Home, Artists, Releases, History, and ArtistDetail views into new controller hooks.
  src/frontend/src/hooks/controllers/useArtistDetailController.ts
  src/frontend/src/hooks/controllers/useArtistsController.ts
  src/frontend/src/hooks/controllers/useHistoryController.ts
  src/frontend/src/hooks/controllers/useHomeController.ts
  src/frontend/src/hooks/controllers/useReleasesController.ts
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/src/views/Artists.tsx
  src/frontend/src/views/History.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: update Settings view to use `useSettingsController` hook.
  src/frontend/src/hooks/controllers/useSettingsController.ts
  src/frontend/src/views/Settings.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: Extract playlist detail and preview logic into dedicated controller hooks.
  src/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  src/frontend/src/hooks/controllers/usePlaylistPreviewController.ts
  src/frontend/src/views/PlaylistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: Extract header URL input and playlist creation logic into a new `useHeaderController` hook, replacing `useCreatePlaylistFromUrl`.
  src/frontend/src/components/organisms/Header.tsx
  src/frontend/src/hooks/controllers/useHeaderController.ts
  src/frontend/src/hooks/useCreatePlaylistFromUrl.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: move playlist display title and completed track count calculation to controller hooks.
  src/frontend/src/components/organisms/Playlist.tsx
  src/frontend/src/hooks/controllers/usePlaylistController.ts
  src/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  src/frontend/src/hooks/controllers/usePlaylistPreviewController.ts
  src/frontend/src/views/PlaylistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

Refactored api routes frontend
  src/frontend/src/hooks/useServerEvents.ts
  src/frontend/src/services/artist.service.ts
  src/frontend/src/services/history.service.ts
  src/frontend/src/services/httpClient.ts
  src/frontend/src/services/playlist.service.ts
  src/frontend/src/services/settings.service.ts
  src/frontend/src/services/track.service.ts
  src/shared/src/index.ts
  src/shared/src/routes.ts
Due: pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter frontend format, pnpm --filter shared format

refactor: centralize API route definitions using `ApiRoutes` constants across backend and frontend.
  src/backend/src/app.ts
  src/backend/src/presentation/routes/index.ts
  src/frontend/src/hooks/useServerEvents.ts
  src/frontend/src/services/httpClient.ts
  src/shared/src/routes.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format

feat: Remove development Docker Compose configuration
  docker-compose.dev.yml
Due: pnpm prettier --write --ignore-path .gitignore

feat: Add non-root user, create and set permissions for downloads directory, and implement a health check.
  Dockerfile
Due: none

feat: bind server to all network interfaces and dynamically generate Spotify redirect URI from a new BASE_URL environment variable.
  src/backend/src/index.ts
  src/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: introduce `BASE_URL` for app-wide URL configuration and update default redirect URI handling to use `127.0.0.1`.
  .env.example
  Dockerfile
  README.md
  src/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm --filter backend format, pnpm prettier --write --ignore-path .gitignore

fix: copy system yt-dlp binary to a local writable path to resolve `ytdlp-nodejs` permission issues
  src/backend/src/infrastructure/external/youtube.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

docs: streamline installation instructions by removing standalone docker run, updating pnpm requirements, and clarifying dev server access.
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: Make README logo clickable and add dimensions.
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: Update contributing guide with `corepack enable` instructions and pnpm v10 requirement.
  CONTRIBUTING.md
Due: pnpm prettier --write --ignore-path .gitignore

feat: add `findStuckTracks` method to track repository and service, and optimize track existence checks in playlist service and stuck track job.
  src/backend/src/application/services/playlist.service.ts
  src/backend/src/application/services/track.service.ts
  src/backend/src/domain/interfaces/track.repository.ts
  src/backend/src/infrastructure/database/prisma-track.repository.ts
  src/backend/src/infrastructure/jobs/index.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: include track duration in playlist saves and emit playlist update events
  src/backend/src/application/services/playlist.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

fix: Use `os.tmpdir()` for the `yt-dlp` binary workaround to ensure writability in Docker environments.
  src/backend/src/infrastructure/external/youtube.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Add track number metadata to downloaded files, refine playlist track numbering, and lower the minimum playlist check interval.
  src/backend/src/application/services/playlist.service.ts
  src/backend/src/constants/settings-metadata.ts
  src/backend/src/domain/playlists/create-playlist.use-case.ts
  src/backend/src/domain/tracks/download-track.use-case.ts
  src/backend/src/infrastructure/external/youtube.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Implement mobile bottom navigation and refactor sidebar to be desktop-only.
  src/frontend/src/components/layouts/AppLayout.tsx
  src/frontend/src/components/organisms/BottomNavigation.tsx
  src/frontend/src/components/organisms/Header.tsx
  src/frontend/src/components/organisms/Sidebar.tsx
  src/frontend/src/index.css
Due: pnpm --filter frontend format

refactor: extract navigation items into a shared constant file
  src/frontend/src/components/organisms/BottomNavigation.tsx
  src/frontend/src/components/organisms/Sidebar.tsx
  src/frontend/src/constants/navigation.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

Path conditions:
  pnpm --filter backend lint: any of: src/backend/**/*.ts
  pnpm --filter frontend lint: any of: src/frontend/**/*.ts
  pnpm --filter shared lint: any of: src/shared/**/*.ts
  pnpm --filter backend format: any of: src/backend/src/**/*.{ts,json}
  pnpm --filter frontend format: any of: src/frontend/src/**/*.{ts,tsx,css,json}
  pnpm --filter shared format: any of: src/shared/src/**/*.{ts,json}
  pnpm prettier --write --ignore-path .gitignore: any of: *.{json,md,yml,yaml}
