Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

refactor: Extract search UI components into dedicated molecules and organisms for improved modularity.
  apps/frontend/src/components/molecules/SearchAlbumCard.tsx
  apps/frontend/src/components/molecules/SearchArtistCard.tsx
  apps/frontend/src/components/molecules/SearchTopResultCard.tsx
  apps/frontend/src/components/molecules/SearchTrackRow.tsx
  apps/frontend/src/components/organisms/SearchAlbumGrid.tsx
  apps/frontend/src/components/organisms/SearchArtistGrid.tsx
  apps/frontend/src/components/organisms/SearchGridSection.tsx
  apps/frontend/src/components/organisms/SearchTrackList.tsx
  apps/frontend/src/views/Search.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor: move search types map outside of the Search component.
  apps/frontend/src/views/Search.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat: Display track download status in search results using `DownloadStatusContext`.
  apps/frontend/src/components/molecules/SearchTrackRow.tsx
  apps/frontend/src/components/organisms/SearchTrackList.tsx
  apps/frontend/src/views/Search.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat: Implement track preview functionality and update track row click behavior to trigger preview instead of download.
  apps/frontend/src/components/molecules/SearchTrackRow.tsx
  apps/frontend/src/components/organisms/SearchTrackList.tsx
  apps/frontend/src/views/Search.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat: Integrate album download status into `AlbumCard` and refactor search album components.
  apps/frontend/src/components/organisms/SearchAlbumGrid.tsx
  apps/frontend/src/views/Search.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor: replace `SearchArtistCard` with `ArtistCard` and simplify `SearchArtistGrid` to use `ArtistList`.
  apps/frontend/src/components/organisms/SearchArtistGrid.tsx
  apps/frontend/src/views/Search.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat: display download status for albums in the search results.
  apps/frontend/src/views/Search.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat: replace SearchTrackList
  apps/frontend/src/components/organisms/SearchTrackList.tsx
  apps/frontend/src/components/organisms/TrackList.tsx
  apps/frontend/src/hooks/controllers/useArtistDetailController.ts
  apps/frontend/src/views/Search.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor: delete individual search card components and update Search view to use a consolidated track list component.
  apps/frontend/src/components/molecules/SearchAlbumCard.tsx
  apps/frontend/src/components/molecules/SearchArtistCard.tsx
  apps/frontend/src/components/molecules/SearchTrackRow.tsx
  apps/frontend/src/views/Search.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor: remove `overflow-x-hidden` from search content container.
  apps/frontend/src/views/Search.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat: Consolidate header input to support both Spotify URL downloads and general searches, with adaptive UI.
  apps/frontend/src/components/layouts/AppHeader.tsx
  apps/frontend/src/hooks/controllers/useHeaderController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat: Implement dynamic top search result display for artists, albums, and tracks with type-specific card rendering and navigation.
  apps/frontend/src/components/molecules/SearchTopResultCard.tsx
  apps/frontend/src/views/Search.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor: extract search view logic and state into a new `useSearchController` hook and update tab labels to use i18n keys.
  apps/frontend/src/hooks/controllers/useSearchController.ts
  apps/frontend/src/views/Search.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor: centralize `SearchTopResultCard` display logic into a configuration map.
  apps/frontend/src/components/molecules/SearchTopResultCard.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor: Extract `SearchTabButton` and `SearchPreviewAlbumCard` components, and simplify `SearchTopResultCard` configuration logic.
  apps/frontend/src/components/molecules/SearchTopResultCard.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor: Extract `SearchTabButton` and `SearchPreviewAlbumCard` components in Search view.
  apps/frontend/src/views/Search.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor: Extract and export `SearchAlbumItem` from `SearchAlbumGrid` to replace `SearchPreviewAlbumCard` in the `Search` view.
  apps/frontend/src/components/organisms/SearchAlbumGrid.tsx
  apps/frontend/src/views/Search.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat: Implement debounced header search input that synchronizes with URL query parameters.
  apps/frontend/src/hooks/controllers/useHeaderController.ts
  apps/frontend/src/views/Search.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor: split Spotify catalog service into dedicated clients for albums, artists, playlists, search, and tracks.
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm prettier --write --ignore-path .gitignore

refactor: replace monolithic Spotify catalog service with dedicated API clients and a track mapper.
  apps/backend/src/container.ts
  apps/backend/src/domain/services/spotify.service.ts
  apps/backend/src/infrastructure/external/spotify-album.client.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
  apps/backend/src/infrastructure/external/spotify-base.client.ts
  apps/backend/src/infrastructure/external/spotify-catalog.service.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.ts
  apps/backend/src/infrastructure/external/spotify-search.client.ts
  apps/backend/src/infrastructure/external/spotify-track.client.ts
  apps/backend/src/infrastructure/external/spotify-track.mapper.ts
  apps/backend/src/presentation/routes/artist.routes.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat: Introduce PlaylistController and refactor playlist routes to use its methods.
  apps/backend/src/container.ts
  apps/backend/src/presentation/controllers/playlist.controller.ts
  apps/backend/src/presentation/routes/playlist.routes.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor: introduce dedicated controller layer for API routes and event handling
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/messaging/app-event-bus.ts
  apps/backend/src/infrastructure/messaging/sse-event-bus.ts
  apps/backend/src/infrastructure/workers/track-download.worker.ts
  apps/backend/src/presentation/controllers/artist.controller.ts
  apps/backend/src/presentation/controllers/auth.controller.ts
  apps/backend/src/presentation/controllers/events.controller.ts
  apps/backend/src/presentation/controllers/feed.controller.ts
  apps/backend/src/presentation/controllers/health.controller.ts
  apps/backend/src/presentation/controllers/history.controller.ts
  apps/backend/src/presentation/controllers/library.controller.ts
  apps/backend/src/presentation/controllers/search.controller.ts
  apps/backend/src/presentation/controllers/settings.controller.ts
  apps/backend/src/presentation/controllers/track.controller.ts
  apps/backend/src/presentation/routes/artist.routes.ts
  apps/backend/src/presentation/routes/auth.routes.ts
  apps/backend/src/presentation/routes/feed.routes.ts
  apps/backend/src/presentation/routes/health.routes.ts
  apps/backend/src/presentation/routes/history.routes.ts
  apps/backend/src/presentation/routes/index.ts
  apps/backend/src/presentation/routes/library.routes.ts
  apps/backend/src/presentation/routes/search.routes.ts
  apps/backend/src/presentation/routes/settings.routes.ts
  apps/backend/src/presentation/routes/track.routes.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

docs: Add Live Search feature description to README.
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

Fix permissions for cache and prisma engines directories
  docker-entrypoint.sh
Due: none

feat: Add architecture, compatibility, and workflow skills documentation
  .agents/skills/spotiarr-architecture/SKILL.md
  .agents/skills/spotiarr-compatibility/SKILL.md
  .agents/skills/spotiarr-workflow/SKILL.md
  .windsurf/workflows/sdd-new.md
  AGENTS.md
Due: pnpm prettier --write --ignore-path .gitignore

feat: Add skills documentation for spotiarr-prisma and update skill registry
  .agents/skills/spotiarr-prisma/SKILL.md
  .atl/skill-registry.md
  .cursorrules
  .gitignore
  .windsurfrules
  AGENTS.md
  CONTRIBUTING.md
  skills-lock.json
Due: pnpm prettier --write --ignore-path .gitignore

feat: Add BullMQ and i18n skills documentation and update skill registry
  .agents/skills/spotiarr-bullmq/SKILL.md
  .agents/skills/spotiarr-i18n/SKILL.md
  .atl/skill-registry.md
  .editorconfig
  AGENTS.md
  skills-lock.json
Due: pnpm prettier --write --ignore-path .gitignore

fix: paginate album tracks and fetch album metadata before tracks
  apps/backend/src/infrastructure/external/spotify-album.client.ts
  apps/backend/src/infrastructure/external/spotify.types.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix: use album artist for folder grouping on compilations and recitals
  apps/backend/prisma/migrations/20260405000000_add_album_artist_to_track/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/services/track-post-processing.service.ts
  apps/backend/src/infrastructure/database/prisma-track.repository.ts
  apps/backend/src/infrastructure/external/spotify-track.mapper.ts
  apps/backend/src/infrastructure/services/file-system-track-path.service.ts
  apps/backend/src/infrastructure/services/metadata.service.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix: pass albumArtist through create-playlist use case to track service
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix: set COREPACK_HOME and chown prisma dirs for non-root PUID
  Dockerfile
  docker-entrypoint.sh
Due: none

fix: change SPOTIFY_MARKET default from ES to US
  apps/backend/src/constants/settings-metadata.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix: use --flat-playlist to skip format resolution in YouTube search
  apps/backend/src/infrastructure/external/youtube-search.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix: skip YouTube search if youtubeUrl already set on track
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix: paginate album tracks and fetch album metadata first for correct albumArtist
  apps/backend/src/infrastructure/external/spotify-album.client.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix: add pagination fields to SpotifyAlbumTracksResponse type
  apps/backend/src/infrastructure/external/spotify.types.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix: migrate to Spotify API February 2026 breaking changes
  apps/backend/src/domain/services/spotify.service.ts
  apps/backend/src/infrastructure/external/spotify-album.client.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.ts
  apps/backend/src/infrastructure/external/spotify-search.client.ts
  apps/backend/src/infrastructure/external/spotify-track.client.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
  apps/backend/src/infrastructure/external/spotify.types.ts
  apps/backend/src/presentation/controllers/artist.controller.ts
  apps/backend/src/presentation/controllers/auth.controller.ts
  apps/backend/src/presentation/controllers/search.controller.ts
  apps/frontend/src/components/molecules/ArtistHeader.tsx
  apps/frontend/src/hooks/controllers/useArtistDetailController.ts
  apps/frontend/src/hooks/queries/useSearchQuery.ts
  apps/frontend/src/views/ArtistDetail.tsx
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

perf: optimize Spotify data fetching to prevent rate limiting
  apps/backend/src/infrastructure/external/cache.types.ts
  apps/backend/src/infrastructure/external/index.ts
  apps/backend/src/infrastructure/external/promise-cache.ts
  apps/backend/src/infrastructure/external/rate-limiter.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/presentation/controllers/feed.controller.ts
  apps/frontend/src/hooks/queries/useFollowedArtistsQuery.ts
  apps/frontend/src/hooks/queries/useReleasesQuery.ts
  apps/frontend/src/utils/cache.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

Path conditions:
  pnpm --filter backend lint: any of: apps/backend/**/*.ts
  pnpm --filter frontend lint: any of: apps/frontend/**/*.ts
  pnpm --filter @spotiarr/shared lint: any of: packages/shared/**/*.ts
  pnpm prettier --write --ignore-path .gitignore: any of: **/*.{ts,tsx,css,json,md,yml,yaml}
