Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(ai): show AI playlist owner in the detail header
  apps/frontend/src/components/molecules/PlaylistMetadata.test.tsx
  apps/frontend/src/components/molecules/PlaylistMetadata.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(ai): add NVIDIA NIM provider and surface upstream auth errors (#166)
  AGENTS.md
  CONTRIBUTING.md
  README.md
  apps/backend/AGENTS.md
  apps/backend/src/application/ports/youtube.port.ts
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.ts
  apps/backend/src/application/use-cases/tracks/download-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/download-track.use-case.ts
  apps/backend/src/domain/entities/track.entity.ts
  apps/backend/src/domain/errors/ai-chat.error.ts
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.test.ts
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.ts
  apps/backend/src/infrastructure/external/youtube-download.service.ts
  apps/frontend/AGENTS.md
  apps/frontend/src/components/molecules/PlaylistMetadata.test.tsx
  apps/frontend/src/components/molecules/PlaylistMetadata.tsx
  apps/frontend/src/hooks/controllers/useChatController.test.ts
  apps/frontend/src/hooks/controllers/useChatController.ts
  apps/frontend/src/hooks/controllers/useHomeController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/utils/playlist.test.ts
  apps/frontend/src/utils/playlist.ts
  apps/frontend/src/views/Chat.tsx
  docs/ARCHITECTURE.en.md
  docs/ARCHITECTURE.md
  packages/shared/AGENTS.md
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(db): add AiChatMessage Prisma model and shared DTOs
  apps/backend/prisma/migrations/20260615000000_add_ai_chat_message/migration.sql
  apps/backend/prisma/schema.prisma
  packages/shared/src/index.ts
Due: pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(domain): add AiChatMessage entity and repository port
  apps/backend/src/domain/entities/ai-chat-message.entity.ts
  apps/backend/src/domain/repositories/ai-chat-message.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(infra): implement PrismaAiChatMessageRepository with tests
  apps/backend/src/infrastructure/database/__tests__/prisma-ai-chat-message.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-ai-chat-message.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(application): add AppendChatMessage, GetChatMessages, ClearChatMessages use-cases
  apps/backend/src/application/use-cases/ai/__tests__/ai-chat-message.use-cases.test.ts
  apps/backend/src/application/use-cases/ai/append-chat-message.use-case.ts
  apps/backend/src/application/use-cases/ai/clear-chat-messages.use-case.ts
  apps/backend/src/application/use-cases/ai/get-chat-messages.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(container): wire AiChatMessage repository and use-cases in DI container
  apps/backend/src/container.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai-chat): persist chat history — PR1 persistence foundation [1/3] (#168)
  apps/backend/prisma/migrations/20260615000000_add_ai_chat_message/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/use-cases/ai/__tests__/ai-chat-message.use-cases.test.ts
  apps/backend/src/application/use-cases/ai/append-chat-message.use-case.ts
  apps/backend/src/application/use-cases/ai/clear-chat-messages.use-case.ts
  apps/backend/src/application/use-cases/ai/get-chat-messages.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/domain/entities/ai-chat-message.entity.ts
  apps/backend/src/domain/repositories/ai-chat-message.repository.ts
  apps/backend/src/infrastructure/database/__tests__/prisma-ai-chat-message.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-ai-chat-message.repository.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(ai-chat): wire appendChatMessage into GenerateAiPlaylistUseCase
  apps/backend/src/application/use-cases/ai/__tests__/generate-ai-playlist.use-case.chat-append.test.ts
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.ts
  apps/backend/src/infrastructure/workers/ai-playlist.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai-chat): add getMessages/clearMessages controller, routes, and container wiring
  apps/backend/src/container.ts
  apps/backend/src/presentation/controllers/__tests__/ai.controller.chat.test.ts
  apps/backend/src/presentation/controllers/ai.controller.ts
  apps/backend/src/presentation/routes/ai.routes.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai-chat): persist chat history — PR2 generation wiring + API [2/3] (#169)
  apps/backend/src/application/use-cases/ai/__tests__/generate-ai-playlist.use-case.chat-append.test.ts
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/workers/ai-playlist.worker.ts
  apps/backend/src/presentation/controllers/__tests__/ai.controller.chat.test.ts
  apps/backend/src/presentation/controllers/ai.controller.ts
  apps/backend/src/presentation/routes/ai.routes.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add aiChatMessages query key and service methods
  apps/frontend/src/hooks/queryKeys.ts
  apps/frontend/src/services/aiChat.service.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add useChatMessagesQuery and useClearChatMessagesMutation hooks
  apps/frontend/src/hooks/mutations/useClearChatMessagesMutation.test.tsx
  apps/frontend/src/hooks/mutations/useClearChatMessagesMutation.ts
  apps/frontend/src/hooks/queries/useChatMessagesQuery.test.tsx
  apps/frontend/src/hooks/queries/useChatMessagesQuery.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): replace volatile useState transcript with server state in useChatController
  apps/frontend/src/hooks/controllers/useChatController.test.ts
  apps/frontend/src/hooks/controllers/useChatController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): render chat transcript with history, playlist links, and clear action
  apps/frontend/src/views/Chat.test.tsx
  apps/frontend/src/views/Chat.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): add aiChat i18n keys to en.json and es.json
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(frontend): satisfy typed i18n key overload in chat MessageBubble
  apps/frontend/src/views/Chat.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(ai-chat): persist chat history — PR3 frontend transcript [3/3] (#170)
  apps/frontend/src/hooks/controllers/useChatController.test.ts
  apps/frontend/src/hooks/controllers/useChatController.ts
  apps/frontend/src/hooks/mutations/useClearChatMessagesMutation.test.tsx
  apps/frontend/src/hooks/mutations/useClearChatMessagesMutation.ts
  apps/frontend/src/hooks/queries/useChatMessagesQuery.test.tsx
  apps/frontend/src/hooks/queries/useChatMessagesQuery.ts
  apps/frontend/src/hooks/queryKeys.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/services/aiChat.service.ts
  apps/frontend/src/views/Chat.test.tsx
  apps/frontend/src/views/Chat.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): make getChatMessagesUseCase and clearChatMessagesUseCase required in AiChatController
  apps/backend/src/presentation/controllers/ai.controller.test.ts
  apps/backend/src/presentation/controllers/ai.controller.ts
  apps/backend/src/presentation/routes/ai.routes.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): wrap Prisma calls in PrismaAiChatMessageRepository with AppError mapping
  apps/backend/src/infrastructure/database/__tests__/prisma-ai-chat-message.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-ai-chat-message.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): render stale playlist link as non-navigable element (R-VIEW-3)
  apps/frontend/src/views/Chat.test.tsx
  apps/frontend/src/views/Chat.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(e2e): mock ai chat messages + playlists list for chat view mount
  apps/frontend/tests/helpers/api-mocks.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): clear optimistic entry and surface error when mutateAsync rejects
  apps/frontend/src/hooks/controllers/useChatController.test.ts
  apps/frontend/src/hooks/controllers/useChatController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): make S-B-08 ordering assertion fail when orderBy is removed
  apps/backend/src/infrastructure/database/__tests__/prisma-ai-chat-message.repository.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): lift usePlaylistsQuery from MessageBubble to Chat and pass as props
  apps/frontend/src/views/Chat.test.tsx
  apps/frontend/src/views/Chat.tsx
Due: pnpm prettier --write --ignore-path .gitignore

fix(backend): remove dead contentKey/contentParams columns from AiChatMessage
  apps/backend/prisma/migrations/20260615000000_add_ai_chat_message/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/infrastructure/database/prisma-ai-chat-message.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): fire-and-forget user-message append to remove DB latency from critical path
  apps/backend/src/application/use-cases/ai/__tests__/generate-ai-playlist.use-case.chat-append.test.ts
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): add HTTP-level tests for GET and DELETE /api/ai/chat/messages
  apps/backend/src/presentation/routes/ai.routes.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): set staleTime 30s on useChatMessagesQuery to avoid refetch on every focus
  apps/frontend/src/hooks/queries/useChatMessagesQuery.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): list() fetches most-recent 500 then reverses for ascending output
  apps/backend/src/infrastructure/database/__tests__/prisma-ai-chat-message.repository.test.ts
  apps/backend/src/infrastructure/database/prisma-ai-chat-message.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): set stage to error on enqueue failure so error block renders
  apps/frontend/src/hooks/controllers/useChatController.test.ts
  apps/frontend/src/hooks/controllers/useChatController.ts
  apps/frontend/src/views/Chat.test.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): replace content-based dedup with UUID lifecycle reconciliation
  apps/frontend/src/hooks/controllers/useChatController.test.ts
  apps/frontend/src/hooks/controllers/useChatController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): assert S-B-11 user-append is truly fire-and-forget
  apps/backend/src/application/use-cases/ai/__tests__/generate-ai-playlist.use-case.chat-append.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): replace clock-skew optimistic reconciliation with dataUpdatedAt signal and add concurrent submit guard
  apps/frontend/src/hooks/controllers/useChatController.test.ts
  apps/frontend/src/hooks/controllers/useChatController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

docs: document server-side AI chat history persistence in README and architecture docs
  README.md
  docs/ARCHITECTURE.en.md
  docs/ARCHITECTURE.md
Due: pnpm prettier --write --ignore-path .gitignore

style(frontend): trim verbose comments in useChatController
  apps/frontend/src/hooks/controllers/useChatController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): polish AI Chat UI before release
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/Chat.test.tsx
  apps/frontend/src/views/Chat.tsx
Due: pnpm prettier --write --ignore-path .gitignore

perf(frontend): memoize MessageBubble to skip re-renders as chat history grows
  apps/frontend/src/views/Chat.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): add E2E coverage for AI Chat history, threading, clear, and link nav
  apps/frontend/tests/e2e/mocked/ai-chat.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): AI Chat UI polish before release (#173)
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/Chat.test.tsx
  apps/frontend/src/views/Chat.tsx
  apps/frontend/tests/e2e/mocked/ai-chat.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

Path conditions:
  pnpm --filter backend lint: any of: apps/backend/**/*.ts
  pnpm --filter frontend lint: any of: apps/frontend/**/*.ts
  pnpm --filter @spotiarr/shared lint: any of: packages/shared/**/*.ts
  pnpm prettier --write --ignore-path .gitignore: any of: **/*.{ts,tsx,css,json,md,yml,yaml}
