Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): add SpotifyFollowedArtistsService
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.test.ts
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): add SpotifyPlaylistLibraryService
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): add SpotifyArtistCatalogService
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.test.ts
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): convert SpotifyUserLibraryService into strangler facade
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): add SettingsPort for split spotify services
  apps/backend/src/application/ports/settings.port.ts
  apps/backend/src/application/services/settings.service.ts
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.ts
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): decouple auth and worker from spotify facade
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): wire spotifyServiceSync to sync user library
  apps/backend/src/container.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): invalidate user-library cache after token exchange
  apps/backend/src/infrastructure/external/spotify-auth.service.test.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): remove unused getBoolean from SettingsPort
  apps/backend/src/application/ports/settings.port.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): split spotify-user-library into specialised services (PR 2/3) (#34)
  apps/backend/src/application/ports/settings.port.ts
  apps/backend/src/application/services/settings.service.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.test.ts
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.test.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.ts
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.test.ts
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): compose feed and user-library ports in container
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
  apps/backend/src/infrastructure/jobs/catalog-sync.job.ts
  apps/backend/src/infrastructure/jobs/feed-sync.job.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): retarget cutover tests to ports and split services
  apps/backend/src/infrastructure/database/feed.repository.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.test.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.test.ts
  apps/backend/src/presentation/controllers/feed.controller.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): enforce infra database-external separation
  apps/backend/src/__tests__/architecture.test.ts
  apps/backend/src/infrastructure/database/feed-row-mappers.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(backend): R5 invariant also catches relative cross-layer imports
  apps/backend/src/__tests__/architecture.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): extract shared Deezer cover URL helper
  apps/backend/src/domain/utils/deezer-cover-url.test.ts
  apps/backend/src/domain/utils/deezer-cover-url.ts
  apps/backend/src/infrastructure/database/feed-row-mappers.ts
  apps/backend/src/infrastructure/external/providers/deezer/cover-url.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): cutover — delete feed.repository and spotify-user-library facades (PR 3/3) (#35)
  apps/backend/src/__tests__/architecture.test.ts
  apps/backend/src/container.ts
  apps/backend/src/domain/utils/deezer-cover-url.test.ts
  apps/backend/src/domain/utils/deezer-cover-url.ts
  apps/backend/src/infrastructure/database/feed-row-mappers.ts
  apps/backend/src/infrastructure/database/feed.repository.test.ts
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/external/providers/deezer/cover-url.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.test.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.test.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
  apps/backend/src/infrastructure/jobs/catalog-sync.job.ts
  apps/backend/src/infrastructure/jobs/feed-sync.job.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
  apps/backend/src/presentation/controllers/feed.controller.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): feed-sync-refactor — split god-files into bucketed repos and services (#36)
  apps/backend/src/__tests__/architecture.test.ts
  apps/backend/src/application/ports/feed-repository.port.ts
  apps/backend/src/application/ports/settings.port.ts
  apps/backend/src/application/services/feed-cache-eviction.service.test.ts
  apps/backend/src/application/services/feed-cache-eviction.service.ts
  apps/backend/src/application/services/settings.service.ts
  apps/backend/src/container.ts
  apps/backend/src/domain/utils/deezer-cover-url.test.ts
  apps/backend/src/domain/utils/deezer-cover-url.ts
  apps/backend/src/infrastructure/database/artist-album-cache.repository.test.ts
  apps/backend/src/infrastructure/database/artist-album-cache.repository.ts
  apps/backend/src/infrastructure/database/artist-release-cache.repository.test.ts
  apps/backend/src/infrastructure/database/artist-release-cache.repository.ts
  apps/backend/src/infrastructure/database/feed-cache-eviction.repository.test.ts
  apps/backend/src/infrastructure/database/feed-cache-eviction.repository.ts
  apps/backend/src/infrastructure/database/feed-row-mappers.test.ts
  apps/backend/src/infrastructure/database/feed-row-mappers.ts
  apps/backend/src/infrastructure/database/feed-sync-state.repository.test.ts
  apps/backend/src/infrastructure/database/feed-sync-state.repository.ts
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/database/followed-artist.repository.test.ts
  apps/backend/src/infrastructure/database/followed-artist.repository.ts
  apps/backend/src/infrastructure/external/providers/deezer/cover-url.ts
  apps/backend/src/infrastructure/external/release-feed.service.test.ts
  apps/backend/src/infrastructure/external/release-feed.service.ts
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.test.ts
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.test.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.ts
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.test.ts
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
  apps/backend/src/infrastructure/jobs/catalog-sync.job.ts
  apps/backend/src/infrastructure/jobs/feed-sync.job.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
  apps/backend/src/presentation/controllers/feed.controller.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.6.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

refactor(frontend): extract AlbumPageLayout from Playlist organism
  apps/frontend/src/components/molecules/AlbumPageLayout.test.tsx
  apps/frontend/src/components/molecules/AlbumPageLayout.tsx
  apps/frontend/src/components/organisms/Playlist.test.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor(frontend): extract AlbumPageLayout from Playlist organism (#37)
  apps/frontend/src/components/molecules/AlbumPageLayout.test.tsx
  apps/frontend/src/components/molecules/AlbumPageLayout.tsx
  apps/frontend/src/components/organisms/Playlist.test.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): redesign library cards and replace inline expand with grid
  apps/frontend/src/components/molecules/LibraryAlbumCard.tsx
  apps/frontend/src/components/molecules/LibraryAlbumGridCard.test.tsx
  apps/frontend/src/components/molecules/LibraryAlbumGridCard.tsx
  apps/frontend/src/components/molecules/LibraryArtistCard.test.tsx
  apps/frontend/src/components/molecules/LibraryArtistCard.tsx
  apps/frontend/src/components/organisms/LibraryAlbumList.test.tsx
  apps/frontend/src/components/organisms/LibraryAlbumList.tsx
  apps/frontend/src/components/organisms/LibraryArtistProfile.tsx
  apps/frontend/src/hooks/controllers/useLibraryArtistController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/LibraryArtist.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): restore VirtualGrid in library album list
  apps/frontend/src/components/organisms/LibraryAlbumList.test.tsx
  apps/frontend/src/components/organisms/LibraryAlbumList.tsx
  apps/frontend/src/hooks/controllers/useLibraryArtistController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): redesign library cards + grid (library-views-revamp 2/3) (#38)
  apps/frontend/src/components/molecules/LibraryAlbumCard.tsx
  apps/frontend/src/components/molecules/LibraryAlbumGridCard.test.tsx
  apps/frontend/src/components/molecules/LibraryAlbumGridCard.tsx
  apps/frontend/src/components/molecules/LibraryArtistCard.test.tsx
  apps/frontend/src/components/molecules/LibraryArtistCard.tsx
  apps/frontend/src/components/organisms/LibraryAlbumList.test.tsx
  apps/frontend/src/components/organisms/LibraryAlbumList.tsx
  apps/frontend/src/components/organisms/LibraryArtistProfile.tsx
  apps/frontend/src/hooks/controllers/useLibraryArtistController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/LibraryArtist.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add library album detail route and page
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/useLibraryArtistController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryArtistController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/routes/Routing.tsx
  apps/frontend/src/routes/routes.ts
  apps/frontend/src/views/LibraryAlbumDetail.test.tsx
  apps/frontend/src/views/LibraryAlbumDetail.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add library album detail route and page (#39)
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/useLibraryArtistController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryArtistController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/routes/Routing.tsx
  apps/frontend/src/routes/routes.ts
  apps/frontend/src/views/LibraryAlbumDetail.test.tsx
  apps/frontend/src/views/LibraryAlbumDetail.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(library): extract embedded artwork and polish album detail
  apps/backend/src/infrastructure/services/file-system-scanner.service.test.ts
  apps/backend/src/infrastructure/services/file-system-scanner.service.ts
  apps/backend/src/infrastructure/services/library-image.service.test.ts
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/LibraryAlbumDetail.test.tsx
  apps/frontend/src/views/LibraryAlbumDetail.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): serve cached library artwork from correct root
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/services/library-image.service.test.ts
  apps/backend/src/infrastructure/services/library-image.service.ts
  apps/backend/src/presentation/controllers/library.controller.ts
  apps/backend/src/presentation/routes/library.routes.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(library): stop using album cover as artist fallback
  apps/backend/src/infrastructure/services/file-system-scanner.service.test.ts
  apps/backend/src/infrastructure/services/file-system-scanner.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(library): extract embedded artwork and polish album detail (#40)
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/services/file-system-scanner.service.test.ts
  apps/backend/src/infrastructure/services/file-system-scanner.service.ts
  apps/backend/src/infrastructure/services/library-image.service.test.ts
  apps/backend/src/infrastructure/services/library-image.service.ts
  apps/backend/src/presentation/controllers/library.controller.ts
  apps/backend/src/presentation/routes/library.routes.test.ts
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/LibraryAlbumDetail.test.tsx
  apps/frontend/src/views/LibraryAlbumDetail.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): centralize artwork persistence for jellyfin assets
  apps/backend/src/application/ports/artwork-assets.port.ts
  apps/backend/src/application/ports/file-system.port.ts
  apps/backend/src/application/services/artwork.service.test.ts
  apps/backend/src/application/services/artwork.service.ts
  apps/backend/src/application/services/spotify.service.test.ts
  apps/backend/src/application/services/spotify.service.ts
  apps/backend/src/application/services/track-post-processing.service.test.ts
  apps/backend/src/application/services/track-post-processing.service.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/services/artwork-assets.service.test.ts
  apps/backend/src/infrastructure/services/artwork-assets.service.ts
  apps/backend/src/infrastructure/services/metadata.service.test.ts
  apps/backend/src/infrastructure/services/metadata.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): centralize artwork persistence for jellyfin assets (#42)
  apps/backend/src/application/ports/artwork-assets.port.ts
  apps/backend/src/application/ports/file-system.port.ts
  apps/backend/src/application/services/artwork.service.test.ts
  apps/backend/src/application/services/artwork.service.ts
  apps/backend/src/application/services/spotify.service.test.ts
  apps/backend/src/application/services/spotify.service.ts
  apps/backend/src/application/services/track-post-processing.service.test.ts
  apps/backend/src/application/services/track-post-processing.service.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/services/artwork-assets.service.test.ts
  apps/backend/src/infrastructure/services/artwork-assets.service.ts
  apps/backend/src/infrastructure/services/metadata.service.test.ts
  apps/backend/src/infrastructure/services/metadata.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): clarify spotifyUrl, previewUrl and trackUrl semantics
  apps/backend/src/application/services/artwork.service.test.ts
  apps/backend/src/application/services/artwork.service.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): clarify spotifyUrl, previewUrl and trackUrl semantics (#44)
  apps/backend/src/application/services/artwork.service.test.ts
  apps/backend/src/application/services/artwork.service.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): add local-first artwork backfill
  apps/backend/prisma/migrations/20260529070921_add_artwork_backfill_run/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/ports/artwork-backfill-queue.port.ts
  apps/backend/src/application/ports/artwork-backfill-repository.port.ts
  apps/backend/src/application/ports/artwork-backfill-sources.port.ts
  apps/backend/src/application/ports/file-system.port.ts
  apps/backend/src/application/use-cases/artwork-backfill/artwork-backfill-lifecycle.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/get-artwork-backfill-status.use-case.ts
  apps/backend/src/application/use-cases/artwork-backfill/pause-artwork-backfill.use-case.ts
  apps/backend/src/application/use-cases/artwork-backfill/process-artwork-backfill-batch.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/process-artwork-backfill-batch.use-case.ts
  apps/backend/src/application/use-cases/artwork-backfill/resume-artwork-backfill.use-case.ts
  apps/backend/src/application/use-cases/artwork-backfill/start-artwork-backfill.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/domain/artwork-backfill.types.ts
  apps/backend/src/index.ts
  apps/backend/src/infrastructure/database/artwork-backfill.repository.test.ts
  apps/backend/src/infrastructure/database/artwork-backfill.repository.ts
  apps/backend/src/infrastructure/external/spotify-artwork-source.service.ts
  apps/backend/src/infrastructure/messaging/bullmq-artwork-backfill-queue.service.ts
  apps/backend/src/infrastructure/services/cache-artwork-source.service.test.ts
  apps/backend/src/infrastructure/services/cache-artwork-source.service.ts
  apps/backend/src/infrastructure/services/embedded-artwork-source.service.ts
  apps/backend/src/infrastructure/services/file-system-artwork-source.service.test.ts
  apps/backend/src/infrastructure/services/file-system-artwork-source.service.ts
  apps/backend/src/infrastructure/services/noop-spotify-artwork-source.service.ts
  apps/backend/src/infrastructure/setup/queues.artwork-backfill.test.ts
  apps/backend/src/infrastructure/setup/queues.ts
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.test.ts
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.ts
  apps/backend/src/presentation/controllers/artwork-backfill.controller.test.ts
  apps/backend/src/presentation/controllers/artwork-backfill.controller.ts
  apps/backend/src/presentation/routes/library.routes.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): add local-first artwork backfill (#46)
  apps/backend/prisma/migrations/20260529070921_add_artwork_backfill_run/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/ports/artwork-backfill-queue.port.ts
  apps/backend/src/application/ports/artwork-backfill-repository.port.ts
  apps/backend/src/application/ports/artwork-backfill-sources.port.ts
  apps/backend/src/application/ports/file-system.port.ts
  apps/backend/src/application/use-cases/artwork-backfill/artwork-backfill-lifecycle.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/get-artwork-backfill-status.use-case.ts
  apps/backend/src/application/use-cases/artwork-backfill/pause-artwork-backfill.use-case.ts
  apps/backend/src/application/use-cases/artwork-backfill/process-artwork-backfill-batch.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/process-artwork-backfill-batch.use-case.ts
  apps/backend/src/application/use-cases/artwork-backfill/resume-artwork-backfill.use-case.ts
  apps/backend/src/application/use-cases/artwork-backfill/start-artwork-backfill.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/domain/artwork-backfill.types.ts
  apps/backend/src/index.ts
  apps/backend/src/infrastructure/database/artwork-backfill.repository.test.ts
  apps/backend/src/infrastructure/database/artwork-backfill.repository.ts
  apps/backend/src/infrastructure/external/spotify-artwork-source.service.ts
  apps/backend/src/infrastructure/messaging/bullmq-artwork-backfill-queue.service.ts
  apps/backend/src/infrastructure/services/cache-artwork-source.service.test.ts
  apps/backend/src/infrastructure/services/cache-artwork-source.service.ts
  apps/backend/src/infrastructure/services/embedded-artwork-source.service.ts
  apps/backend/src/infrastructure/services/file-system-artwork-source.service.test.ts
  apps/backend/src/infrastructure/services/file-system-artwork-source.service.ts
  apps/backend/src/infrastructure/services/noop-spotify-artwork-source.service.ts
  apps/backend/src/infrastructure/setup/queues.artwork-backfill.test.ts
  apps/backend/src/infrastructure/setup/queues.ts
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.test.ts
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.ts
  apps/backend/src/presentation/controllers/artwork-backfill.controller.test.ts
  apps/backend/src/presentation/controllers/artwork-backfill.controller.ts
  apps/backend/src/presentation/routes/library.routes.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(library): add scan modal for artwork backfill
  apps/backend/src/application/use-cases/artwork-backfill/get-artwork-backfill-status.use-case.ts
  apps/backend/src/application/use-cases/artwork-backfill/start-artwork-backfill.use-case.ts
  apps/frontend/src/components/organisms/ArtworkBackfillStatusIndicator.test.tsx
  apps/frontend/src/components/organisms/ArtworkBackfillStatusIndicator.tsx
  apps/frontend/src/components/organisms/ScanLibraryModal.test.tsx
  apps/frontend/src/components/organisms/ScanLibraryModal.tsx
  apps/frontend/src/hooks/controllers/useHomeController.test.tsx
  apps/frontend/src/hooks/controllers/useHomeController.ts
  apps/frontend/src/hooks/mutations/useStartArtworkBackfillMutation.ts
  apps/frontend/src/hooks/queries/useArtworkBackfillStatusQuery.ts
  apps/frontend/src/hooks/queryKeys.ts
  apps/frontend/src/hooks/useServerEvents.test.tsx
  apps/frontend/src/hooks/useServerEvents.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/services/artworkBackfill.service.ts
  apps/frontend/src/views/Home.tsx
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(library): refresh covers after backfill
  apps/frontend/src/components/organisms/ArtworkBackfillStatusIndicator.test.tsx
  apps/frontend/src/components/organisms/ArtworkBackfillStatusIndicator.tsx
  apps/frontend/src/hooks/useServerEvents.test.tsx
  apps/frontend/src/hooks/useServerEvents.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): backfill artwork for library-only artists
  apps/backend/src/application/ports/artwork-backfill-sources.port.ts
  apps/backend/src/application/use-cases/artwork-backfill/process-artwork-backfill-batch.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/process-artwork-backfill-batch.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/services/cache-artwork-source.service.test.ts
  apps/backend/src/infrastructure/services/cache-artwork-source.service.ts
  apps/backend/src/infrastructure/services/file-system-artwork-source.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): clear library cache after backfill
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.test.ts
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(library): add scan modal for artwork backfill (#48)
  apps/backend/src/application/ports/artwork-backfill-sources.port.ts
  apps/backend/src/application/use-cases/artwork-backfill/get-artwork-backfill-status.use-case.ts
  apps/backend/src/application/use-cases/artwork-backfill/process-artwork-backfill-batch.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/process-artwork-backfill-batch.use-case.ts
  apps/backend/src/application/use-cases/artwork-backfill/start-artwork-backfill.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/services/cache-artwork-source.service.test.ts
  apps/backend/src/infrastructure/services/cache-artwork-source.service.ts
  apps/backend/src/infrastructure/services/file-system-artwork-source.service.ts
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.test.ts
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.ts
  apps/frontend/src/components/organisms/ArtworkBackfillStatusIndicator.test.tsx
  apps/frontend/src/components/organisms/ArtworkBackfillStatusIndicator.tsx
  apps/frontend/src/components/organisms/ScanLibraryModal.test.tsx
  apps/frontend/src/components/organisms/ScanLibraryModal.tsx
  apps/frontend/src/hooks/controllers/useHomeController.test.tsx
  apps/frontend/src/hooks/controllers/useHomeController.ts
  apps/frontend/src/hooks/mutations/useStartArtworkBackfillMutation.ts
  apps/frontend/src/hooks/queries/useArtworkBackfillStatusQuery.ts
  apps/frontend/src/hooks/queryKeys.ts
  apps/frontend/src/hooks/useServerEvents.test.tsx
  apps/frontend/src/hooks/useServerEvents.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/services/artworkBackfill.service.ts
  apps/frontend/src/views/Home.tsx
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

Path conditions:
  pnpm --filter backend lint: any of: apps/backend/**/*.ts
  pnpm --filter frontend lint: any of: apps/frontend/**/*.ts
  pnpm --filter @spotiarr/shared lint: any of: packages/shared/**/*.ts
  pnpm prettier --write --ignore-path .gitignore: any of: **/*.{ts,tsx,css,json,md,yml,yaml}
