Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format, pnpm prettier --write --ignore-path .gitignore

feat: Implement internationalization for artist-related UI texts and discography filters by adding new translation keys.
  src/frontend/src/components/molecules/ArtistCard.tsx
  src/frontend/src/components/molecules/ArtistDiscographyFilters.tsx
  src/frontend/src/components/molecules/ArtistHeader.tsx
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/views/Artists.tsx
Due: pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

feat: localize AppHeader's URL input placeholder and download button text.
  src/frontend/src/components/layouts/AppHeader.tsx
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
Due: pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

feat: Add error and track status translations and apply them to the NotFound, RouteErrorBoundary, and TrackStatusIndicator components.
  src/frontend/src/components/errors/RouteErrorBoundary.tsx
  src/frontend/src/components/molecules/TrackStatusIndicator.tsx
  src/frontend/src/locales/en.json
  src/frontend/src/locales/es.json
  src/frontend/src/views/NotFound.tsx
Due: pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

refactor: improve i18n type safety by adding `i18next.d.ts` and refining translation key usage in components.
  src/frontend/src/components/layouts/Sidebar.tsx
  src/frontend/src/components/molecules/ArtistDiscographyFilters.tsx
  src/frontend/src/i18next.d.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Implement chat UI with improved input, message display, and scroll-to-bottom functionality.
  src/frontend/src/types/custom.d.ts
  src/frontend/src/types/i18next.d.ts
  src/frontend/src/types/vite-env.d.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Add type definitions for VITE_API_URL environment variable to `import.meta.env`.
  src/frontend/src/types/vite-env.d.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Configure `@` path alias for absolute imports in the frontend.
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat: Add Spotify token exchange and logout functionality to `spotify-auth.service` and refactor auth routes to use it.
  src/backend/src/application/services/settings.service.ts
  src/backend/src/infrastructure/external/spotify-auth.service.ts
  src/backend/src/presentation/routes/auth.routes.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

style: Improve responsive layout for SpotifyAuthCard elements and buttons.
  src/frontend/src/components/organisms/SpotifyAuthCard.tsx
Due: pnpm --filter frontend format

refactor: Standardize error handling by introducing a custom `AppError` class and integrating it across backend services and frontend error mapping.
  src/backend/src/application/services/settings.service.ts
  src/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  src/backend/src/application/use-cases/playlists/delete-playlist.use-case.ts
  src/backend/src/application/use-cases/playlists/retry-playlist-downloads.use-case.ts
  src/backend/src/application/use-cases/playlists/update-playlist.use-case.ts
  src/backend/src/application/use-cases/tracks/delete-track.use-case.ts
  src/backend/src/application/use-cases/tracks/download-track.use-case.ts
  src/backend/src/application/use-cases/tracks/retry-track-download.use-case.ts
  src/backend/src/domain/errors/app-error.ts
  src/backend/src/domain/helpers/spotify-url.helper.ts
  src/backend/src/domain/services/spotify.service.ts
  src/backend/src/infrastructure/external/spotify-auth.service.ts
  src/backend/src/infrastructure/external/spotify-catalog.service.ts
  src/backend/src/infrastructure/external/spotify-user-library.service.ts
  src/backend/src/infrastructure/external/youtube-download.service.ts
  src/backend/src/infrastructure/external/youtube-search.service.ts
  src/backend/src/infrastructure/services/metadata.service.ts
  src/backend/src/infrastructure/setup/environment.ts
  src/backend/src/infrastructure/setup/queues.ts
  src/backend/src/presentation/middleware/error-handler.ts
  src/backend/src/presentation/routes/artist.routes.ts
  src/backend/src/presentation/routes/auth.routes.ts
  src/backend/src/presentation/routes/feed.routes.ts
  src/frontend/src/components/molecules/SpotifyErrorState.tsx
  src/frontend/src/utils/spotify.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter backend format, pnpm --filter frontend format

feat: dynamically configure Vite server host and proxy using all environment variables and remove redundant comments from type definitions and Toast component.
  src/frontend/src/components/molecules/Toast.tsx
  src/frontend/src/types/i18next.d.ts
  src/frontend/src/types/vite-env.d.ts
  src/frontend/vite.config.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: migrate playlist fetching to a new React Query hook and update controller to use it.
  src/frontend/src/hooks/controllers/useMyPlaylistsController.ts
  src/frontend/src/hooks/queries/useMyPlaylistsQuery.ts
  src/frontend/src/hooks/queryKeys.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Add error handling utilities and type-safe Prisma JSON and enum conversions.
  src/backend/src/domain/services/spotify.service.ts
  src/backend/src/infrastructure/database/prisma-playlist.repository.ts
  src/backend/src/infrastructure/database/prisma-track.repository.ts
  src/backend/src/infrastructure/database/types.ts
  src/backend/src/infrastructure/services/file-system-m3u.service.ts
  src/backend/src/infrastructure/services/metadata.service.ts
  src/backend/src/infrastructure/utils/error.utils.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: standardize error message extraction using `getErrorMessage` utility across services and routes.
  src/backend/src/infrastructure/external/spotify-auth.service.ts
  src/backend/src/infrastructure/external/spotify-catalog.service.ts
  src/backend/src/infrastructure/external/spotify-user-library.service.ts
  src/backend/src/presentation/routes/events.routes.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: extract track post-processing logic into a dedicated service and simplify download use case.
  src/backend/src/application/services/track-post-processing.service.ts
  src/backend/src/application/use-cases/tracks/download-track.use-case.ts
  src/backend/src/container.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: Extract M3U generation from track post-processing and call it after a track's successful download.
  src/backend/src/application/services/track-post-processing.service.ts
  src/backend/src/application/use-cases/tracks/download-track.use-case.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: remove UtilsService by moving file path utilities to FileSystemTrackPathService
  src/backend/src/application/services/track-post-processing.service.ts
  src/backend/src/application/services/utils.service.ts
  src/backend/src/container.ts
  src/backend/src/infrastructure/services/file-system-track-path.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: introduce `playlistIndex` for consistent track ordering and file naming within playlists.
  src/backend/prisma/schema.prisma
  src/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  src/backend/src/container.ts
  src/backend/src/infrastructure/database/prisma-track.repository.ts
  src/backend/src/infrastructure/services/file-system-m3u.service.ts
  src/backend/src/infrastructure/services/file-system-track-path.service.ts
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter shared format

feat: Implement PUID/PGID user management, set default PUBLIC_HOST to 0.0.0.0, and simplify .dockerignore.
  .dockerignore
  Dockerfile
  docker-entrypoint.sh
Due: none

perf: selectively copy workspace build artifacts and dependencies in Dockerfile for optimized image size.
  Dockerfile
Due: none

feat: implement and run stuck track rescue logic at application startup
  src/backend/src/application/use-cases/tracks/rescue-stuck-tracks.use-case.ts
  src/backend/src/container.ts
  src/backend/src/domain/repositories/track.repository.ts
  src/backend/src/index.ts
  src/backend/src/infrastructure/database/prisma-track.repository.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Add PUID/PGID environment variables for Docker file permissions and include a 2025 audit report.
  .env.example
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

refactor: Remove `PUBLIC_HOST` in favor of a required `SPOTIFY_REDIRECT_URI` for base URL derivation and add an audit report.
  .env.example
  Dockerfile
  README.md
  src/backend/src/index.ts
  src/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm --filter backend format, pnpm prettier --write --ignore-path .gitignore

docs: add 2025 audit report and refine environment variable documentation in CONTRIBUTING.md
  CONTRIBUTING.md
Due: pnpm prettier --write --ignore-path .gitignore

feat: Add 2025 audit report and document advanced Redis configuration options.
  .env.example
  CONTRIBUTING.md
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: Add 2025 audit report and update Prisma dependency versions.
  pnpm-lock.yaml
  src/backend/package.json
Due: pnpm prettier --write --ignore-path .gitignore

feat: Add 2025 audit report and update pnpm lock file.
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-path .gitignore

fix(docker): resolve prisma sqlite json errors and build issues
  .gitignore
  Dockerfile
  docker-entrypoint.sh
  pnpm-lock.yaml
  src/backend/package.json
  src/backend/prisma/migrations/20251211123151_add_missing_columns/migration.sql
  src/backend/prisma/migrations/migration_lock.toml
  src/backend/prisma/schema.prisma
  src/backend/src/infrastructure/database/types.ts
Due: pnpm --filter backend lint, pnpm --filter backend format, pnpm prettier --write --ignore-path .gitignore

feat: enhance server startup console output with detailed URLs and HTTPS information
  src/backend/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: implement cascade loading for environment variables based on NODE_ENV
  .env.example
  src/backend/src/infrastructure/setup/env.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Add `DOWNLOADS` environment variable for Docker volume mapping and update `SPOTIFY_REDIRECT_URI` examples.
  .env.example
  README.md
  docker-compose.yml
Due: pnpm prettier --write --ignore-path .gitignore

chore: remove node_modules from recursive chown operation in docker entrypoint script.
  docker-entrypoint.sh
Due: none

feat: add linux-musl-openssl-3.0.x to Prisma client binary targets
  src/backend/prisma/schema.prisma
Due: none

chore: Set file ownership to node:node for copied files in Dockerfile.
  Dockerfile
Due: none

feat: Remove HTTPS support and self-signed certificate generation, defaulting to HTTP-only operation.
  Dockerfile
  docker-entrypoint.sh
  src/backend/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: add Traefik reverse proxy service and configure spotiarr for dynamic routing.
  docker-compose.yml
Due: pnpm prettier --write --ignore-path .gitignore

chore: remove port 8080 mapping from docker-compose configuration.
  docker-compose.yml
Due: pnpm prettier --write --ignore-path .gitignore

docs: update Spotify redirect URI instructions for Traefik and add DATABASE_URL configuration.
  .env.example
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

Path conditions:
  pnpm --filter backend lint: any of: src/backend/**/*.ts
  pnpm --filter frontend lint: any of: src/frontend/**/*.ts
  pnpm --filter shared lint: any of: src/shared/**/*.ts
  pnpm --filter backend format: any of: src/backend/src/**/*.{ts,json}
  pnpm --filter frontend format: any of: src/frontend/src/**/*.{ts,tsx,css,json}
  pnpm --filter shared format: any of: src/shared/src/**/*.{ts,json}
  pnpm prettier --write --ignore-path .gitignore: any of: *.{json,md,yml,yaml}
