Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format, pnpm prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "src/backend/**/*.ts": ["pnpm --filter backend lint"],
  "src/frontend/**/*.ts": ["pnpm --filter frontend lint"],
  "src/shared/**/*.ts": ["pnpm --filter shared lint"],
  "src/backend/src/**/*.{ts,json}": ["pnpm --filter backend format"],
  "src/frontend/src/**/*.{ts,tsx,css,json}": ["pnpm --filter frontend format"],
  "src/shared/src/**/*.{ts,json}": ["pnpm --filter shared format"],
  "*.{json,md,yml,yaml}": ["pnpm prettier --write --ignore-path .gitignore"]
}

feat: add "Buy Me a Coffee" and GitHub release URLs, and implement a collapsed state for the `AppFooter` component.
  src/frontend/src/components/layouts/AppFooter.tsx
  src/frontend/src/components/layouts/Sidebar.tsx
  src/frontend/src/constants/version.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: relocate constants to dedicated config files for better organization
  src/frontend/src/app/App.tsx
  src/frontend/src/components/layouts/AppFooter.tsx
  src/frontend/src/components/layouts/BottomNavigation.tsx
  src/frontend/src/components/layouts/Sidebar.tsx
  src/frontend/src/config/links.ts
  src/frontend/src/config/navigation.ts
  src/frontend/src/config/version.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

style: Add `whitespace-nowrap` and `overflow-hidden` to footer and sidebar elements.
  src/frontend/src/components/layouts/AppFooter.tsx
  src/frontend/src/components/layouts/Sidebar.tsx
Due: pnpm --filter frontend format

style: Add fade-in animations to sidebar text and refine padding for collapsed items.
  src/frontend/src/components/layouts/Sidebar.tsx
Due: pnpm --filter frontend format

Style: Reorder Tailwind classes and remove `md:top-0` from sticky header in Artists view.
  src/frontend/src/views/Artists.tsx
Due: pnpm --filter frontend format

refactor: narrow main layout transition property to margin-left
  src/frontend/src/components/layouts/AppLayout.tsx
Due: pnpm --filter frontend format

chore: Bump version to 0.1.1
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

build: Add `--break-glass` flag to `apk add` commands for package installations.
  Dockerfile
Due: none

fix: workaround for busybox trigger error in ARM64 QEMU builds
  Dockerfile
Due: none

fix: remove trigger directory to prevent ARM64 QEMU build errors
  Dockerfile
Due: none

fix: use --force-broken-world flag for ARM64 builds
  Dockerfile
Due: none

fix: verify package installation despite trigger errors on ARM64
  Dockerfile
Due: none

ci: temporarily disable ARM64 builds due to QEMU segfault
  .github/workflows/docker-publish.yml
Due: pnpm prettier --write --ignore-path .gitignore

ci: add QEMU setup to fix ARM64 build segfaults
  .github/workflows/docker-publish.yml
Due: pnpm prettier --write --ignore-path .gitignore

perf: Optimize virtual list and grid rendering by memoizing item content with `useCallback` and adding `overscan` to Virtuoso components.
  src/frontend/src/components/molecules/VirtualGrid.tsx
  src/frontend/src/components/molecules/VirtualList.tsx
Due: pnpm --filter frontend format

feat: Add functionality to fetch and display user's Spotify playlists.
  src/backend/src/application/services/playlist.service.ts
  src/backend/src/application/use-cases/playlists/get-my-playlists.use-case.ts
  src/backend/src/container.ts
  src/backend/src/infrastructure/external/spotify-api.service.ts
  src/backend/src/infrastructure/external/spotify.service.ts
  src/backend/src/presentation/routes/playlist.routes.ts
  src/frontend/src/components/molecules/SpotifyPlaylistCard.tsx
  src/frontend/src/components/organisms/SpotifyPlaylistList.tsx
  src/frontend/src/config/navigation.ts
  src/frontend/src/hooks/controllers/useMyPlaylistsController.ts
  src/frontend/src/routes/Routing.tsx
  src/frontend/src/routes/routes.ts
  src/frontend/src/services/playlist.service.ts
  src/frontend/src/views/MyPlaylists.tsx
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format

feat: Add `faListUl` icon to the frontend icon set.
  src/frontend/src/icons.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Add mobile settings link to header and filter mobile bottom navigation items.
  src/frontend/src/components/layouts/AppHeader.tsx
  src/frontend/src/components/layouts/BottomNavigation.tsx
  src/frontend/src/config/navigation.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Add mobile-only history link to app header.
  src/frontend/src/components/layouts/AppHeader.tsx
Due: pnpm --filter frontend format

docs: Add application views section to README.
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: Add interface screenshots and updated setup instructions to README and relax build requirements
  README.md
  assets/screenshots/dashboard.png
  assets/screenshots/mobile.png
  assets/screenshots/settings.png
  src/frontend/src/index.tsx
Due: pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

chore: enable React Query Devtools
  src/frontend/src/index.tsx
Due: pnpm --filter frontend format

feat: Add new interface screenshots and update README to display them within a collapsible section.
  README.md
  assets/screenshots/artists.png
  assets/screenshots/history.png
  assets/screenshots/playlist.png
  assets/screenshots/releases.png
Due: pnpm prettier --write --ignore-path .gitignore

refactor: update `CONTRIBUTING.md` to detail the new backend Clean Architecture/DDD structure and minor frontend directory changes.
  CONTRIBUTING.md
Due: pnpm prettier --write --ignore-path .gitignore

chore: bump version to 0.1.2
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

docs: add comprehensive frontend and backend architecture documentation to CONTRIBUTING.md
  CONTRIBUTING.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: add initial CHANGELOG.md file following Keep a Changelog format.
  CHANGELOG.md
Due: pnpm prettier --write --ignore-path .gitignore

feat: add standard-version for release management
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-path .gitignore

feat: add commitlint with conventional config and husky hook
  .husky/commit-msg
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-path .gitignore

chore: update multiple dependencies across backend, frontend, and shared configurations
  package.json
  pnpm-lock.yaml
  src/backend/package.json
  src/eslint-config/package.json
  src/frontend/package.json
Due: pnpm prettier --write --ignore-path .gitignore

chore: update prisma to version 6.19.0
  pnpm-lock.yaml
  src/backend/package.json
Due: pnpm prettier --write --ignore-path .gitignore

docs: add Conventional Commit guidelines
  COMMIT_CONVENTION.md
Due: pnpm prettier --write --ignore-path .gitignore

feat: upgrade to tailwind css v4 consolidating configuration and integrating with vite
  pnpm-lock.yaml
  src/frontend/package.json
  src/frontend/postcss.config.js
  src/frontend/src/index.css
  src/frontend/tailwind.config.js
  src/frontend/vite.config.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

chore: Remove commitlint configuration, dependencies, and documentation.
  .husky/commit-msg
  COMMIT_CONVENTION.md
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-path .gitignore

feat: integrate custom fonts into the application stylesheet
  src/frontend/src/index.css
Due: pnpm --filter frontend format

chore: upgrade Tailwind CSS to v4 and relocate `@tailwindcss/vite` to devDependencies.
  pnpm-lock.yaml
  src/frontend/package.json
Due: pnpm prettier --write --ignore-path .gitignore

ci: automate structured changelog generation based on commits
  .github/workflows/docker-publish.yml
Due: pnpm prettier --write --ignore-path .gitignore

ci: separate docker build and github release workflows
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
Due: pnpm prettier --write --ignore-path .gitignore

ci: externalize release configuration and improve template
  .github/release-config.json
  .github/workflows/release.yml
Due: pnpm prettier --write --ignore-path .gitignore

feat: Add clickable owner URL to Spotify playlist cards.
  src/backend/src/infrastructure/external/spotify-api.service.ts
  src/frontend/src/components/molecules/SpotifyPlaylistCard.tsx
  src/frontend/src/components/organisms/SpotifyPlaylistList.tsx
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format
