Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format, pnpm prettier --write --ignore-path .gitignore

feat: refactor track management to use a Track entity with state transition methods
  src/backend/src/application/use-cases/tracks/create-track.use-case.ts
  src/backend/src/application/use-cases/tracks/download-track.use-case.ts
  src/backend/src/application/use-cases/tracks/get-tracks.use-case.ts
  src/backend/src/application/use-cases/tracks/retry-track-download.use-case.ts
  src/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
  src/backend/src/domain/entities/track.entity.ts
  src/backend/src/domain/interfaces/track.repository.ts
  src/backend/src/infrastructure/database/prisma-track.repository.ts
  src/backend/src/infrastructure/setup/prisma.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: introduce Playlist domain entity and update services and repositories to use it.
  src/backend/src/application/services/playlist.service.ts
  src/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  src/backend/src/domain/entities/playlist.entity.ts
  src/backend/src/domain/interfaces/playlist.repository.ts
  src/backend/src/infrastructure/database/prisma-playlist.repository.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: rename repository interfaces to use `*-repository.interface` suffix and update related imports.
  src/backend/src/application/services/playlist.service.ts
  src/backend/src/application/services/track.service.ts
  src/backend/src/application/use-cases/history/history.use-cases.ts
  src/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  src/backend/src/application/use-cases/settings/settings.use-cases.ts
  src/backend/src/application/use-cases/tracks/create-track.use-case.ts
  src/backend/src/application/use-cases/tracks/delete-track.use-case.ts
  src/backend/src/application/use-cases/tracks/download-track.use-case.ts
  src/backend/src/application/use-cases/tracks/get-tracks.use-case.ts
  src/backend/src/application/use-cases/tracks/retry-track-download.use-case.ts
  src/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
  src/backend/src/domain/interfaces/history-repository.interface.ts
  src/backend/src/domain/interfaces/playlist-repository.interface.ts
  src/backend/src/domain/interfaces/settings-repository.interface.ts
  src/backend/src/domain/interfaces/track-repository.interface.ts
  src/backend/src/infrastructure/database/prisma-history.repository.ts
  src/backend/src/infrastructure/database/prisma-playlist.repository.ts
  src/backend/src/infrastructure/database/prisma-settings.repository.ts
  src/backend/src/infrastructure/database/prisma-track.repository.ts
  src/backend/src/presentation/routes/history.routes.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: update repository import paths from interfaces to
  src/backend/src/application/services/playlist.service.ts
  src/backend/src/application/services/track.service.ts
  src/backend/src/application/use-cases/history/history.use-cases.ts
  src/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  src/backend/src/application/use-cases/settings/settings.use-cases.ts
  src/backend/src/application/use-cases/tracks/create-track.use-case.ts
  src/backend/src/application/use-cases/tracks/delete-track.use-case.ts
  src/backend/src/application/use-cases/tracks/download-track.use-case.ts
  src/backend/src/application/use-cases/tracks/get-tracks.use-case.ts
  src/backend/src/application/use-cases/tracks/retry-track-download.use-case.ts
  src/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
  src/backend/src/domain/repositories/history.repository.ts
  src/backend/src/domain/repositories/playlist.repository.ts
  src/backend/src/domain/repositories/settings.repository.ts
  src/backend/src/domain/repositories/track.repository.ts
  src/backend/src/infrastructure/database/prisma-history.repository.ts
  src/backend/src/infrastructure/database/prisma-playlist.repository.ts
  src/backend/src/infrastructure/database/prisma-settings.repository.ts
  src/backend/src/infrastructure/database/prisma-track.repository.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: Standardize service imports and paths, and clean up code comments.
  src/backend/src/application/services/playlist.service.ts
  src/backend/src/application/services/track.service.ts
  src/backend/src/application/use-cases/history/history.use-cases.ts
  src/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  src/backend/src/application/use-cases/tracks/create-track.use-case.ts
  src/backend/src/application/use-cases/tracks/download-track.use-case.ts
  src/backend/src/application/use-cases/tracks/retry-track-download.use-case.ts
  src/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
  src/backend/src/container.ts
  src/backend/src/domain/entities/playlist.entity.ts
  src/backend/src/domain/entities/track.entity.ts
  src/backend/src/domain/services/track-queue.service.ts
  src/backend/src/infrastructure/database/prisma-settings.repository.ts
  src/backend/src/infrastructure/external/spotify.service.ts
  src/backend/src/infrastructure/messaging/bullmq-track-queue.service.ts
  src/backend/src/infrastructure/services/file-system-m3u.service.ts
  src/backend/src/infrastructure/services/file-system-track-path.service.ts
  src/backend/src/infrastructure/setup/env.ts
  src/backend/src/presentation/routes/index.ts
  src/backend/src/types/spotify.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

Refactor
  src/backend/src/application/services/playlist.service.ts
  src/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.ts
  src/backend/src/application/use-cases/playlists/get-system-status.use-case.ts
  src/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
  src/backend/src/domain/entities/playlist.entity.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: Implement dependency injection for services and introduce dedicated track update and query use cases.
  src/backend/src/application/services/settings.service.ts
  src/backend/src/application/services/track.service.ts
  src/backend/src/application/use-cases/tracks/get-tracks.use-case.ts
  src/backend/src/application/use-cases/tracks/update-track.use-case.ts
  src/backend/src/container.ts
  src/backend/src/infrastructure/services/file-system-m3u.service.ts
  src/backend/src/infrastructure/services/file-system-track-path.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: introduce dedicated use cases for playlist CRUD and retry operations, and refactor playlist service to utilize them
  src/backend/src/application/services/playlist.service.ts
  src/backend/src/application/use-cases/playlists/delete-playlist.use-case.ts
  src/backend/src/application/use-cases/playlists/get-playlists.use-case.ts
  src/backend/src/application/use-cases/playlists/retry-playlist-downloads.use-case.ts
  src/backend/src/application/use-cases/playlists/update-playlist.use-case.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: rename FileSystemM3uService to FileSystemFileSystemM3uService.
  src/backend/src/application/services/track.service.ts
  src/backend/src/application/use-cases/tracks/download-track.use-case.ts
  src/backend/src/container.ts
  src/backend/src/infrastructure/services/file-system-m3u.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: improve dependency injection for Spotify and Youtube services and rename FileSystemFileSystemM3uService to FileSystemM3uService.
  src/backend/src/application/services/track.service.ts
  src/backend/src/application/use-cases/tracks/download-track.use-case.ts
  src/backend/src/container.ts
  src/backend/src/infrastructure/external/spotify-api.service.ts
  src/backend/src/infrastructure/external/youtube.service.ts
  src/backend/src/infrastructure/services/file-system-m3u.service.ts
  src/backend/src/presentation/routes/artist.routes.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: Unify header search and download button into a single responsive component and adjust logo display.
  src/frontend/src/components/organisms/Header.tsx
Due: pnpm --filter frontend format

feat: Implement a global toast notification system and integrate it for settings save feedback.
  src/frontend/src/app/App.tsx
  src/frontend/src/components/atoms/Toast.tsx
  src/frontend/src/components/molecules/ToastContainer.tsx
  src/frontend/src/contexts/ToastContext.tsx
  src/frontend/src/hooks/controllers/useSettingsController.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: replace `yt-search` library with `yt-dlp` for YouTube video searching.
  pnpm-lock.yaml
  src/backend/package.json
  src/backend/src/infrastructure/external/youtube.service.ts
  src/backend/src/types/yt-search.d.ts
Due: pnpm --filter backend lint, pnpm --filter backend format, pnpm prettier --write --ignore-path .gitignore

feat: Wrap status icons in `<span>` elements with `title` attributes and `cursor` styles.
  src/frontend/src/components/molecules/TrackStatusIndicator.tsx
Due: pnpm --filter frontend format

fix: add permissions for github release
  .github/workflows/docker-publish.yml
Due: pnpm prettier --write --ignore-path .gitignore

refactor: Inject use cases into `PlaylistService` and `TrackService`, removing their direct instantiation and many internal dependencies.
  src/backend/src/application/services/playlist.service.ts
  src/backend/src/application/services/track.service.ts
  src/backend/src/container.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: Split settings use case into distinct `GetSettingsUseCase` and `UpdateSettingUseCase` classes.
  src/backend/src/application/use-cases/settings/get-settings.use-case.ts
  src/backend/src/application/use-cases/settings/settings.use-cases.ts
  src/backend/src/application/use-cases/settings/update-setting.use-case.ts
  src/backend/src/container.ts
  src/backend/src/presentation/routes/settings.routes.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: split YoutubeService into dedicated search, download, and metadata services.
  src/backend/src/application/use-cases/tracks/download-track.use-case.ts
  src/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
  src/backend/src/container.ts
  src/backend/src/infrastructure/external/youtube-download.service.ts
  src/backend/src/infrastructure/external/youtube-search.service.ts
  src/backend/src/infrastructure/external/youtube.service.ts
  src/backend/src/infrastructure/services/metadata.service.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: move playlist creation validation and event emission from `PlaylistService` to `CreatePlaylistUseCase`.
  src/backend/src/application/services/playlist.service.ts
  src/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  src/backend/src/container.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

refactor: remove FileSystemTrackPathService dependency and related methods from TrackService.
  src/backend/src/application/services/track.service.ts
  src/backend/src/container.ts
Due: pnpm --filter backend lint, pnpm --filter backend format

feat: Allow `formatRelativeDate` to omit time and update `AlbumCard` display accordingly.
  src/frontend/src/components/organisms/AlbumCard.tsx
  src/frontend/src/utils/date.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: Import `ArtistRelease` and use `EMPTY_ALBUMS` constant for initial artist discography.
  src/frontend/src/hooks/controllers/useArtistDetailController.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: replace Header component with AppHeader
  src/frontend/src/components/layouts/AppLayout.tsx
  src/frontend/src/components/organisms/AppHeader.tsx
Due: pnpm --filter frontend format

feat: Make app version clickable and link to its GitHub release page.
  src/frontend/src/components/molecules/AppFooter.tsx
Due: pnpm --filter frontend format

refactor: introduce `cn` utility using `clsx` and `tailwind-merge` to standardize class name handling in components.
  pnpm-lock.yaml
  src/frontend/package.json
  src/frontend/src/components/atoms/Button.tsx
  src/frontend/src/components/atoms/Skeleton.tsx
  src/frontend/src/components/molecules/AppFooter.tsx
  src/frontend/src/utils/cn.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format, pnpm prettier --write --ignore-path .gitignore

feat: Introduce `ApiError` and `FollowedArtist` types, and refactor services for robust error handling and query parameter management.
  src/frontend/src/services/artist.service.ts
  src/frontend/src/services/httpClient.ts
  src/frontend/src/services/playlist.service.ts
  src/frontend/src/types/artist.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: Move FollowedArtist interface to shared module and update all usages.
  src/backend/src/infrastructure/external/spotify-api.service.ts
  src/frontend/src/services/artist.service.ts
  src/frontend/src/types/artist.ts
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format

refactor: move NormalizedTrack type definition from backend to shared library
  src/backend/src/infrastructure/external/spotify-api.service.ts
  src/backend/src/types/spotify.ts
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter shared format

refactor: Consolidate frontend playlist and track types into `types/index.ts` and update all references.
  src/backend/src/infrastructure/external/spotify.service.ts
  src/frontend/src/components/molecules/PlaylistMetadata.tsx
  src/frontend/src/components/organisms/HistoryList.tsx
  src/frontend/src/components/organisms/Playlist.tsx
  src/frontend/src/components/organisms/PlaylistCard.tsx
  src/frontend/src/components/organisms/PlaylistList.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/components/organisms/TrackList.tsx
  src/frontend/src/hooks/controllers/useArtistDetailController.ts
  src/frontend/src/hooks/controllers/useHistoryController.ts
  src/frontend/src/hooks/controllers/usePlaylistController.ts
  src/frontend/src/hooks/controllers/usePlaylistPreviewController.ts
  src/frontend/src/hooks/mutations/useDeletePlaylistMutation.ts
  src/frontend/src/hooks/mutations/useDeleteTrackMutation.ts
  src/frontend/src/hooks/mutations/useRetryTrackMutation.ts
  src/frontend/src/hooks/mutations/useUpdatePlaylistMutation.ts
  src/frontend/src/hooks/queries/usePlaylistsQuery.ts
  src/frontend/src/hooks/queries/useTracksQuery.ts
  src/frontend/src/services/playlist.service.ts
  src/frontend/src/services/track.service.ts
  src/frontend/src/types/index.ts
  src/frontend/src/types/track.ts
  src/frontend/src/utils/playlist.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter backend format, pnpm --filter frontend format

refactor: extract playlist status display into new `PlaylistStatusBadge` component and use it in `PlaylistCard`
  src/frontend/src/components/molecules/PlaylistStatusBadge.tsx
  src/frontend/src/components/organisms/PlaylistCard.tsx
Due: pnpm --filter frontend format

feat: Add AppImage component and refactor image display across UI cards and headers.
  src/frontend/src/components/atoms/AppImage.tsx
  src/frontend/src/components/molecules/PlaylistHeader.tsx
  src/frontend/src/components/organisms/AlbumCard.tsx
  src/frontend/src/components/organisms/ArtistCard.tsx
  src/frontend/src/components/organisms/PlaylistCard.tsx
  src/frontend/src/components/organisms/TrackList.tsx
Due: pnpm --filter frontend format

refactor: rename AppImage component to Image
  src/frontend/src/components/atoms/Image.tsx
  src/frontend/src/components/molecules/PlaylistHeader.tsx
  src/frontend/src/components/organisms/AlbumCard.tsx
  src/frontend/src/components/organisms/ArtistCard.tsx
  src/frontend/src/components/organisms/PlaylistCard.tsx
  src/frontend/src/components/organisms/TrackList.tsx
Due: pnpm --filter frontend format

refactor: Update component import paths to reflect new layout structure.
  src/frontend/src/components/layouts/AppFooter.tsx
  src/frontend/src/components/layouts/AppHeader.tsx
  src/frontend/src/components/layouts/AppLayout.tsx
  src/frontend/src/components/layouts/BottomNavigation.tsx
  src/frontend/src/components/layouts/Sidebar.tsx
  src/frontend/src/components/molecules/PageHeader.tsx
  src/frontend/src/components/molecules/PlaylistActions.tsx
  src/frontend/src/components/molecules/SpotifyLinkButton.tsx
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/src/views/Artists.tsx
  src/frontend/src/views/History.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/Releases.tsx
  src/frontend/src/views/Settings.tsx
Due: pnpm --filter frontend format

refactor: adjust component import paths due to reorganization between molecules and organisms.
  src/frontend/src/app/App.tsx
  src/frontend/src/components/molecules/AlbumCard.tsx
  src/frontend/src/components/molecules/ArtistCard.tsx
  src/frontend/src/components/molecules/PlaylistCard.tsx
  src/frontend/src/components/molecules/Toast.tsx
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/components/organisms/ArtistList.tsx
  src/frontend/src/components/organisms/ConfirmModal.tsx
  src/frontend/src/components/organisms/Playlist.tsx
  src/frontend/src/components/organisms/PlaylistList.tsx
  src/frontend/src/components/organisms/ReleasesList.tsx
  src/frontend/src/components/organisms/ToastContainer.tsx
  src/frontend/src/views/Home.tsx
Due: pnpm --filter frontend format

refactor: move SpotifyAuthCard from molecules to organisms
  src/frontend/src/components/organisms/SpotifyAuthCard.tsx
  src/frontend/src/views/Settings.tsx
Due: pnpm --filter frontend format

refactor: migrate to `cn` utility for conditional class names and enhance loading/empty states.
  src/frontend/src/components/atoms/Loading.tsx
  src/frontend/src/components/layouts/AppHeader.tsx
  src/frontend/src/components/layouts/Sidebar.tsx
  src/frontend/src/components/molecules/EmptyState.tsx
  src/frontend/src/components/molecules/PageHeader.tsx
  src/frontend/src/components/molecules/PlaylistActions.tsx
  src/frontend/src/components/molecules/SearchInput.tsx
  src/frontend/src/components/molecules/SpotifyErrorState.tsx
  src/frontend/src/components/molecules/SpotifyLinkButton.tsx
Due: pnpm --filter frontend format

refactor: Migrate `useSpotifyAuth` and `useArtistDiscography` to controller hooks and add Spotify icon to auth button.
  src/frontend/src/components/organisms/SpotifyAuthCard.tsx
  src/frontend/src/hooks/controllers/useArtistDetailController.ts
  src/frontend/src/hooks/controllers/useArtistDiscographyController.ts
  src/frontend/src/hooks/controllers/useSpotifyAuthController.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: Simplify `memo` usage by removing custom comparison functions from list item components.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/components/organisms/HistoryList.tsx
  src/frontend/src/components/organisms/PlaylistList.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/components/organisms/ReleasesList.tsx
  src/frontend/src/components/organisms/TrackList.tsx
Due: pnpm --filter frontend format

refactor: Remove `useUIStore` and update `BottomNavigation` to use `cn` for class merging.
  src/frontend/src/components/layouts/BottomNavigation.tsx
  src/frontend/src/store/useUIStore.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: Implement a collapsible sidebar with persistent state and dynamic layout adjustments.
  src/frontend/src/components/layouts/AppLayout.tsx
  src/frontend/src/components/layouts/Sidebar.tsx
  src/frontend/src/icons.ts
  src/frontend/src/store/usePreferencesStore.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

Path conditions:
  pnpm --filter backend lint: any of: src/backend/**/*.ts
  pnpm --filter frontend lint: any of: src/frontend/**/*.ts
  pnpm --filter shared lint: any of: src/shared/**/*.ts
  pnpm --filter backend format: any of: src/backend/src/**/*.{ts,json}
  pnpm --filter frontend format: any of: src/frontend/src/**/*.{ts,tsx,css,json}
  pnpm --filter shared format: any of: src/shared/src/**/*.{ts,json}
  pnpm prettier --write --ignore-path .gitignore: any of: *.{json,md,yml,yaml}
