Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format, pnpm prettier --write --ignore-path .gitignore

feat: Add confirmation modal before clearing completed playlists in the Home view.
  src/frontend/src/views/Home.tsx
Due: pnpm --filter frontend format

feat: Display only the primary artist for album type playlists.
  src/frontend/src/components/molecules/PlaylistMetadata.tsx
Due: pnpm --filter frontend format

feat: Introduce `PlaylistList` component to render playlist cards, passing playlist stats as props, and define `PlaylistStats` interface.
  src/frontend/src/components/organisms/PlaylistCard.tsx
  src/frontend/src/components/organisms/PlaylistList.tsx
  src/frontend/src/hooks/usePlaylistStats.ts
  src/frontend/src/views/Home.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: introduce and apply Tailwind CSS custom color variables for UI elements.
  src/frontend/src/components/molecules/ConfirmModal.tsx
  src/frontend/src/components/organisms/PlaylistCard.tsx
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/tailwind.config.js
Due: pnpm --filter frontend format

feat: Display downloading state for releases with a spinner and updated button styles.
  src/frontend/src/components/molecules/ReleaseItem.tsx
  src/frontend/src/components/organisms/ReleaseCard.tsx
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend format

refactor: extract release list rendering and status logic into new ReleasesList component.
  src/frontend/src/components/molecules/ReleaseItem.tsx
  src/frontend/src/components/organisms/ReleasesList.tsx
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend format

refactor: replace HistoryItem molecule with HistoryList organism and clean up hook comments.
  src/frontend/src/components/molecules/HistoryItem.tsx
  src/frontend/src/components/organisms/HistoryList.tsx
  src/frontend/src/views/History.tsx
Due: pnpm --filter frontend format

refactor: remove unnecessary comments from track status and playlist stats hooks.
  src/frontend/src/hooks/usePlaylistStats.ts
  src/frontend/src/hooks/useTrackStatus.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: enhance playlist track list with a sticky header and inline track item component.
  src/frontend/src/components/molecules/ArtistList.tsx
  src/frontend/src/components/molecules/PlaylistTrackItem.tsx
  src/frontend/src/components/molecules/TrackList.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
Due: pnpm --filter frontend format

feat: Make track retry functionality optional and display an error icon when not provided.
  src/frontend/src/components/molecules/TrackStatusIndicator.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
  src/frontend/src/components/templates/PlaylistView.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

refactor: remove `PlaylistTableHeader` and update `PlaylistHeader` styling for improved responsiveness.
  src/frontend/src/components/templates/PlaylistView.tsx
Due: pnpm --filter frontend format

refactor: remove PlaylistTableHeader component and update PlaylistHeader styling for responsiveness.
  src/frontend/src/components/atoms/PlaylistTableHeader.tsx
  src/frontend/src/components/molecules/PlaylistHeader.tsx
Due: pnpm --filter frontend format

feat: Add row click navigation to playlist details/preview, prevent propagation for internal links/buttons, and use a Button component for downloading status.
  src/frontend/src/components/organisms/HistoryList.tsx
Due: pnpm --filter frontend format

feat: adjust responsive visibility of track number and download button based on screen size and hover state
  src/frontend/src/components/molecules/TrackStatusIndicator.tsx
Due: pnpm --filter frontend format

feat: Introduce `useArtistStatus` and `usePlaylistTitle` hooks, and a generic `SettingItem` component, extracting and centralizing related UI logic.
  src/frontend/src/components/molecules/SettingItem.tsx
  src/frontend/src/views/Settings.tsx
Due: pnpm --filter frontend format

feat: Extract artist status and playlist title determination into new custom hooks.
  src/frontend/src/components/templates/PlaylistView.tsx
  src/frontend/src/hooks/useArtistStatus.ts
  src/frontend/src/hooks/usePlaylistTitle.ts
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend lint, pnpm --filter frontend format

feat: move playlist preview error handling from `PlaylistView` to `PlaylistPreview`.
  src/frontend/src/components/templates/PlaylistView.tsx
  src/frontend/src/views/PlaylistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

feat: add bulk deletion for completed playlists
  src/backend/src/domain/playlists/playlist.use-cases.ts
  src/backend/src/routes/playlist.routes.ts
  src/backend/src/services/playlist.service.ts
  src/frontend/src/hooks/mutations/useDeleteCompletedPlaylistsMutation.ts
  src/frontend/src/services/api.ts
  src/frontend/src/views/Home.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter backend format, pnpm --filter frontend format

perf: Add react-virtuoso and refactor HistoryList to use a virtualized list.
  pnpm-lock.yaml
  src/frontend/package.json
Due: pnpm prettier --write --ignore-path .gitignore

perf: virtualize history list items with react-virtuoso
  src/frontend/src/components/organisms/HistoryList.tsx
Due: pnpm --filter frontend format

feat: replace manual track list rendering with `react-virtuoso` for virtualized scrolling
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
Due: pnpm --filter frontend format

refactor: Replace static grid rendering with `VirtuosoGrid` in playlist and release lists.
  src/frontend/src/components/organisms/PlaylistList.tsx
  src/frontend/src/components/organisms/ReleasesList.tsx
Due: pnpm --filter frontend format

refactor: remove track count display from history list and items
  src/frontend/src/components/organisms/HistoryList.tsx
Due: pnpm --filter frontend format

refactor: Reorder hook and variable declarations for consistency in view components.
  src/frontend/src/views/ArtistDetail.tsx
  src/frontend/src/views/Artists.tsx
  src/frontend/src/views/Home.tsx
  src/frontend/src/views/PlaylistDetail.tsx
  src/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter frontend format

refactor: centralize TrackStatusIndicator rendering logic and adjust track index display.
  src/frontend/src/components/molecules/TrackList.tsx
  src/frontend/src/components/molecules/TrackStatusIndicator.tsx
Due: pnpm --filter frontend format

feat: Introduce `useGridColumns` hook for responsive grid layouts and refactor `ReleasesList` and `PlaylistList` to use `Virtuoso` for dynamic column rendering.
  src/frontend/src/components/organisms/PlaylistList.tsx
  src/frontend/src/components/organisms/ReleasesList.tsx
  src/frontend/src/hooks/useGridColumns.ts
Due: pnpm --filter frontend lint, pnpm --filter frontend format

refactor: extract virtual grid into new component and use in ReleasesList and PlaylistList.
  src/frontend/src/components/molecules/VirtualGrid.tsx
  src/frontend/src/components/organisms/PlaylistList.tsx
  src/frontend/src/components/organisms/ReleasesList.tsx
Due: pnpm --filter frontend format

feat: introduce a reusable `VirtualList` component and integrate it into `HistoryList` and `PlaylistTracksList`.
  src/frontend/src/components/molecules/VirtualList.tsx
  src/frontend/src/components/organisms/HistoryList.tsx
  src/frontend/src/components/organisms/PlaylistTracksList.tsx
Due: pnpm --filter frontend format

refactor: reclassify TrackList as an organism component.
  src/frontend/src/components/organisms/TrackList.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

refactor: move ConnectSpotifyPrompt component from organisms to molecules
  src/frontend/src/components/molecules/ConnectSpotifyPrompt.tsx
  src/frontend/src/views/Artists.tsx
  src/frontend/src/views/Releases.tsx
Due: pnpm --filter frontend format

refactor: extract playlist metadata rendering logic into type-specific components and a lookup map
  src/frontend/src/components/molecules/PlaylistMetadata.tsx
Due: pnpm --filter frontend format

feat: Add artist discography with filtering to the artist detail page.
  src/backend/src/routes/artist.routes.ts
  src/backend/src/services/spotify-api.service.ts
  src/frontend/src/views/ArtistDetail.tsx
  src/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter shared lint, pnpm --filter backend format, pnpm --filter frontend format, pnpm --filter shared format

refactor: extract artist discography display and filtering into a dedicated component.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

feat: display empty state messages when artist discography or filtered releases are unavailable
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

feat: Enhance artist discography to show album download status and navigate to playlist preview on click.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

refactor: derive album download status from unified playlist state
  src/frontend/src/components/organisms/ArtistDiscography.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend format

feat: Add clickable Spotify links to artist headers and improve album artist ID assignment accuracy.
  src/backend/src/services/spotify-api.service.ts
  src/frontend/src/components/molecules/ArtistHeader.tsx
  src/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter backend lint, pnpm --filter backend format, pnpm --filter frontend format

refactor: Remove explicit height and vertical overflow styling from PlaylistView container.
  src/frontend/src/components/templates/PlaylistView.tsx
Due: pnpm --filter frontend format

style: Apply Tailwind background and text colors to body.
  src/frontend/src/index.css
Due: pnpm --filter frontend format

refactor: replace native button with custom Button component in ArtistDiscography.
  src/frontend/src/components/organisms/ArtistDiscography.tsx
Due: pnpm --filter frontend format

Path conditions:
  pnpm --filter backend lint: any of: src/backend/**/*.ts
  pnpm --filter frontend lint: any of: src/frontend/**/*.ts
  pnpm --filter shared lint: any of: src/shared/**/*.ts
  pnpm --filter backend format: any of: src/backend/src/**/*.{ts,json}
  pnpm --filter frontend format: any of: src/frontend/src/**/*.{ts,tsx,css,json}
  pnpm --filter shared format: any of: src/shared/src/**/*.{ts,json}
  pnpm prettier --write --ignore-path .gitignore: any of: *.{json,md,yml,yaml}
