Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): pass tracks fallback to executeAlbumTrackRef metadata (#78)
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.11.3
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): playlists section + search bar in Home
  apps/frontend/src/components/molecules/HomePlaylistCard.test.tsx
  apps/frontend/src/components/molecules/HomePlaylistCard.tsx
  apps/frontend/src/components/organisms/HomePlaylistList.test.tsx
  apps/frontend/src/components/organisms/HomePlaylistList.tsx
  apps/frontend/src/hooks/controllers/useHomeController.test.tsx
  apps/frontend/src/hooks/controllers/useHomeController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/Home.test.tsx
  apps/frontend/src/views/Home.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): playlists section + search bar in Home (#79)
  apps/frontend/src/components/molecules/HomePlaylistCard.test.tsx
  apps/frontend/src/components/molecules/HomePlaylistCard.tsx
  apps/frontend/src/components/organisms/HomePlaylistList.test.tsx
  apps/frontend/src/components/organisms/HomePlaylistList.tsx
  apps/frontend/src/hooks/controllers/useHomeController.test.tsx
  apps/frontend/src/hooks/controllers/useHomeController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/Home.test.tsx
  apps/frontend/src/views/Home.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(playlists): persist parent Spotify playlist when downloading a single preview track
  apps/backend/prisma/migrations/20260605000000_add_playlist_spotify_url_unique/README.md
  apps/backend/prisma/migrations/20260605000000_add_playlist_spotify_url_unique/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/services/spotify.service.test.ts
  apps/backend/src/application/services/spotify.service.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/infrastructure/database/prisma-errors.test.ts
  apps/backend/src/infrastructure/database/prisma-errors.ts
  apps/backend/src/presentation/routes/schemas/playlist.schema.test.ts
  apps/backend/src/presentation/routes/schemas/playlist.schema.ts
  apps/frontend/src/hooks/controllers/usePlaylistController.test.tsx
  apps/frontend/src/hooks/controllers/usePlaylistController.ts
  apps/frontend/src/utils/spotify.test.ts
  apps/frontend/src/utils/spotify.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(playlists): persist parent Spotify playlist when downloading a single preview track (#80)
  apps/backend/prisma/migrations/20260605000000_add_playlist_spotify_url_unique/README.md
  apps/backend/prisma/migrations/20260605000000_add_playlist_spotify_url_unique/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/services/spotify.service.test.ts
  apps/backend/src/application/services/spotify.service.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/infrastructure/database/prisma-errors.test.ts
  apps/backend/src/infrastructure/database/prisma-errors.ts
  apps/backend/src/presentation/routes/schemas/playlist.schema.test.ts
  apps/backend/src/presentation/routes/schemas/playlist.schema.ts
  apps/frontend/src/hooks/controllers/usePlaylistController.test.tsx
  apps/frontend/src/hooks/controllers/usePlaylistController.ts
  apps/frontend/src/utils/spotify.test.ts
  apps/frontend/src/utils/spotify.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add library/managed mode to PlaylistDetail view
  apps/frontend/src/components/molecules/PlaylistActions.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/hooks/controllers/useHomeController.test.tsx
  apps/frontend/src/hooks/controllers/useHomeController.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.test.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add library/managed mode to PlaylistDetail view (#81)
  apps/frontend/src/components/molecules/PlaylistActions.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/hooks/controllers/useHomeController.test.tsx
  apps/frontend/src/hooks/controllers/useHomeController.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.test.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.12.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): polish library album/playlist detail views
  apps/frontend/src/components/molecules/PlaylistDescription.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/LibraryAlbumDetail.test.tsx
  apps/frontend/src/views/LibraryAlbumDetail.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): drop orphan bullet separator when metadata slot is empty
  apps/frontend/src/components/molecules/PlaylistHeader.tsx
Due: pnpm prettier --write --ignore-path .gitignore

fix(frontend): route partially-downloaded saved playlists to preview from MyPlaylists
  apps/frontend/src/hooks/controllers/useMyPlaylistsController.test.ts
  apps/frontend/src/hooks/controllers/useMyPlaylistsController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): always route MyPlaylists clicks to PlaylistPreview
  apps/frontend/src/hooks/controllers/useMyPlaylistsController.test.ts
  apps/frontend/src/hooks/controllers/useMyPlaylistsController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): polish library album/playlist detail views (#82)
  apps/frontend/src/components/molecules/PlaylistDescription.tsx
  apps/frontend/src/components/molecules/PlaylistHeader.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/useMyPlaylistsController.test.ts
  apps/frontend/src/hooks/controllers/useMyPlaylistsController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/LibraryAlbumDetail.test.tsx
  apps/frontend/src/views/LibraryAlbumDetail.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.12.1
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): add Playwright E2E smoke tests
  .github/workflows/ci.yml
  .gitignore
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
  apps/frontend/tests/base-page.ts
  apps/frontend/tests/helpers/api-mocks.ts
  apps/frontend/tests/not-found/not-found-page.ts
  apps/frontend/tests/not-found/not-found.md
  apps/frontend/tests/not-found/not-found.spec.ts
  apps/frontend/tests/runtime/playwright-runtime.test.ts
  apps/frontend/tests/runtime/playwright-runtime.ts
  apps/frontend/tests/search/search-page.ts
  apps/frontend/tests/search/search.md
  apps/frontend/tests/search/search.spec.ts
  apps/frontend/vitest.playwright.config.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

ci(frontend): split Playwright E2E checks
  .github/workflows/ci.yml
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): add Playwright E2E smoke tests (#83)
  .github/workflows/ci.yml
  .gitignore
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
  apps/frontend/tests/base-page.ts
  apps/frontend/tests/helpers/api-mocks.ts
  apps/frontend/tests/not-found/not-found-page.ts
  apps/frontend/tests/not-found/not-found.md
  apps/frontend/tests/not-found/not-found.spec.ts
  apps/frontend/tests/runtime/playwright-runtime.test.ts
  apps/frontend/tests/runtime/playwright-runtime.ts
  apps/frontend/tests/search/search-page.ts
  apps/frontend/tests/search/search.md
  apps/frontend/tests/search/search.spec.ts
  apps/frontend/vitest.playwright.config.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.12.2
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

feat(player): add usePlayerStore Zustand store with TDD tests
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(player): add GlobalPlayerBar organism with audio wiring and tests
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(layout): mount GlobalPlayerBar in AppLayout with padding cascade fix
  apps/frontend/src/components/layouts/AppLayout.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
Due: pnpm prettier --write --ignore-path .gitignore

fix(player): prev() seeks to 0 when currentTime>3s; Space key toggles play on region
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(player): strip narration comments from store and bar
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(player): global player bar foundation (slice 1/2) (#84)
  apps/frontend/src/components/layouts/AppLayout.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(player): remove page-local audio elements from detail views
  apps/frontend/src/views/LibraryAlbumDetail.test.tsx
  apps/frontend/src/views/LibraryAlbumDetail.tsx
  apps/frontend/src/views/PlaylistDetail.test.tsx
  apps/frontend/src/views/PlaylistDetail.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor(player): strip narration comments from controllers
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(player): delete useLocalTrackPlaybackController
  apps/frontend/src/hooks/controllers/useLocalTrackPlaybackController.test.tsx
  apps/frontend/src/hooks/controllers/useLocalTrackPlaybackController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(player): refactor controllers to dispatch to usePlayerStore
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.test.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(player): extract usePlayerQueueBinding from controllers
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/hooks/usePlayerQueueBinding.test.ts
  apps/frontend/src/hooks/usePlayerQueueBinding.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(player): wire controllers to global player bar (slice 2/2) (#85)
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/useLocalTrackPlaybackController.test.tsx
  apps/frontend/src/hooks/controllers/useLocalTrackPlaybackController.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.test.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/hooks/usePlayerQueueBinding.test.ts
  apps/frontend/src/hooks/usePlayerQueueBinding.ts
  apps/frontend/src/views/LibraryAlbumDetail.test.tsx
  apps/frontend/src/views/LibraryAlbumDetail.tsx
  apps/frontend/src/views/PlaylistDetail.test.tsx
  apps/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

docs(skills): document usePlayerStore as approved 3rd store
  skills/spotiarr-zustand/SKILL.md
Due: pnpm prettier --write --ignore-path .gitignore

fix(skills): mark oxlint, playwright-best-practices, vitest as local in lock
  skills-lock.json
Due: pnpm prettier --write --ignore-path .gitignore

feat(player): populate artworkUrl in playlist queue items (Win 1)
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.test.tsx
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.test.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(player): add contextPath and clickable TrackMeta navigation (Win 2)
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.test.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(player): add Media Session API integration (Win 3)
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/hooks/useMediaSession.test.ts
  apps/frontend/src/hooks/useMediaSession.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

perf(player): memoize mediaSessionActions to avoid handler re-registration
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor(player): strip narration comments from useMediaSession
  apps/frontend/src/hooks/useMediaSession.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

Path conditions:
  pnpm --filter backend lint: any of: apps/backend/**/*.ts
  pnpm --filter frontend lint: any of: apps/frontend/**/*.ts
  pnpm --filter @spotiarr/shared lint: any of: packages/shared/**/*.ts
  pnpm prettier --write --ignore-path .gitignore: any of: **/*.{ts,tsx,css,json,md,yml,yaml}
