Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "apps/backend/**/*.ts": ["pnpm --filter backend lint"],
  "apps/frontend/**/*.ts": ["pnpm --filter frontend lint"],
  "packages/shared/**/*.ts": ["pnpm --filter @spotiarr/shared lint"],
  "**/*.{ts,tsx,css,json,md,yml,yaml}": [
    "pnpm prettier --write --ignore-path .gitignore"
  ]
}

chore(lint): add pre-commit guard for JSDoc and JSX section-divider comments
  .husky/pre-commit
  apps/frontend/src/components/molecules/SpotifyLinkButton.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(e2e): add player happy-path spec for transport, fullscreen, and queue reorder
  apps/frontend/tests/e2e/mocked/player.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(molecules): address TransportControls spec deviations W1 and W2
  apps/frontend/src/components/molecules/TransportControls/TransportControls.test.tsx
  apps/frontend/src/components/molecules/TransportControls/TransportControls.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/components/organisms/NowPlayingFullscreen.tsx
Due: pnpm prettier --write --ignore-path .gitignore

fix(now-playing): make fullscreen overlay opaque
  apps/frontend/src/components/organisms/NowPlayingFullscreen.tsx
Due: pnpm prettier --write --ignore-path .gitignore

chore(player): post-roadmap cleanup and hardening (#101)
  .husky/pre-commit
  apps/frontend/src/components/molecules/SpotifyLinkButton.tsx
  apps/frontend/src/components/molecules/TransportControls/TransportControls.test.tsx
  apps/frontend/src/components/molecules/TransportControls/TransportControls.tsx
  apps/frontend/src/components/molecules/TransportControls/index.ts
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/components/organisms/NowPlayingFullscreen.test.tsx
  apps/frontend/src/components/organisms/NowPlayingFullscreen.tsx
  apps/frontend/src/hooks/useFocusReturnOnClose.test.ts
  apps/frontend/src/hooks/useFocusReturnOnClose.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/tests/e2e/mocked/player.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): cover core mocked routes
  apps/frontend/tests/e2e/mocked/activity.spec.ts
  apps/frontend/tests/e2e/mocked/artists.spec.ts
  apps/frontend/tests/e2e/mocked/home.spec.ts
  apps/frontend/tests/e2e/mocked/playlists.spec.ts
  apps/frontend/tests/helpers/api-mocks.ts
  apps/frontend/tests/runtime/api-mocks.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): add e2e route coverage foundation
  apps/frontend/tests/e2e/mocked/not-found.spec.ts
  apps/frontend/tests/e2e/mocked/search.spec.ts
  apps/frontend/tests/fixtures/test.ts
  apps/frontend/tests/helpers/api-mocks.ts
  apps/frontend/tests/not-found/not-found.spec.ts
  apps/frontend/tests/runtime/api-mocks.test.ts
  apps/frontend/tests/search/search.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): stabilize player e2e locator
  apps/frontend/tests/e2e/mocked/player.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): cover detail views and player
  apps/frontend/tests/e2e/mocked/history.spec.ts
  apps/frontend/tests/e2e/mocked/library.spec.ts
  apps/frontend/tests/e2e/mocked/player.spec.ts
  apps/frontend/tests/helpers/api-mocks.ts
  apps/frontend/tests/runtime/api-mocks.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): finish e2e route coverage
  apps/frontend/playwright.config.ts
  apps/frontend/tests/base-page.ts
  apps/frontend/tests/e2e/mocked/activity.spec.ts
  apps/frontend/tests/e2e/mocked/artists.spec.ts
  apps/frontend/tests/e2e/mocked/not-found.spec.ts
  apps/frontend/tests/e2e/mocked/playlists.spec.ts
  apps/frontend/tests/e2e/mocked/search.spec.ts
  apps/frontend/tests/e2e/real/library-history.spec.ts
  apps/frontend/tests/fixtures/test.ts
  apps/frontend/tests/helpers/real-stack.ts
  apps/frontend/tests/not-found/not-found-page.ts
  apps/frontend/tests/runtime/playwright-runtime.test.ts
  apps/frontend/tests/runtime/playwright-runtime.ts
  apps/frontend/tests/search/search-page.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): stabilize player route e2e
  apps/frontend/tests/e2e/mocked/player.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): expand e2e route coverage (#102)
  apps/frontend/playwright.config.ts
  apps/frontend/tests/base-page.ts
  apps/frontend/tests/e2e/mocked/activity.spec.ts
  apps/frontend/tests/e2e/mocked/artists.spec.ts
  apps/frontend/tests/e2e/mocked/history.spec.ts
  apps/frontend/tests/e2e/mocked/home.spec.ts
  apps/frontend/tests/e2e/mocked/library.spec.ts
  apps/frontend/tests/e2e/mocked/not-found.spec.ts
  apps/frontend/tests/e2e/mocked/player.spec.ts
  apps/frontend/tests/e2e/mocked/playlists.spec.ts
  apps/frontend/tests/e2e/mocked/search.spec.ts
  apps/frontend/tests/e2e/real/library-history.spec.ts
  apps/frontend/tests/fixtures/test.ts
  apps/frontend/tests/helpers/api-mocks.ts
  apps/frontend/tests/helpers/real-stack.ts
  apps/frontend/tests/not-found/not-found-page.ts
  apps/frontend/tests/not-found/not-found.spec.ts
  apps/frontend/tests/runtime/api-mocks.test.ts
  apps/frontend/tests/runtime/playwright-runtime.test.ts
  apps/frontend/tests/runtime/playwright-runtime.ts
  apps/frontend/tests/search/search-page.ts
  apps/frontend/tests/search/search.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(player): issue #103 follow-ups (items 1-3)
  apps/frontend/src/components/molecules/TransportControls/TransportControls.test.tsx
  apps/frontend/src/components/molecules/TransportControls/TransportControls.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/store/playerUISlice.test.ts
  apps/frontend/src/store/playerUISlice.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(player): issue #103 follow-ups (items 1-3) (#104)
  apps/frontend/src/components/molecules/TransportControls/TransportControls.test.tsx
  apps/frontend/src/components/molecules/TransportControls/TransportControls.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/store/playerUISlice.test.ts
  apps/frontend/src/store/playerUISlice.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.13.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(player): mobile viewport, overflow, body scroll, current-row highlight
  CHANGELOG.md
  apps/frontend/src/components/layouts/AppLayout.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/components/organisms/NowPlayingFullscreen.test.tsx
  apps/frontend/src/components/organisms/NowPlayingFullscreen.tsx
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(backend): initialize env before auth wiring
  apps/backend/src/app.ts
  apps/backend/src/container.ts
  apps/backend/src/index.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/infrastructure/jobs/catalog-sync.job.ts
  apps/backend/src/infrastructure/jobs/feed-sync.job.ts
  apps/backend/src/infrastructure/jobs/index.ts
  apps/backend/src/infrastructure/messaging/app-event-bus.ts
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.create.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
  apps/backend/src/infrastructure/workers/track-download.worker.ts
  apps/backend/src/infrastructure/workers/track-search.worker.ts
  apps/backend/src/presentation/routes/artist.routes.ts
  apps/backend/src/presentation/routes/auth.routes.ts
  apps/backend/src/presentation/routes/events.routes.test.ts
  apps/backend/src/presentation/routes/events.routes.ts
  apps/backend/src/presentation/routes/external-url.routes.ts
  apps/backend/src/presentation/routes/feed.routes.ts
  apps/backend/src/presentation/routes/health.routes.ts
  apps/backend/src/presentation/routes/history.routes.ts
  apps/backend/src/presentation/routes/index.ts
  apps/backend/src/presentation/routes/library.routes.ts
  apps/backend/src/presentation/routes/playlist.routes.ts
  apps/backend/src/presentation/routes/search.routes.ts
  apps/backend/src/presentation/routes/settings.routes.ts
  apps/backend/src/presentation/routes/track.routes.ts
  apps/backend/src/testing/playwright-real-stack-server.ts
  apps/frontend/tests/helpers/real-stack.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): initialize env before auth wiring (#109)
  apps/backend/src/app.ts
  apps/backend/src/container.ts
  apps/backend/src/index.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/infrastructure/jobs/catalog-sync.job.ts
  apps/backend/src/infrastructure/jobs/feed-sync.job.ts
  apps/backend/src/infrastructure/jobs/index.ts
  apps/backend/src/infrastructure/messaging/app-event-bus.ts
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.create.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
  apps/backend/src/infrastructure/workers/track-download.worker.ts
  apps/backend/src/infrastructure/workers/track-search.worker.ts
  apps/backend/src/presentation/routes/artist.routes.ts
  apps/backend/src/presentation/routes/auth.routes.ts
  apps/backend/src/presentation/routes/events.routes.test.ts
  apps/backend/src/presentation/routes/events.routes.ts
  apps/backend/src/presentation/routes/external-url.routes.ts
  apps/backend/src/presentation/routes/feed.routes.ts
  apps/backend/src/presentation/routes/health.routes.ts
  apps/backend/src/presentation/routes/history.routes.ts
  apps/backend/src/presentation/routes/index.ts
  apps/backend/src/presentation/routes/library.routes.ts
  apps/backend/src/presentation/routes/playlist.routes.ts
  apps/backend/src/presentation/routes/search.routes.ts
  apps/backend/src/presentation/routes/settings.routes.ts
  apps/backend/src/presentation/routes/track.routes.ts
  apps/backend/src/testing/playwright-real-stack-server.ts
  apps/frontend/tests/helpers/real-stack.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.13.2
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

refactor(frontend): remove redundant Activity view
  apps/frontend/src/components/layouts/Sidebar.tsx
  apps/frontend/src/config/navigation.ts
  apps/frontend/src/hooks/controllers/useActivityController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/routes/Routing.tsx
  apps/frontend/src/routes/routes.ts
  apps/frontend/src/views/Activity.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor: remove orphaned files and backend endpoints
  apps/backend/src/application/services/playlist.service.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/delete-playlist.use-case.ts
  apps/backend/src/presentation/controllers/playlist.controller.ts
  apps/backend/src/presentation/routes/playlist.routes.ts
  apps/frontend/src/components/organisms/PlaylistList.tsx
  apps/frontend/src/hooks/mutations/useDeleteCompletedPlaylistsMutation.ts
  apps/frontend/src/services/playlist.service.ts
  apps/frontend/tests/e2e/mocked/activity.spec.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

docs(frontend): remove references to deleted Activity view in AGENTS.md
  apps/frontend/AGENTS.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: remove Activity view references and update visual tests
  README.md
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  assets/screenshots/activity.png
Due: pnpm prettier --write --ignore-path .gitignore

style(frontend): remove redundant History icon from mobile AppHeader
  apps/frontend/src/components/layouts/AppHeader.tsx
Due: pnpm prettier --write --ignore-path .gitignore

style(frontend): restore original history icon (clock) in navigation
  apps/frontend/src/config/navigation.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): remove redundant Activity view (#110)
  README.md
  apps/backend/src/application/services/playlist.service.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/delete-playlist.use-case.ts
  apps/backend/src/presentation/controllers/playlist.controller.ts
  apps/backend/src/presentation/routes/playlist.routes.ts
  apps/frontend/AGENTS.md
  apps/frontend/src/components/layouts/AppHeader.tsx
  apps/frontend/src/components/layouts/Sidebar.tsx
  apps/frontend/src/components/organisms/PlaylistList.tsx
  apps/frontend/src/config/navigation.ts
  apps/frontend/src/hooks/controllers/useActivityController.ts
  apps/frontend/src/hooks/mutations/useDeleteCompletedPlaylistsMutation.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/routes/Routing.tsx
  apps/frontend/src/routes/routes.ts
  apps/frontend/src/services/playlist.service.ts
  apps/frontend/src/views/Activity.tsx
  apps/frontend/tests/e2e/mocked/activity.spec.ts
  assets/screenshots/activity.png
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.14.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

docs: update README, architecture, and screenshots for v1.14.0
  README.md
  assets/screenshots/artist-profile.png
  assets/screenshots/artists.png
  assets/screenshots/dashboard.png
  assets/screenshots/history.png
  assets/screenshots/mobile.png
  assets/screenshots/player-desktop.png
  assets/screenshots/player-mobile.png
  assets/screenshots/playlist.png
  assets/screenshots/releases.png
  assets/screenshots/search.png
  assets/screenshots/settings.png
  docs/ARCHITECTURE.en.md
  docs/ARCHITECTURE.md
  docs/SPOTIFY-API-MIGRATION.md
Due: pnpm prettier --write --ignore-path .gitignore

docs: update README, architecture, and screenshots for v1.14.0 (#112)
  README.md
  assets/screenshots/artist-profile.png
  assets/screenshots/artists.png
  assets/screenshots/dashboard.png
  assets/screenshots/history.png
  assets/screenshots/mobile.png
  assets/screenshots/player-desktop.png
  assets/screenshots/player-mobile.png
  assets/screenshots/playlist.png
  assets/screenshots/releases.png
  assets/screenshots/search.png
  assets/screenshots/settings.png
  docs/ARCHITECTURE.en.md
  docs/ARCHITECTURE.md
  docs/SPOTIFY-API-MIGRATION.md
Due: pnpm prettier --write --ignore-path .gitignore

feat(shared): add auth unlock/session routes and DTOs
  packages/shared/src/index.ts
  packages/shared/src/routes.ts
Due: pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): optional SPOTIARR_TOKEN instance auth gate
  apps/backend/src/app.ts
  apps/backend/src/container.ts
  apps/backend/src/index.ts
  apps/backend/src/infrastructure/setup/environment.ts
  apps/backend/src/presentation/controllers/auth.controller.ts
  apps/backend/src/presentation/middleware/cookie.ts
  apps/backend/src/presentation/middleware/require-token.ts
  apps/backend/src/presentation/routes/auth.routes.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): migrate mutating retry routes from GET to POST
  apps/backend/src/presentation/routes/playlist.routes.ts
  apps/backend/src/presentation/routes/track.routes.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add TokenGate with gated SSE and 401 interceptor
  apps/frontend/src/app/App.tsx
  apps/frontend/src/components/organisms/TokenGate.tsx
  apps/frontend/src/hooks/controllers/useTokenGate.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/services/httpClient.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): call retry endpoints via POST
  apps/frontend/src/services/playlist.service.ts
  apps/frontend/src/services/track.service.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

docs: document instance auth environment variables
  .env.example
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

refactor(frontend): move TokenGate HTTP calls into authService
  apps/frontend/src/hooks/controllers/useTokenGate.ts
  apps/frontend/src/services/auth.service.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): show session-expired only on a real re-lock
  apps/frontend/src/components/organisms/TokenGate.tsx
  apps/frontend/src/hooks/controllers/useTokenGate.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): harden instance auth after adversarial review
  apps/backend/src/app.ts
  apps/backend/src/index.ts
  apps/backend/src/infrastructure/setup/environment.ts
  apps/backend/src/presentation/controllers/auth.controller.ts
  apps/backend/src/presentation/middleware/cookie.ts
  apps/backend/src/presentation/middleware/require-token.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): retry session probe instead of failing open
  apps/frontend/src/hooks/controllers/useTokenGate.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): show connection error when the session probe gives up
  apps/frontend/src/components/organisms/TokenGate.tsx
  apps/frontend/src/hooks/controllers/useTokenGate.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore
