Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "apps/backend/**/*.ts": ["pnpm --filter backend lint"],
  "apps/frontend/**/*.ts": ["pnpm --filter frontend lint"],
  "packages/shared/**/*.ts": ["pnpm --filter @spotiarr/shared lint"],
  "**/*.{ts,tsx,css,json,md,yml,yaml}": [
    "pnpm prettier --write --ignore-path .gitignore"
  ]
}

chore(release): bump to v1.3.3
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

fix: use --flat-playlist to skip format resolution in YouTube search
  apps/backend/src/infrastructure/external/youtube-search.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix: use album artist for folder grouping on compilations and recitals
  apps/backend/prisma/migrations/20260405000000_add_album_artist_to_track/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/services/track-post-processing.service.ts
  apps/backend/src/infrastructure/database/prisma-track.repository.ts
  apps/backend/src/infrastructure/external/spotify-track.mapper.ts
  apps/backend/src/infrastructure/services/file-system-track-path.service.ts
  apps/backend/src/infrastructure/services/metadata.service.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix: skip YouTube search if youtubeUrl already set on track
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix: set COREPACK_HOME and chown prisma dirs for non-root PUID
  Dockerfile
  docker-entrypoint.sh
Due: none

fix: change SPOTIFY_MARKET default from ES to US
  apps/backend/src/constants/settings-metadata.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix: pass albumArtist through create-playlist use case to track service
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

revert: restore SPOTIFY_MARKET default to ES
  apps/backend/src/constants/settings-metadata.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.3.4
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

docs(skills): fix release title convention in spotiarr-release skill and registry
  .agents/skills/spotiarr-release/SKILL.md
  .atl/skill-registry.md
Due: pnpm prettier --write --ignore-path .gitignore

fix(spotify): persist circuit breaker state across restarts
  apps/backend/src/index.ts
  apps/backend/src/infrastructure/external/circuit-breaker.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(sync): split Spotify sync into independent catalog and releases paths
  apps/backend/prisma/migrations/20260504110038_spotify_sync_redesign/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/services/settings.service.ts
  apps/backend/src/index.ts
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
  apps/backend/src/infrastructure/jobs/catalog-sync.job.ts
  apps/backend/src/infrastructure/jobs/feed-sync.job.ts
  apps/backend/src/infrastructure/jobs/index.ts
  apps/backend/src/infrastructure/setup/environment.ts
  apps/backend/src/infrastructure/setup/queues.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(sync): cap catalog to 5 artists/cycle and abort on circuit_open
  apps/backend/src/application/services/settings.service.ts
  apps/backend/src/infrastructure/setup/environment.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(compat): drop OpenCode symlink and untrack .atl/
  .agents/skills/spotiarr-compatibility/SKILL.md
  .atl/skill-registry.md
  .gitignore
  OPENCODE.md
Due: pnpm prettier --write --ignore-path .gitignore

chore(agents): rewrite AGENTS.md and complete .claude/skills symlinks
  .claude/skills/spotiarr-architecture
  .claude/skills/spotiarr-bullmq
  .claude/skills/spotiarr-compatibility
  .claude/skills/spotiarr-i18n
  .claude/skills/spotiarr-prisma
  .claude/skills/spotiarr-release
  .claude/skills/spotiarr-workflow
  AGENTS.md
Due: pnpm prettier --write --ignore-path .gitignore

chore(ai): improve spotiarr-* skills with real codebase patterns
  .agents/skills/spotiarr-architecture/SKILL.md
  .agents/skills/spotiarr-bullmq/SKILL.md
  .agents/skills/spotiarr-compatibility/SKILL.md
  .agents/skills/spotiarr-i18n/SKILL.md
  .agents/skills/spotiarr-prisma/SKILL.md
  .agents/skills/spotiarr-release/SKILL.md
  .agents/skills/spotiarr-workflow/SKILL.md
  .claude/skills/spotiarr-compatibility
  AGENTS.md
Due: pnpm prettier --write --ignore-path .gitignore

fix(shared): add circuit_open to ApiErrorCode union
  .gitignore
  packages/shared/src/index.ts
Due: pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(spotify): eliminate 429 retry feedback loop and interactive hangs
  apps/backend/src/infrastructure/external/circuit-breaker.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/infrastructure/jobs/catalog-sync.job.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(spotify): move feed sync catalog to Deezer
  apps/backend/prisma/migrations/20260513140623_add_artist_catalog_ids/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
  apps/backend/src/infrastructure/external/providers/musicbrainz/musicbrainz.client.ts
  apps/backend/src/infrastructure/external/providers/normalize-name.ts
  apps/backend/src/infrastructure/external/release-feed.service.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
  docs/SPOTIFY-API-MIGRATION.md
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(spotify): cover feed sync catalog migration
  apps/backend/package.json
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.test.ts
  apps/backend/src/infrastructure/external/providers/musicbrainz/musicbrainz.client.test.ts
  apps/backend/src/infrastructure/external/providers/normalize-name.test.ts
  apps/backend/src/infrastructure/external/release-feed.service.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
  apps/backend/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(spotify): move artist view catalog to Deezer
  apps/backend/src/application/use-cases/artists/artist-catalog.constants.ts
  apps/backend/src/application/use-cases/artists/get-artist-albums.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-artist-albums.use-case.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
  apps/backend/src/infrastructure/external/release-feed.service.test.ts
  apps/backend/src/infrastructure/external/release-feed.service.ts
  apps/backend/src/presentation/controllers/artist.controller.ts
  docs/SPOTIFY-API-MIGRATION.md
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(artist): bound interactive catalog fallback
  apps/backend/src/application/use-cases/artists/artist-catalog.constants.ts
  apps/backend/src/application/use-cases/artists/get-artist-albums.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-artist-albums.use-case.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.ts
  apps/backend/src/infrastructure/external/release-feed.service.test.ts
  apps/backend/src/infrastructure/external/release-feed.service.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(artist): show catalog warming state
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.ts
  apps/frontend/src/hooks/controllers/useArtistDetailController.ts
  apps/frontend/src/hooks/queries/useArtistDetailQuery.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/ArtistDetail.tsx
  docs/SPOTIFY-API-MIGRATION.md
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(spotify): move release tracks to Deezer
  apps/backend/prisma/migrations/20260514141852_add_album_provider_identities/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/use-cases/artists/get-album-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-album-tracks.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
  apps/backend/src/infrastructure/external/providers/musicbrainz/musicbrainz.client.test.ts
  apps/backend/src/infrastructure/external/providers/musicbrainz/musicbrainz.client.ts
  apps/backend/src/presentation/controllers/artist.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(artist): cover release miss contract
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/presentation/controllers/artist.controller.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): prepare v1.4.0
  .github/workflows/ci.yml
  README.md
  docs/ARCHITECTURE.en.md
  docs/ARCHITECTURE.md
  docs/SPOTIFY-API-MIGRATION.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

ci: build shared package before backend tests
  .github/workflows/ci.yml
Due: pnpm prettier --write --ignore-path .gitignore

ci: generate Prisma client before backend tests
  .github/workflows/ci.yml
Due: pnpm prettier --write --ignore-path .gitignore

fix(dev): prepare shared package on startup
  apps/frontend/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-path .gitignore

fix(artist): lazily resolve Spotify album URLs
  CONTRIBUTING.md
  README.md
  apps/backend/src/application/use-cases/artists/materialize-album-spotify-url.use-case.test.ts
  apps/backend/src/application/use-cases/artists/materialize-album-spotify-url.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/external/release-feed.service.test.ts
  apps/backend/src/infrastructure/external/release-feed.service.ts
  apps/backend/src/infrastructure/external/spotify-search.client.ts
  apps/backend/src/presentation/controllers/artist.controller.test.ts
  apps/backend/src/presentation/controllers/artist.controller.ts
  apps/backend/src/presentation/routes/artist.routes.ts
  apps/frontend/src/components/molecules/AlbumCard.tsx
  apps/frontend/src/components/organisms/ArtistDiscography.tsx
  apps/frontend/src/components/organisms/ReleasesList.tsx
  apps/frontend/src/hooks/controllers/useArtistDetailController.ts
  apps/frontend/src/hooks/controllers/useReleasesController.ts
  apps/frontend/src/hooks/useAlbumPreviewNavigation.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/services/artist.service.ts
  apps/frontend/src/views/ArtistDetail.tsx
  apps/frontend/src/views/Releases.tsx
  package.json
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(album): handle Deezer-sourced tracks in AlbumDetail
  apps/backend/src/application/use-cases/artists/get-album-tracks.use-case.ts
  apps/backend/src/domain/helpers/spotify-url.helper.ts
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.tsx
  apps/frontend/src/hooks/controllers/usePlaylistController.ts
  apps/frontend/src/utils/spotify.ts
  apps/frontend/src/views/AlbumDetail.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(album): support per-track download from AlbumDetail
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/presentation/routes/schemas/playlist.schema.ts
  apps/frontend/src/hooks/controllers/useAlbumDetailController.ts
  apps/frontend/src/views/AlbumDetail.tsx
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(judgment): close real findings from PR dual review
  apps/backend/src/presentation/middleware/validate.test.ts
  apps/backend/src/presentation/middleware/validate.ts
  apps/frontend/src/hooks/controllers/useAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/useArtistDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistController.ts
  apps/frontend/src/hooks/controllers/useReleasesController.ts
  apps/frontend/src/hooks/controllers/useSearchController.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(validate): drop req.query mutation incompatible with Express 5
  apps/backend/src/presentation/middleware/validate.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(album): resolve Deezer-only releases from AlbumDetail
  apps/backend/src/application/use-cases/artists/get-album-tracks.use-case.ts
  apps/frontend/src/hooks/controllers/useAlbumDetailController.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(deezer): prefer high-res covers and backfill from album metadata
  apps/backend/src/application/use-cases/artists/get-album-tracks.use-case.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(deezer): upgrade cached Deezer cover URLs to 1000x1000 at read time
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/external/providers/deezer/cover-url.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(date): show future release dates correctly
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/utils/date.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore
