Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat: background sync Spotify releases feed via BullMQ
  apps/backend/prisma/migrations/20260401195025_add_feed_cache_tables/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/container.ts
  apps/backend/src/index.ts
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/jobs/feed-sync.job.ts
  apps/backend/src/infrastructure/jobs/index.ts
  apps/backend/src/infrastructure/setup/queues.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
  apps/frontend/src/hooks/useServerEvents.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore: update gitignore
  .atl/skill-registry.md
  .gitignore
Due: pnpm prettier --write --ignore-path .gitignore

chore: remove Windsurf references and clean agent config
  .agents/skills/spotiarr-compatibility/SKILL.md
  .atl/skill-registry.md
  .gitignore
  .windsurf/skills/frontend-design
  .windsurf/skills/vercel-react-best-practices
  .windsurf/skills/web-design-guidelines
  .windsurf/workflows/sdd-new.md
  .windsurfrules
  CONTRIBUTING.md
Due: pnpm prettier --write --ignore-path .gitignore

fix: fix playlist items mapping and deduplicate app token requests
  apps/backend/src/infrastructure/external/spotify-auth.service.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.ts
  apps/backend/src/infrastructure/external/spotify.types.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

perf: isolate interactive Spotify traffic with dedicated limiter and hot-path dedupe
  apps/backend/src/infrastructure/external/spotify-album.client.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
  apps/backend/src/infrastructure/external/spotify-base.client.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/infrastructure/external/spotify-search.client.ts
  apps/backend/src/infrastructure/external/spotify-track.client.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor: internalize performance-sensitive Spotify settings
  apps/backend/src/application/services/settings.service.ts
  apps/backend/src/constants/settings-metadata.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor: internalize YouTube and maintenance settings from UI
  apps/backend/src/application/services/settings.service.ts
  apps/backend/src/constants/settings-metadata.ts
  apps/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

perf: reduce Spotify API call count and fail fast on rate limits
  apps/backend/src/container.ts
  apps/backend/src/domain/services/spotify.service.ts
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.ts
  apps/backend/src/infrastructure/external/spotify-search.client.ts
  apps/backend/src/presentation/controllers/artist.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix: surface clear error when accessing third-party playlist items (Spotify Feb 2026)
  apps/backend/src/infrastructure/external/spotify-playlist.client.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix: use item instead of track in playlist items fields (Spotify Feb 2026)
  apps/backend/src/infrastructure/external/spotify-playlist.client.ts
  apps/backend/src/infrastructure/external/spotify.types.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix: fetch all tracks for create/sync, first page only for preview
  apps/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.ts
  apps/backend/src/domain/services/spotify.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat: infinite scroll pagination for playlist preview
  apps/backend/src/application/use-cases/playlists/get-playlist-preview-tracks-page.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/domain/services/spotify.service.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.ts
  apps/backend/src/presentation/controllers/playlist.controller.ts
  apps/backend/src/presentation/routes/playlist.routes.ts
  apps/backend/src/presentation/routes/schemas/playlist.schema.ts
  apps/frontend/src/components/molecules/VirtualList.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.tsx
  apps/frontend/src/hooks/controllers/usePlaylistPreviewController.ts
  apps/frontend/src/hooks/queryKeys.ts
  apps/frontend/src/services/playlist.service.ts
  apps/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix: prevent react-virtuoso crash when Footer component is undefined
  apps/frontend/src/components/molecules/VirtualList.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(backend): implement artist detail SQLite-first caching
  apps/backend/prisma/migrations/20260410114138_artist_album_cache/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
  apps/backend/src/presentation/controllers/artist.controller.ts
  apps/frontend/src/hooks/controllers/useArtistDiscographyController.ts
  apps/frontend/src/hooks/queries/useArtistAlbumsQuery.ts
  apps/frontend/src/hooks/queries/useArtistDetailQuery.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): eliminate residual artist detail rate limits
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
  apps/backend/src/presentation/controllers/artist.controller.ts
  apps/frontend/src/hooks/controllers/useArtistDetailController.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix: run prisma migrations as root before dropping privileges
  Dockerfile
  docker-entrypoint.sh
Due: none

fix(backend): guard against NaN/invalid limit in artist albums endpoint
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
  apps/backend/src/presentation/controllers/artist.controller.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(artist-detail): on-demand loading with infinite scroll and per-album track expansion
  apps/backend/src/container.ts
  apps/backend/src/presentation/controllers/artist.controller.ts
  apps/backend/src/presentation/routes/artist.routes.ts
  apps/frontend/src/components/molecules/AlbumCard.tsx
  apps/frontend/src/components/molecules/VirtualGrid.tsx
  apps/frontend/src/components/organisms/ArtistDiscography.tsx
  apps/frontend/src/components/organisms/TracksModal.tsx
  apps/frontend/src/hooks/controllers/useArtistDetailController.ts
  apps/frontend/src/hooks/controllers/useArtistDiscographyController.ts
  apps/frontend/src/hooks/queries/useAlbumTracksQuery.ts
  apps/frontend/src/hooks/queryKeys.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/services/artist.service.ts
  apps/frontend/src/views/ArtistDetail.tsx
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): cap artist albums limit to 10 per Spotify API change (Mar 2026)
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): restore compatibility with Spotify Mar 2026 API changes on artist albums
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
  apps/backend/src/infrastructure/external/spotify-constants.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): add staleTime to all queries and onError to critical mutations
  apps/frontend/src/hooks/mutations/useCreatePlaylistMutation.ts
  apps/frontend/src/hooks/mutations/useRetryFailedTracksMutation.ts
  apps/frontend/src/hooks/queries/useDownloadHistoryQuery.ts
  apps/frontend/src/hooks/queries/useLibraryArtistQuery.ts
  apps/frontend/src/hooks/queries/useLibraryArtistsQuery.ts
  apps/frontend/src/hooks/queries/useMyPlaylistsQuery.ts
  apps/frontend/src/hooks/queries/usePlaylistPreviewQuery.ts
  apps/frontend/src/hooks/queries/usePlaylistsQuery.ts
  apps/frontend/src/hooks/queries/useSettingsMetadataQuery.ts
  apps/frontend/src/hooks/queries/useSettingsQuery.ts
  apps/frontend/src/hooks/queries/useSpotifyAuthStatusQuery.ts
  apps/frontend/src/hooks/queries/useSupportedFormatsQuery.ts
  apps/frontend/src/hooks/queries/useTracksQuery.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/utils/cache.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): backend cache health — eviction, DB-level filtering, silent error fix
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/database/prisma-settings.repository.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): surface rate limiter queue overflow as typed AppError(503)
  apps/backend/src/infrastructure/external/rate-limiter.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): share single PromiseCache instance across all Spotify clients
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/spotify-album.client.ts
  apps/backend/src/infrastructure/external/spotify-artist.client.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.ts
  apps/backend/src/infrastructure/external/spotify-search.client.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): resolve Unknown Artist in cached discography by looking up artist metadata
  apps/backend/src/infrastructure/database/feed.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): replace DownloadStatusContext with Zustand store for selector-based subscriptions
  apps/frontend/src/components/organisms/ArtistDiscography.tsx
  apps/frontend/src/components/organisms/HistoryList.tsx
  apps/frontend/src/components/organisms/PlaylistTracksList.tsx
  apps/frontend/src/components/organisms/ReleasesList.tsx
  apps/frontend/src/components/organisms/SearchAlbumGrid.tsx
  apps/frontend/src/components/organisms/TrackList.tsx
  apps/frontend/src/contexts/DownloadStatusContext.tsx
  apps/frontend/src/hooks/controllers/useArtistDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistController.ts
  apps/frontend/src/hooks/controllers/usePlaylistPreviewController.ts
  apps/frontend/src/hooks/controllers/useSearchController.ts
  apps/frontend/src/store/useDownloadStatusStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): replace standard-version with spotiarr-release skill
  .agents/skills/spotiarr-release/SKILL.md
  .atl/skill-registry.md
  AGENTS.md
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.3.0
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

chore: update skill registry with compact rules for all installed skills
  .atl/skill-registry.md
Due: pnpm prettier --write --ignore-path .gitignore

chore: remove stale Spotify API artifacts post-Feb2026 migration
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  packages/shared/src/index.ts
Due: pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

docs: document Spotify Feb 2026 API breaking changes
  CHANGELOG.md
  README.md
Due: pnpm prettier --write --ignore-path .gitignore

fix(backend): wire SSE route to container EventsController
  apps/backend/src/presentation/routes/events.routes.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.3.1
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

docs(changelog): add v1.3.1 release notes
  CHANGELOG.md
Due: pnpm prettier --write --ignore-path .gitignore

fix(spotify): resolve rate limiting across sync and artist detail
  apps/backend/src/application/services/track-post-processing.service.ts
  apps/backend/src/container.ts
  apps/backend/src/domain/services/spotify.service.ts
  apps/backend/src/infrastructure/database/feed.repository.ts
  apps/backend/src/infrastructure/external/promise-cache.ts
  apps/backend/src/infrastructure/external/spotify-album.client.ts
  apps/backend/src/infrastructure/external/spotify-base.client.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/infrastructure/external/spotify-track.client.ts
  apps/backend/src/infrastructure/external/spotify-user-library.service.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
  apps/backend/src/presentation/controllers/artist.controller.ts
  apps/frontend/src/hooks/controllers/useArtistDetailController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/ArtistDetail.tsx
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.3.2
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

docs(changelog): add v1.3.2 release notes
  CHANGELOG.md
Due: pnpm prettier --write --ignore-path .gitignore

docs(skills): update spotiarr-release skill with CHANGELOG and release description steps
  .agents/skills/spotiarr-release/SKILL.md
Due: pnpm prettier --write --ignore-path .gitignore

fix: paginate album tracks and fetch album metadata before tracks
  apps/backend/src/infrastructure/external/spotify-album.client.ts
  apps/backend/src/infrastructure/external/spotify.types.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix: use getAlbumDetails() to avoid duplicate fetch and fix error codes
  packages/shared/src/index.ts
Due: pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

Path conditions:
  pnpm --filter backend lint: any of: apps/backend/**/*.ts
  pnpm --filter frontend lint: any of: apps/frontend/**/*.ts
  pnpm --filter @spotiarr/shared lint: any of: packages/shared/**/*.ts
  pnpm prettier --write --ignore-path .gitignore: any of: **/*.{ts,tsx,css,json,md,yml,yaml}
