Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "apps/backend/**/*.ts": ["pnpm --filter backend lint"],
  "apps/frontend/**/*.ts": ["pnpm --filter frontend lint"],
  "packages/shared/**/*.ts": ["pnpm --filter @spotiarr/shared lint"],
  "**/*.{ts,tsx,css,json,md,yml,yaml}": [
    "pnpm prettier --write --ignore-path .gitignore"
  ]
}

refactor(backend): trim verbose comments in logger module
  apps/backend/src/infrastructure/logging/logger.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(logging): move external API error bodies out of log message strings
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(logging): widen redact paths for access/refresh tokens and API keys
  apps/backend/src/infrastructure/logging/logger.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(playlists): restore logger error assertions on happy-path use-case tests
  apps/backend/src/application/use-cases/playlists/get-my-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview-tracks-page.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

docs(skills): replace docker-compose.override.yml with compose.override.yml
  skills/spotiarr-docker/SKILL.md
Due: pnpm prettier --write --ignore-path .gitignore

docs(compose): clarify TLS behavior and add Let's Encrypt ACME template
  compose.yml
Due: pnpm prettier --write --ignore-path .gitignore

fix(docker): exclude devDependencies from production image via pnpm deploy
  Dockerfile
Due: none

chore(frontend): make vite dev server allowed hosts env-driven
  apps/frontend/vite.config.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(frontend): make vite dev server allowed hosts env-driven (#259)
  apps/frontend/vite.config.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(docker): move prisma CLI to prod dependencies so pnpm deploy --prod includes it
  apps/backend/package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-path .gitignore

fix(docker): update entrypoint Prisma engine chown path to match pnpm deploy flat layout
  docker-entrypoint.sh
Due: none

fix(logging): redact responseBody field to prevent Spotify error bodies from appearing in logs
  apps/backend/src/infrastructure/logging/logger.test.ts
  apps/backend/src/infrastructure/logging/logger.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(git): ignore compose.override.yml (new override filename per skill docs)
  .gitignore
Due: none

test(playlists): remove vacuous logger mock and assertions from playlist use-case tests
  apps/backend/src/application/use-cases/playlists/get-my-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview-tracks-page.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): make env prod test hermetic and drop duplicate auth log
  apps/backend/src/infrastructure/external/spotify-auth.service.ts
  apps/backend/src/infrastructure/setup/environment.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(logging): Judgment Day follow-up for structured-logging (#150) (#258)
  .gitignore
  Dockerfile
  apps/backend/package.json
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.ts
  apps/backend/src/infrastructure/logging/logger.test.ts
  apps/backend/src/infrastructure/logging/logger.ts
  apps/backend/src/infrastructure/setup/environment.test.ts
  compose.yml
  docker-entrypoint.sh
  pnpm-lock.yaml
  skills/spotiarr-docker/SKILL.md
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): extract formatLibrarySize to shared util
  apps/frontend/src/hooks/controllers/useHomeController.ts
  apps/frontend/src/utils/formatLibrarySize.test.ts
  apps/frontend/src/utils/formatLibrarySize.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add DownloadHistorySection organism with unit test
  apps/frontend/src/components/organisms/DownloadHistorySection.test.tsx
  apps/frontend/src/components/organisms/DownloadHistorySection.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): swap History → Dashboard in nav items and fix Sidebar translation key
  apps/frontend/src/components/layouts/AppHeader.test.tsx
  apps/frontend/src/components/layouts/Sidebar.test.tsx
  apps/frontend/src/components/layouts/Sidebar.tsx
  apps/frontend/src/config/navigation.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add /dashboard route and redirect /history → /dashboard
  apps/frontend/src/routes/Routing.test.tsx
  apps/frontend/src/routes/Routing.tsx
  apps/frontend/src/routes/routes.ts
  apps/frontend/src/views/History.test.tsx
  apps/frontend/src/views/History.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(e2e): update history specs to target /dashboard route
  apps/frontend/tests/e2e/mocked/history.spec.ts
  apps/frontend/tests/e2e/real/library-history.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add LibraryStatsSection organism with unit test
  apps/frontend/src/components/organisms/LibraryStatsSection.test.tsx
  apps/frontend/src/components/organisms/LibraryStatsSection.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): harden dashboard controller guard and view prop wiring
  apps/frontend/src/hooks/controllers/useDashboardController.test.ts
  apps/frontend/src/views/Dashboard.test.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): remove library stats block from Home view (moved to Dashboard)
  apps/frontend/src/views/Home.test.tsx
  apps/frontend/src/views/Home.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): add Dashboard view with LibraryStats, DownloadHistory, and #205 placeholder
  apps/frontend/src/components/organisms/MostListenedPlaceholder.test.tsx
  apps/frontend/src/components/organisms/MostListenedPlaceholder.tsx
  apps/frontend/src/views/Dashboard.test.tsx
  apps/frontend/src/views/Dashboard.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): add useDashboardController hook with unit test
  apps/frontend/src/hooks/controllers/useDashboardController.test.ts
  apps/frontend/src/hooks/controllers/useDashboardController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): drop unused stats field from useHomeController
  apps/frontend/src/hooks/controllers/useHomeController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(i18n): add dashboard group and navigation.dashboard keys
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(frontend): preserve size-format boundary and reuse history.title in DownloadHistorySection
  apps/frontend/src/components/organisms/DownloadHistorySection.test.tsx
  apps/frontend/src/components/organisms/DownloadHistorySection.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/utils/formatLibrarySize.test.ts
  apps/frontend/src/utils/formatLibrarySize.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): move most-listened placeholder above history list
  apps/frontend/src/views/Dashboard.tsx
Due: pnpm prettier --write --ignore-path .gitignore

chore: migrate to pnpm 11.7.0
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm prettier --write --ignore-path .gitignore

chore(frontend): remove orphaned i18n keys and fix test name
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/utils/formatLibrarySize.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): fix missing beforeEach import and assert Dashboard absent from bottom bar
  apps/frontend/src/components/layouts/BottomNavigation.test.tsx
  apps/frontend/src/views/Dashboard.test.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor(frontend): remove dead useHistoryController
  apps/frontend/src/hooks/controllers/useHistoryController.test.ts
  apps/frontend/src/hooks/controllers/useHistoryController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): drop redundant comment from MostListenedPlaceholder
  apps/frontend/src/components/organisms/MostListenedPlaceholder.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(e2e): mock library stats for dashboard-routed history specs
  apps/frontend/tests/e2e/mocked/history.spec.ts
  apps/frontend/tests/e2e/mocked/sse.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): drop Home stats over-fetch and memoize dashboard historyProps
  apps/frontend/src/hooks/controllers/useDashboardController.ts
  apps/frontend/src/hooks/controllers/useHomeController.test.tsx
  apps/frontend/src/hooks/controllers/useHomeController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

style(frontend): use uniform section spacing in dashboard
  apps/frontend/src/components/organisms/MostListenedPlaceholder.tsx
  apps/frontend/src/views/Dashboard.tsx
Due: pnpm prettier --write --ignore-path .gitignore

fix(frontend): real stat-card testid and stable recreate callback
  apps/frontend/src/components/molecules/StatCard.tsx
  apps/frontend/src/hooks/controllers/useDashboardController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): replace History with Dashboard view (#205-ready) (#253)
  .npmrc
  apps/frontend/src/components/layouts/AppHeader.test.tsx
  apps/frontend/src/components/layouts/BottomNavigation.test.tsx
  apps/frontend/src/components/layouts/Sidebar.test.tsx
  apps/frontend/src/components/layouts/Sidebar.tsx
  apps/frontend/src/components/molecules/StatCard.tsx
  apps/frontend/src/components/organisms/DownloadHistorySection.test.tsx
  apps/frontend/src/components/organisms/DownloadHistorySection.tsx
  apps/frontend/src/components/organisms/LibraryStatsSection.test.tsx
  apps/frontend/src/components/organisms/LibraryStatsSection.tsx
  apps/frontend/src/components/organisms/MostListenedPlaceholder.test.tsx
  apps/frontend/src/components/organisms/MostListenedPlaceholder.tsx
  apps/frontend/src/config/navigation.ts
  apps/frontend/src/hooks/controllers/useDashboardController.test.ts
  apps/frontend/src/hooks/controllers/useDashboardController.ts
  apps/frontend/src/hooks/controllers/useHistoryController.test.ts
  apps/frontend/src/hooks/controllers/useHistoryController.ts
  apps/frontend/src/hooks/controllers/useHomeController.test.tsx
  apps/frontend/src/hooks/controllers/useHomeController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/routes/Routing.test.tsx
  apps/frontend/src/routes/Routing.tsx
  apps/frontend/src/routes/routes.ts
  apps/frontend/src/utils/formatLibrarySize.test.ts
  apps/frontend/src/utils/formatLibrarySize.ts
  apps/frontend/src/views/Dashboard.test.tsx
  apps/frontend/src/views/Dashboard.tsx
  apps/frontend/src/views/History.test.tsx
  apps/frontend/src/views/History.tsx
  apps/frontend/src/views/Home.test.tsx
  apps/frontend/src/views/Home.tsx
  apps/frontend/tests/e2e/mocked/history.spec.ts
  apps/frontend/tests/e2e/mocked/sse.spec.ts
  apps/frontend/tests/e2e/real/library-history.spec.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore
