Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "apps/backend/**/*.ts": ["pnpm --filter backend lint"],
  "apps/frontend/**/*.ts": ["pnpm --filter frontend lint"],
  "packages/shared/**/*.ts": ["pnpm --filter @spotiarr/shared lint"],
  "**/*.{ts,tsx,css,json,md,yml,yaml}": [
    "pnpm prettier --write --ignore-path .gitignore"
  ]
}

feat(settings): mask secret settings on read, guard sentinel on update
  apps/backend/src/application/use-cases/settings/get-settings.use-case.test.ts
  apps/backend/src/application/use-cases/settings/get-settings.use-case.ts
  apps/backend/src/application/use-cases/settings/update-setting.use-case.test.ts
  apps/backend/src/application/use-cases/settings/update-setting.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai-chat): add ai-playlist-processor BullMQ queue and queue service
  apps/backend/src/domain/services/ai-playlist-queue.service.ts
  apps/backend/src/infrastructure/messaging/bullmq-ai-playlist-queue.service.test.ts
  apps/backend/src/infrastructure/messaging/bullmq-ai-playlist-queue.service.ts
  apps/backend/src/infrastructure/setup/queues.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai-chat): add OpenAiCompatibleAdapter with injectable generate fn
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.test.ts
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai-chat): add GenerateAiPlaylistUseCase with stage progression
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai-chat): add AiChatPort interface and AiChatError domain error
  apps/backend/package.json
  apps/backend/src/application/ports/ai-chat.port.ts
  apps/backend/src/domain/errors/ai-chat.error.test.ts
  apps/backend/src/domain/errors/ai-chat.error.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(ai-chat): assert stage order and playlists-updated emit
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(ai-chat): resolve tsc errors in GenerateAiPlaylistUseCase
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai-playlist): add endpoint schema, controller, and routes
  apps/backend/src/presentation/controllers/ai.controller.test.ts
  apps/backend/src/presentation/controllers/ai.controller.ts
  apps/backend/src/presentation/routes/ai.routes.test.ts
  apps/backend/src/presentation/routes/ai.routes.ts
  apps/backend/src/presentation/routes/schemas/ai.schema.test.ts
  apps/backend/src/presentation/routes/schemas/ai.schema.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai-playlist): add BullMQ worker for AI playlist generation
  apps/backend/src/infrastructure/workers/ai-playlist.worker.test.ts
  apps/backend/src/infrastructure/workers/ai-playlist.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai-playlist): wire container, routes, and worker bootstrap
  apps/backend/src/container.ts
  apps/backend/src/index.ts
  apps/backend/src/infrastructure/workers/ai-playlist.worker.test.ts
  apps/backend/src/presentation/routes/index.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(ai-chat): add i18n key for AI Chat sidebar nav label
  apps/frontend/src/components/layouts/Sidebar.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm prettier --write --ignore-path .gitignore

feat(ai-chat): add controller and Chat view
  apps/frontend/src/hooks/controllers/useChatController.test.ts
  apps/frontend/src/hooks/controllers/useChatController.ts
  apps/frontend/src/views/Chat.test.tsx
  apps/frontend/src/views/Chat.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai-chat): add service, mutation, and SSE bridge for AI playlist
  apps/frontend/src/hooks/mutations/useGenerateAiPlaylistMutation.test.tsx
  apps/frontend/src/hooks/mutations/useGenerateAiPlaylistMutation.ts
  apps/frontend/src/hooks/useServerEvents.test.ts
  apps/frontend/src/hooks/useServerEvents.ts
  apps/frontend/src/lib/aiProgressBus.test.ts
  apps/frontend/src/lib/aiProgressBus.ts
  apps/frontend/src/services/aiChat.service.test.ts
  apps/frontend/src/services/aiChat.service.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(ai-chat): add E2E mocked spec for AI chat flows
  apps/frontend/tests/e2e/mocked/ai-chat.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai-chat): add routing, nav item, and i18n for Chat view
  apps/frontend/src/config/navigation.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/routes/Routing.tsx
  apps/frontend/src/routes/routes.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai-chat): frontend Chat view, SSE progress, i18n, e2e [3/4] (#144)
  apps/frontend/src/components/layouts/Sidebar.tsx
  apps/frontend/src/config/navigation.ts
  apps/frontend/src/hooks/controllers/useChatController.test.ts
  apps/frontend/src/hooks/controllers/useChatController.ts
  apps/frontend/src/hooks/mutations/useGenerateAiPlaylistMutation.test.tsx
  apps/frontend/src/hooks/mutations/useGenerateAiPlaylistMutation.ts
  apps/frontend/src/hooks/useServerEvents.test.ts
  apps/frontend/src/hooks/useServerEvents.ts
  apps/frontend/src/lib/aiProgressBus.test.ts
  apps/frontend/src/lib/aiProgressBus.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/routes/Routing.tsx
  apps/frontend/src/routes/routes.ts
  apps/frontend/src/services/aiChat.service.test.ts
  apps/frontend/src/services/aiChat.service.ts
  apps/frontend/src/views/Chat.test.tsx
  apps/frontend/src/views/Chat.tsx
  apps/frontend/tests/e2e/mocked/ai-chat.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(ai-chat): translate AI settings labels and polish chat UI
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/Chat.tsx
Due: pnpm prettier --write --ignore-path .gitignore

fix(ai-chat): replace composer focus ring halo with subtle border
  apps/frontend/src/views/Chat.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(shared): add AI provider preset constants
  packages/shared/src/index.ts
Due: pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): implement AI provider presets in factory and settings
  apps/backend/src/constants/settings-metadata.ts
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.test.ts
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): render friendly display names for AI_PROVIDER select options
  apps/frontend/src/components/molecules/SettingItem.test.tsx
  apps/frontend/src/components/molecules/SettingItem.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm prettier --write --ignore-path .gitignore

feat(shared): add ollama-cloud AI provider preset
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.test.ts
  apps/frontend/src/components/molecules/SettingItem.test.tsx
  apps/frontend/src/components/molecules/SettingItem.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(ai): add Gemini as an OpenAI-compatible provider preset
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.test.ts
  apps/frontend/src/components/molecules/SettingItem.test.tsx
  apps/frontend/src/components/molecules/SettingItem.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(settings): disable AI base URL input for preset providers
  apps/frontend/src/components/molecules/SettingInput.test.tsx
  apps/frontend/src/components/molecules/SettingInput.tsx
  apps/frontend/src/components/molecules/SettingItem.test.tsx
  apps/frontend/src/components/molecules/SettingItem.tsx
  apps/frontend/src/hooks/controllers/useSettingsController.test.ts
  apps/frontend/src/hooks/controllers/useSettingsController.ts
  apps/frontend/src/views/Settings.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(settings): use array join for disabled className to preserve spacing
  apps/frontend/src/components/molecules/SettingInput.tsx
Due: pnpm prettier --write --ignore-path .gitignore

fix(settings): show default provider preset placeholder for AI base URL
  apps/frontend/src/views/Settings.test.tsx
  apps/frontend/src/views/Settings.tsx
Due: pnpm prettier --write --ignore-path .gitignore

fix(ai): normalize unknown/legacy AI provider value to default
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.test.ts
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.ts
  apps/frontend/src/views/Settings.test.tsx
  apps/frontend/src/views/Settings.tsx
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(ai-chat): translate AI settings labels + polish chat UI (#164)
  apps/backend/src/constants/settings-metadata.ts
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.test.ts
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.ts
  apps/frontend/src/components/molecules/SettingInput.test.tsx
  apps/frontend/src/components/molecules/SettingInput.tsx
  apps/frontend/src/components/molecules/SettingItem.test.tsx
  apps/frontend/src/components/molecules/SettingItem.tsx
  apps/frontend/src/hooks/controllers/useSettingsController.test.ts
  apps/frontend/src/hooks/controllers/useSettingsController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/Chat.tsx
  apps/frontend/src/views/Settings.test.tsx
  apps/frontend/src/views/Settings.tsx
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): add GET /api/ai/models endpoint for model discovery
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/providers/ai/ai-connection.resolver.test.ts
  apps/backend/src/infrastructure/external/providers/ai/ai-connection.resolver.ts
  apps/backend/src/infrastructure/external/providers/ai/list-ai-models.test.ts
  apps/backend/src/infrastructure/external/providers/ai/list-ai-models.ts
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.ts
  apps/backend/src/presentation/controllers/ai.controller.test.ts
  apps/backend/src/presentation/controllers/ai.controller.ts
  apps/backend/src/presentation/routes/ai.routes.test.ts
  apps/backend/src/presentation/routes/ai.routes.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add AI model discovery UI with datalist autocomplete
  apps/frontend/src/components/molecules/AiModelField.test.tsx
  apps/frontend/src/components/molecules/AiModelField.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/services/aiChat.service.test.ts
  apps/frontend/src/services/aiChat.service.ts
  apps/frontend/src/views/Settings.test.tsx
  apps/frontend/src/views/Settings.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai): load models from current form values without requiring save
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/providers/ai/ai-connection.resolver.test.ts
  apps/backend/src/infrastructure/external/providers/ai/ai-connection.resolver.ts
  apps/backend/src/infrastructure/external/providers/ai/list-ai-models.test.ts
  apps/backend/src/infrastructure/external/providers/ai/list-ai-models.ts
  apps/backend/src/presentation/controllers/ai.controller.test.ts
  apps/backend/src/presentation/controllers/ai.controller.ts
  apps/backend/src/presentation/routes/ai.routes.test.ts
  apps/backend/src/presentation/routes/ai.routes.ts
  apps/backend/src/presentation/routes/schemas/ai.schema.test.ts
  apps/backend/src/presentation/routes/schemas/ai.schema.ts
  apps/frontend/src/components/molecules/AiModelField.test.tsx
  apps/frontend/src/components/molecules/AiModelField.tsx
  apps/frontend/src/services/aiChat.service.test.ts
  apps/frontend/src/services/aiChat.service.ts
  apps/frontend/src/views/Settings.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(ai-chat): replace model datalist with a clickable dropdown
  apps/frontend/src/components/molecules/AiModelField.test.tsx
  apps/frontend/src/components/molecules/AiModelField.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm prettier --write --ignore-path .gitignore

feat(ai): model discovery — list provider models in Settings (#165)
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/providers/ai/ai-connection.resolver.test.ts
  apps/backend/src/infrastructure/external/providers/ai/ai-connection.resolver.ts
  apps/backend/src/infrastructure/external/providers/ai/list-ai-models.test.ts
  apps/backend/src/infrastructure/external/providers/ai/list-ai-models.ts
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.ts
  apps/backend/src/presentation/controllers/ai.controller.test.ts
  apps/backend/src/presentation/controllers/ai.controller.ts
  apps/backend/src/presentation/routes/ai.routes.test.ts
  apps/backend/src/presentation/routes/ai.routes.ts
  apps/backend/src/presentation/routes/schemas/ai.schema.test.ts
  apps/backend/src/presentation/routes/schemas/ai.schema.ts
  apps/frontend/src/components/molecules/AiModelField.test.tsx
  apps/frontend/src/components/molecules/AiModelField.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/services/aiChat.service.test.ts
  apps/frontend/src/services/aiChat.service.ts
  apps/frontend/src/views/Settings.test.tsx
  apps/frontend/src/views/Settings.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(ai): surface upstream auth and forbidden provider errors
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.ts
  apps/backend/src/domain/errors/ai-chat.error.ts
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.test.ts
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/views/Chat.tsx
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(ai): add NVIDIA NIM as an AI provider
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.test.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(ai): show generated playlist in library and improve chat UX
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.ts
  apps/frontend/src/hooks/controllers/useChatController.test.ts
  apps/frontend/src/hooks/controllers/useChatController.ts
  apps/frontend/src/hooks/controllers/useHomeController.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/utils/playlist.test.ts
  apps/frontend/src/utils/playlist.ts
  apps/frontend/src/views/Chat.tsx
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix(ai): store AI playlist downloads under Playlists so they are playable
  apps/backend/src/application/use-cases/tracks/download-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/download-track.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(tracks): write track duration after download
  apps/backend/src/application/ports/youtube.port.ts
  apps/backend/src/application/use-cases/tracks/download-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/download-track.use-case.ts
  apps/backend/src/domain/entities/track.entity.ts
  apps/backend/src/infrastructure/external/youtube-download.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(ai): set AI playlist owner and drop AI prefix from name
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

docs(ai): document AI playlist generation across docs
  AGENTS.md
  CONTRIBUTING.md
  README.md
  apps/backend/AGENTS.md
  apps/frontend/AGENTS.md
  docs/ARCHITECTURE.en.md
  docs/ARCHITECTURE.md
  packages/shared/AGENTS.md
Due: pnpm prettier --write --ignore-path .gitignore
