Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "apps/backend/**/*.ts": ["pnpm --filter backend lint"],
  "apps/frontend/**/*.ts": ["pnpm --filter frontend lint"],
  "packages/shared/**/*.ts": ["pnpm --filter @spotiarr/shared lint"],
  "**/*.{ts,tsx,css,json,md,yml,yaml}": [
    "pnpm prettier --write --ignore-path .gitignore"
  ]
}

fix(frontend): harden player reliability edge cases (#232)
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): player resilience — auto-skip failed tracks + buffering indicator (#235)
  apps/frontend/src/components/molecules/TransportControls/TransportControls.test.tsx
  apps/frontend/src/components/molecules/TransportControls/TransportControls.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/components/organisms/NowPlayingFullscreen.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): report MediaSession position state for lock-screen scrubber (#234)
  apps/frontend/src/hooks/useMediaSession.test.ts
  apps/frontend/src/hooks/useMediaSession.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): global keyboard shortcuts for the player (#238)
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/hooks/useGlobalPlayerShortcuts.test.ts
  apps/frontend/src/hooks/useGlobalPlayerShortcuts.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): show working prev/next on iOS lock screen (#201) (#231)
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/hooks/useMediaSession.test.ts
  apps/frontend/src/hooks/useMediaSession.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): resume queue, track and position after reload (#236)
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): sync isPlaying from native audio play/pause events (#237)
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): harden player from judgment-day review
  apps/frontend/src/components/molecules/TransportControls/TransportControls.test.tsx
  apps/frontend/src/components/molecules/TransportControls/TransportControls.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/hooks/useMediaSession.ts
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): context-aware play and toggle-only shuffle in playlist/album header
  apps/frontend/src/components/molecules/PlaylistActions.test.tsx
  apps/frontend/src/components/molecules/PlaylistActions.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.test.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/hooks/usePlayerQueueBinding.test.ts
  apps/frontend/src/hooks/usePlayerQueueBinding.ts
  apps/frontend/src/views/LibraryAlbumDetail.tsx
  apps/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): identify active playback context by contextPath
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.test.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/hooks/usePlayerQueueBinding.test.ts
  apps/frontend/src/hooks/usePlayerQueueBinding.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): context-aware play and toggle-only shuffle in playlist/album header (#244)
  apps/frontend/src/components/molecules/PlaylistActions.test.tsx
  apps/frontend/src/components/molecules/PlaylistActions.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.test.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/hooks/usePlayerQueueBinding.test.ts
  apps/frontend/src/hooks/usePlayerQueueBinding.ts
  apps/frontend/src/views/LibraryAlbumDetail.tsx
  apps/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): native-quality music playback (#245)
  apps/frontend/src/components/molecules/PlaylistActions.test.tsx
  apps/frontend/src/components/molecules/PlaylistActions.tsx
  apps/frontend/src/components/molecules/TransportControls/TransportControls.test.tsx
  apps/frontend/src/components/molecules/TransportControls/TransportControls.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.test.tsx
  apps/frontend/src/components/organisms/GlobalPlayerBar.tsx
  apps/frontend/src/components/organisms/NowPlayingFullscreen.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.test.tsx
  apps/frontend/src/hooks/controllers/useLibraryAlbumDetailController.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.test.ts
  apps/frontend/src/hooks/controllers/usePlaylistDetailController.ts
  apps/frontend/src/hooks/useGlobalPlayerShortcuts.test.ts
  apps/frontend/src/hooks/useGlobalPlayerShortcuts.ts
  apps/frontend/src/hooks/useMediaSession.test.ts
  apps/frontend/src/hooks/useMediaSession.ts
  apps/frontend/src/hooks/usePlayerQueueBinding.test.ts
  apps/frontend/src/hooks/usePlayerQueueBinding.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/store/usePlayerStore.test.ts
  apps/frontend/src/store/usePlayerStore.ts
  apps/frontend/src/views/LibraryAlbumDetail.tsx
  apps/frontend/src/views/PlaylistDetail.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(backend): add pino as dependency and pino-pretty as devDependency
  apps/backend/package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-path .gitignore

feat(backend): add LOG_LEVEL to environment schema with NODE_ENV-based defaults
  apps/backend/src/infrastructure/setup/environment.test.ts
  apps/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): add centralized pino logger module with redaction and env-driven config
  apps/backend/src/__tests__/architecture.test.ts
  apps/backend/src/infrastructure/logging/logger.test.ts
  apps/backend/src/infrastructure/logging/logger.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): migrate src/index.ts console calls to structured pino logger
  apps/backend/src/index.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

docs: document LOG_LEVEL in .env.example and docker-compose env comments
  .env.example
  compose.yml
Due: pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.20.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

test(backend): update worker tests to use logger mock instead of console spies
  apps/backend/src/infrastructure/workers/ai-playlist.worker.test.ts
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.create.test.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.create.test.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.create.test.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.test.ts
  apps/backend/src/infrastructure/workers/track-download.worker.test.ts
  apps/backend/src/infrastructure/workers/track-search.worker.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): migrate BullMQ workers to structured pino logger
  apps/backend/src/infrastructure/workers/ai-playlist.worker.ts
  apps/backend/src/infrastructure/workers/artwork-backfill.worker.ts
  apps/backend/src/infrastructure/workers/catalog-sync.worker.ts
  apps/backend/src/infrastructure/workers/feed-sync.worker.ts
  apps/backend/src/infrastructure/workers/track-download.worker.ts
  apps/backend/src/infrastructure/workers/track-search.worker.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): migrate infrastructure jobs to structured pino logger
  apps/backend/src/infrastructure/jobs/catalog-sync.job.ts
  apps/backend/src/infrastructure/jobs/feed-sync.job.ts
  apps/backend/src/infrastructure/jobs/index.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): migrate application layer console.* to pino logger (slice 3)
  apps/backend/src/__tests__/architecture.test.ts
  apps/backend/src/application/services/artwork.service.ts
  apps/backend/src/application/services/spotify.service.ts
  apps/backend/src/application/services/track-post-processing.service.ts
  apps/backend/src/application/use-cases/ai/generate-ai-playlist.use-case.ts
  apps/backend/src/application/use-cases/feed/get-recent-releases.use-case.test.ts
  apps/backend/src/application/use-cases/feed/get-recent-releases.use-case.ts
  apps/backend/src/application/use-cases/library/scan-library.use-case.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/application/use-cases/playlists/get-my-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview-tracks-page.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/sync-subscribed-playlists.use-case.ts
  apps/backend/src/application/use-cases/settings/update-setting.use-case.ts
  apps/backend/src/application/use-cases/tracks/download-track.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/download-track.use-case.ts
  apps/backend/src/application/use-cases/tracks/recover-errored-tracks.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/recover-errored-tracks.use-case.ts
  apps/backend/src/application/use-cases/tracks/rescue-stuck-tracks.use-case.ts
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.test.ts
  apps/backend/src/application/use-cases/tracks/search-track-on-youtube.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): extract formatLibrarySize to shared util
  apps/frontend/src/hooks/controllers/useHomeController.ts
  apps/frontend/src/utils/formatLibrarySize.test.ts
  apps/frontend/src/utils/formatLibrarySize.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(i18n): add dashboard group and navigation.dashboard keys
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): add LibraryStatsSection organism with unit test
  apps/frontend/src/components/organisms/LibraryStatsSection.test.tsx
  apps/frontend/src/components/organisms/LibraryStatsSection.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): add DownloadHistorySection organism with unit test
  apps/frontend/src/components/organisms/DownloadHistorySection.test.tsx
  apps/frontend/src/components/organisms/DownloadHistorySection.tsx
Due: pnpm prettier --write --ignore-path .gitignore

refactor(backend): migrate remaining console.* to pino logger (slice 4)
  apps/backend/src/__tests__/architecture.test.ts
  apps/backend/src/infrastructure/database/prisma-ai-chat-message.repository.ts
  apps/backend/src/infrastructure/database/prisma-settings.repository.ts
  apps/backend/src/infrastructure/database/types.ts
  apps/backend/src/infrastructure/external/circuit-breaker.test.ts
  apps/backend/src/infrastructure/external/circuit-breaker.ts
  apps/backend/src/infrastructure/external/providers/ai/openai-compatible.adapter.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-artwork-source.service.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
  apps/backend/src/infrastructure/external/providers/musicbrainz/musicbrainz.client.ts
  apps/backend/src/infrastructure/external/rate-limiter.ts
  apps/backend/src/infrastructure/external/release-feed.service.test.ts
  apps/backend/src/infrastructure/external/release-feed.service.ts
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.test.ts
  apps/backend/src/infrastructure/external/spotify-artist-catalog.service.ts
  apps/backend/src/infrastructure/external/spotify-auth.service.ts
  apps/backend/src/infrastructure/external/spotify-base.client.test.ts
  apps/backend/src/infrastructure/external/spotify-base.client.ts
  apps/backend/src/infrastructure/external/spotify-followed-artists.service.ts
  apps/backend/src/infrastructure/external/spotify-http.client.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.ts
  apps/backend/src/infrastructure/external/youtube-download.service.ts
  apps/backend/src/infrastructure/external/youtube-search.service.test.ts
  apps/backend/src/infrastructure/external/youtube-search.service.ts
  apps/backend/src/infrastructure/services/file-system-m3u.service.ts
  apps/backend/src/infrastructure/services/file-system-scanner.service.ts
  apps/backend/src/infrastructure/services/library-audio.service.test.ts
  apps/backend/src/infrastructure/services/library-audio.service.ts
  apps/backend/src/infrastructure/services/library-image.service.test.ts
  apps/backend/src/infrastructure/services/library-image.service.ts
  apps/backend/src/infrastructure/services/metadata.service.test.ts
  apps/backend/src/infrastructure/services/metadata.service.ts
  apps/backend/src/infrastructure/setup/queues.artwork-backfill.test.ts
  apps/backend/src/infrastructure/setup/queues.ts
  apps/backend/src/presentation/controllers/events.controller.ts
  apps/backend/src/presentation/controllers/library.controller.ts
  apps/backend/src/presentation/middleware/error-handler.ts
  apps/backend/src/presentation/routes/library.routes.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): preserve size-format boundary and reuse history.title in DownloadHistorySection
  apps/frontend/src/components/organisms/DownloadHistorySection.test.tsx
  apps/frontend/src/components/organisms/DownloadHistorySection.tsx
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/utils/formatLibrarySize.test.ts
  apps/frontend/src/utils/formatLibrarySize.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add useDashboardController hook with unit test
  apps/frontend/src/hooks/controllers/useDashboardController.test.ts
  apps/frontend/src/hooks/controllers/useDashboardController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add Dashboard view with LibraryStats, DownloadHistory, and #205 placeholder
  apps/frontend/src/components/organisms/MostListenedPlaceholder.test.tsx
  apps/frontend/src/components/organisms/MostListenedPlaceholder.tsx
  apps/frontend/src/views/Dashboard.test.tsx
  apps/frontend/src/views/Dashboard.tsx
Due: pnpm prettier --write --ignore-path .gitignore

feat(frontend): remove library stats block from Home view (moved to Dashboard)
  apps/frontend/src/views/Home.test.tsx
  apps/frontend/src/views/Home.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(backend): remove dead console spies after pino migration
  apps/backend/src/infrastructure/database/__tests__/prisma-ai-chat-message.repository.test.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): harden dashboard controller guard and view prop wiring
  apps/frontend/src/hooks/controllers/useDashboardController.test.ts
  apps/frontend/src/views/Dashboard.test.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(frontend): drop unused stats field from useHomeController
  apps/frontend/src/hooks/controllers/useHomeController.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add /dashboard route and redirect /history → /dashboard
  apps/frontend/src/routes/Routing.test.tsx
  apps/frontend/src/routes/Routing.tsx
  apps/frontend/src/routes/routes.ts
  apps/frontend/src/views/History.test.tsx
  apps/frontend/src/views/History.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): swap History → Dashboard in nav items and fix Sidebar translation key
  apps/frontend/src/components/layouts/AppHeader.test.tsx
  apps/frontend/src/components/layouts/Sidebar.test.tsx
  apps/frontend/src/components/layouts/Sidebar.tsx
  apps/frontend/src/config/navigation.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(e2e): update history specs to target /dashboard route
  apps/frontend/tests/e2e/mocked/history.spec.ts
  apps/frontend/tests/e2e/real/library-history.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): fix missing beforeEach import and assert Dashboard absent from bottom bar
  apps/frontend/src/components/layouts/BottomNavigation.test.tsx
  apps/frontend/src/views/Dashboard.test.tsx
Due: pnpm prettier --write --ignore-path .gitignore

test(e2e): mock library stats for dashboard-routed history specs
  apps/frontend/tests/e2e/mocked/history.spec.ts
  apps/frontend/tests/e2e/mocked/sse.spec.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

refactor(docker): consolidate to compose.yml and drop docker-compose.yml
  README.md
  compose.yml
  docker-compose.yml
  skills/spotiarr-docker/SKILL.md
Due: pnpm prettier --write --ignore-path .gitignore
