Repository mralexsaavedra/spotiarr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "apps/backend/**/*.ts": ["pnpm --filter backend lint"],
  "apps/frontend/**/*.ts": ["pnpm --filter frontend lint"],
  "packages/shared/**/*.ts": ["pnpm --filter @spotiarr/shared lint"],
  "**/*.{ts,tsx,css,json,md,yml,yaml}": [
    "pnpm prettier --write --ignore-path .gitignore"
  ]
}

feat(backend): add getArtistByAnyId to FeedRepositoryPort with dual-ID detection
  apps/backend/src/infrastructure/database/followed-artist.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): migrate GetArtistDetailUseCase miss path to Deezer lookup (ADT-1)
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(frontend): add lazy SpotifyLinkButton and Deezer download routing
  apps/frontend/src/components/molecules/ArtistCard.tsx
  apps/frontend/src/components/molecules/PlaylistActions.tsx
  apps/frontend/src/components/molecules/SpotifyLinkButton.test.tsx
  apps/frontend/src/components/molecules/SpotifyLinkButton.tsx
  apps/frontend/src/hooks/controllers/useSearchController.ts
  apps/frontend/src/hooks/mutations/useResolveExternalUrl.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/services/external-url.service.ts
  apps/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): remove duplicate identity helpers superseded by shared package
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.ts
  apps/backend/src/infrastructure/database/followed-artist.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat: deezer track search + lazy spotify URL resolver (#65)
  apps/backend/prisma/migrations/20260603185239_add_external_url_cache/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/ports/external-url-cache.port.ts
  apps/backend/src/application/ports/spotify-url-lookup.port.ts
  apps/backend/src/application/use-cases/external-url/resolve-external-url.use-case.test.ts
  apps/backend/src/application/use-cases/external-url/resolve-external-url.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/external-url-cache.repository.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-catalog-search.adapter.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
  apps/backend/src/infrastructure/external/providers/spotify/spotify-url-lookup.client.ts
  apps/backend/src/presentation/controllers/external-url.controller.ts
  apps/backend/src/presentation/routes/external-url.routes.ts
  apps/backend/src/presentation/routes/index.ts
  apps/frontend/src/components/molecules/ArtistCard.tsx
  apps/frontend/src/components/molecules/PlaylistActions.tsx
  apps/frontend/src/components/molecules/SpotifyLinkButton.test.tsx
  apps/frontend/src/components/molecules/SpotifyLinkButton.tsx
  apps/frontend/src/hooks/controllers/useSearchController.ts
  apps/frontend/src/hooks/mutations/useResolveExternalUrl.ts
  apps/frontend/src/locales/en.json
  apps/frontend/src/locales/es.json
  apps/frontend/src/services/external-url.service.ts
  apps/frontend/src/views/ArtistDetail.tsx
  packages/shared/src/index.ts
  packages/shared/src/routes.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

chore(backend): remove dead Spotify clients after phase 3 migration (CLN-1)
  .env.example
  apps/backend/src/application/ports/album-tracks-provider.port.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/providers/spotify/spotify-catalog-search.adapter.ts
  apps/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(backend): remove dead Spotify clients after phase 3 migration (#68)
  .env.example
  apps/backend/src/application/ports/album-tracks-provider.port.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/providers/spotify/spotify-catalog-search.adapter.ts
  apps/backend/src/infrastructure/setup/environment.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): improve Deezer search quality and artist top tracks
  apps/backend/src/infrastructure/external/providers/deezer/deezer-catalog-search.adapter.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-catalog-search.adapter.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

refactor(backend): dedupe Deezer artist fetch and refresh cached image
  apps/backend/src/infrastructure/external/providers/deezer/deezer-catalog-search.adapter.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-catalog-search.adapter.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix: route Deezer-origin clicks to album detail and lazy artist link
  apps/backend/src/infrastructure/external/providers/deezer/deezer-catalog-search.adapter.ts
  apps/frontend/src/components/organisms/SearchAlbumGrid.tsx
  apps/frontend/src/components/organisms/TrackList.tsx
  apps/frontend/src/hooks/controllers/useSearchController.ts
  apps/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(frontend): hide Spotify link button when playlist URL is not Spotify
  apps/frontend/src/components/molecules/PlaylistActions.tsx
Due: pnpm prettier --write --ignore-path .gitignore

fix(frontend): lazy resolve Spotify URL for Deezer-origin playlists
  apps/frontend/src/components/molecules/PlaylistActions.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
Due: pnpm prettier --write --ignore-path .gitignore

fix(backend): refresh artist image from Deezer high-res on detail view
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.ts
  apps/backend/src/domain/helpers/deezer-image.helper.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-artist-lookup.adapter.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-catalog-search.adapter.ts
  apps/backend/src/infrastructure/external/providers/deezer/picture.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore: trim verbose comments and tighten error handling
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-catalog-search.adapter.ts
  apps/frontend/src/components/organisms/TrackList.tsx
  apps/frontend/src/hooks/controllers/useSearchController.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): improve Deezer search quality (covers, duration, top tracks, album type) (#69)
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.test.ts
  apps/backend/src/application/use-cases/artists/get-artist-detail.use-case.ts
  apps/backend/src/domain/helpers/deezer-image.helper.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-artist-lookup.adapter.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-catalog-search.adapter.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-catalog-search.adapter.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer.client.ts
  apps/backend/src/infrastructure/external/providers/deezer/picture.ts
  apps/frontend/src/components/molecules/PlaylistActions.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/components/organisms/SearchAlbumGrid.tsx
  apps/frontend/src/components/organisms/TrackList.tsx
  apps/frontend/src/hooks/controllers/useSearchController.ts
  apps/frontend/src/views/ArtistDetail.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.10.0
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

docs: add v1.10.0 changelog entry
  CHANGELOG.md
Due: pnpm prettier --write --ignore-path .gitignore

test(frontend): add useSearchController dispatch coverage (RISK-9, handleDownloadAlbum)
  apps/frontend/src/hooks/controllers/useSearchController.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

feat(shared): add isDeezerUrl and extractDeezerTrackId identity helpers
  apps/backend/src/application/services/artwork.service.test.ts
  apps/backend/src/application/services/artwork.service.ts
  packages/shared/src/identity.test.ts
  packages/shared/src/identity.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

test(frontend): add useSearchController dispatch coverage (RISK-9, handleDownloadAlbum) (#70)
  apps/frontend/src/hooks/controllers/useSearchController.test.ts
Due: pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(shared): widen ITrack.albumCoverUrl to allow null for Prisma compat
  packages/shared/src/index.ts
Due: pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): artwork service skips Spotify call for Deezer track URLs (#71)
  apps/backend/src/application/services/artwork.service.test.ts
  apps/backend/src/application/services/artwork.service.ts
  packages/shared/src/identity.test.ts
  packages/shared/src/identity.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): Deezer-first cascade for artwork backfill worker
  apps/backend/src/application/ports/artwork-backfill-sources.port.ts
  apps/backend/src/application/use-cases/artwork-backfill/process-artwork-backfill-batch.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/process-artwork-backfill-batch.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-artwork-source.service.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-artwork-source.service.ts
  apps/backend/src/infrastructure/external/spotify-artwork-source.service.ts
  apps/backend/src/infrastructure/services/noop-spotify-artwork-source.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat: single-track Deezer downloads via deezerTrack playlist kind
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/container.ts
  apps/frontend/src/components/organisms/TrackList.tsx
  apps/frontend/src/hooks/controllers/useSearchController.test.ts
  apps/frontend/src/hooks/controllers/useSearchController.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

fix: handle albumCoverUrl null type after ITrack widening
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/frontend/src/components/organisms/TrackList.tsx
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): PlaylistCache table with 24h TTL for Spotify playlist reads
  apps/backend/prisma/migrations/20260604134045_add_playlist_cache/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/ports/playlist-cache.port.ts
  apps/backend/src/application/use-cases/playlists/get-my-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-my-playlists.use-case.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview-tracks-page.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview-tracks-page.use-case.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/playlist-cache.repository.test.ts
  apps/backend/src/infrastructure/database/playlist-cache.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): Deezer-first cascade for artwork backfill worker (#72)
  apps/backend/src/application/ports/artwork-backfill-sources.port.ts
  apps/backend/src/application/use-cases/artwork-backfill/process-artwork-backfill-batch.use-case.test.ts
  apps/backend/src/application/use-cases/artwork-backfill/process-artwork-backfill-batch.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-artwork-source.service.test.ts
  apps/backend/src/infrastructure/external/providers/deezer/deezer-artwork-source.service.ts
  apps/backend/src/infrastructure/external/spotify-artwork-source.service.ts
  apps/backend/src/infrastructure/services/noop-spotify-artwork-source.service.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

feat: single-track Deezer downloads via deezerTrack playlist kind (#73)
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/container.ts
  apps/frontend/src/hooks/controllers/useSearchController.test.ts
  apps/frontend/src/hooks/controllers/useSearchController.ts
  packages/shared/src/index.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm --filter @spotiarr/shared lint, pnpm prettier --write --ignore-path .gitignore

feat(backend): PlaylistCache table with 24h TTL for Spotify playlist reads (#74)
  apps/backend/prisma/migrations/20260604134045_add_playlist_cache/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/ports/playlist-cache.port.ts
  apps/backend/src/application/use-cases/playlists/get-my-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-my-playlists.use-case.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview-tracks-page.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview-tracks-page.use-case.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/playlist-cache.repository.test.ts
  apps/backend/src/infrastructure/database/playlist-cache.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.11.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(backend): persist albumCoverUrl + resolve metadata via Deezer IDs
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/infrastructure/database/prisma-track.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

fix(backend): persist albumCoverUrl + resolve metadata via Deezer IDs (#75)
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
  apps/backend/src/infrastructure/database/prisma-track.repository.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.11.1
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(playlists): reconcile Spotify preview totals
  apps/backend/src/application/ports/playlist-cache.port.ts
  apps/backend/src/application/services/spotify.service.test.ts
  apps/backend/src/application/services/spotify.service.ts
  apps/backend/src/application/use-cases/playlists/get-my-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-my-playlists.use-case.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview-tracks-page.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview-tracks-page.use-case.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/playlist-cache.repository.test.ts
  apps/backend/src/infrastructure/database/playlist-cache.repository.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.ts
  apps/frontend/src/components/organisms/Playlist.test.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/hooks/controllers/usePlaylistController.ts
  apps/frontend/src/hooks/controllers/usePlaylistPreviewController.ts
  apps/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

fix(playlists): reconcile Spotify preview totals (#77)
  apps/backend/src/application/ports/playlist-cache.port.ts
  apps/backend/src/application/services/spotify.service.test.ts
  apps/backend/src/application/services/spotify.service.ts
  apps/backend/src/application/use-cases/playlists/get-my-playlists.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-my-playlists.use-case.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview-tracks-page.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview-tracks-page.use-case.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/get-playlist-preview.use-case.ts
  apps/backend/src/container.ts
  apps/backend/src/infrastructure/database/playlist-cache.repository.test.ts
  apps/backend/src/infrastructure/database/playlist-cache.repository.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.test.ts
  apps/backend/src/infrastructure/external/spotify-playlist-library.service.ts
  apps/backend/src/infrastructure/external/spotify-playlist.client.ts
  apps/frontend/src/components/organisms/Playlist.test.tsx
  apps/frontend/src/components/organisms/Playlist.tsx
  apps/frontend/src/hooks/controllers/usePlaylistController.ts
  apps/frontend/src/hooks/controllers/usePlaylistPreviewController.ts
  apps/frontend/src/views/PlaylistPreview.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint, pnpm prettier --write --ignore-path .gitignore

chore(release): bump to v1.11.2
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-path .gitignore

fix(backend): pass tracks fallback to executeAlbumTrackRef metadata
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.test.ts
  apps/backend/src/application/use-cases/playlists/create-playlist.use-case.ts
Due: pnpm --filter backend lint, pnpm prettier --write --ignore-path .gitignore
